<template>
  <v-alert v-if="issues.length > 0" class="account-errors" type="error">
    <ul>
      <li v-for="issue in issues" :key="issue">
        {{ issue }}
      </li>
    </ul>
  </v-alert>
</template>

<script>
export default {
  props: {
    issues: { type: Array },
  },
};
</script>

<style lang="scss" scoped>
.account-errors {
  margin: 0 8px;
  text-align: left;
}
</style>
