<template>
  <v-col cols="12">
    <v-card>
      <v-card-title class="subheading"
        >Admin Tools
        <v-spacer></v-spacer>
        <v-btn icon @click="expandAdminTools = !expandAdminTools">
          <v-icon>{{ expandAdminTools ? icon.up : icon.down }}</v-icon>
        </v-btn>
      </v-card-title>
      <v-slide-y-transition>
        <v-card-text v-show="expandAdminTools">
          <v-divider></v-divider>
          <v-list>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title>Account Status Check</v-list-item-title>
                <v-list-item-subtitle
                  v-if="adminData.accountStatus.result != null"
                  ><a :href="adminData.accountStatus.details.url">{{
                    adminData.accountStatus.result
                  }}</a></v-list-item-subtitle
                >
                <v-list-item-subtitle v-else
                  >Account check has not been run.</v-list-item-subtitle
                >
              </v-list-item-content>
              <v-list-item-action
                ><v-btn @click="$emit('runCheck')"
                  >Run Check</v-btn
                ></v-list-item-action
              >
            </v-list-item>
          </v-list>
          <v-divider />
          <div class="mt-2">
            <div class="mb-2">Free Text History</div>
            <text-history :cmsId="cmsId" />
          </div>
        </v-card-text>
      </v-slide-y-transition>
    </v-card>
  </v-col>
</template>

<script>
import TextHistory from "@/components/common/TextHistory";
import { icon } from "@/utils/constants";

export default {
  props: {
    adminData: { type: Object },
    cmsId: { default: null },
  },
  components: {
    "text-history": TextHistory,
  },
  data() {
    return {
      expandAdminTools: false,
    };
  },
  created() {
    this.icon = icon;
  },
};
</script>
