<template>
  <base-page>
    <template v-slot:toolbar-title>User Profile of {{ userString }}</template>
    <template v-slot:header>
      <person-picker
        ref="personPicker"
        label="Choose another person"
        v-model="selectedCmsId"
        required
      ></person-picker>
    </template>
    <template v-slot:toolbar-right>
      <user-epr-link :login="username" label="EPR" />
    </template>
    <template v-slot:body>
      <account-check :issues="account_issues" />
      <v-row>
        <admin-tools
          v-if="isAdmin"
          :cmsId="cmsId"
          :adminData="adminData"
          @runCheck="runAccountStatusCheck"
        />

        <template v-for="cardKey in cards.keys()">
          <v-col
            class="text-left"
            cols="12"
            sm="6"
            md="6"
            lg="4"
            xl="3"
            v-bind:key="'cardKey_' + cardKey"
            v-if="
              cardsData[cardKey] != null &&
              fieldLabels[cardKey] != null &&
              fieldLabels[cardKey].size > 0
            "
          >
            <v-card height="650" style="overflow-y: auto">
              <v-card-title class="subheading">{{
                cards.get(cardKey)
              }}</v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <v-list>
                  <v-list-item
                    v-for="key in fieldLabels[cardKey].keys()"
                    v-bind:key="key"
                  >
                    <v-list-item-subtitle>
                      {{ fieldLabels[cardKey].get(key) }}
                    </v-list-item-subtitle>
                    <template v-if="Array.isArray(cardsData[cardKey][key])">
                      <v-list-item-action-text
                        >Number of items:
                        {{
                          cardsData[cardKey][key].length
                        }}</v-list-item-action-text
                      >
                      <v-list-item-action>
                        <details-dialog v-model="dialogStates[key]">
                          <template v-slot:title>{{
                            fieldLabels[cardKey].get(key)
                          }}</template>
                          <template v-slot:body>
                            <v-list>
                              <v-list-item
                                v-for="e in cardsData[cardKey][key]"
                                :key="cardKey + key + e"
                              >
                                <v-list-item-title>{{ e }}</v-list-item-title>
                              </v-list-item>
                            </v-list>
                          </template>
                          <template v-slot:activator="{ on }">
                            <v-btn color="primary" icon ripple>
                              <v-icon v-on="on">{{ icon.list }}</v-icon>
                            </v-btn>
                          </template>
                        </details-dialog>
                      </v-list-item-action>
                    </template>
                    <template v-else>
                      <v-list-item-title
                        :class="assignCellClass(key, cardsData[cardKey][key])"
                      >
                        <inst-profile-link
                          v-if="['inst_code', 'instCode'].includes(key)"
                          :instCode="cardsData[cardKey][key]"
                        />
                        <span v-else>
                          {{
                            cardsData[cardKey][key] === null
                              ? "---"
                              : cardsData[cardKey][key]
                          }}
                        </span>
                      </v-list-item-title>
                    </template>
                  </v-list-item>
                </v-list>
              </v-card-text>
            </v-card>
          </v-col>
        </template>

        <user-timelines
          :cmsId="selectedCmsId"
          :assignCellClass="assignCellClass"
        />

        <user-history :cmsId="selectedCmsId" />

        <parsed-timelines :cmsId="selectedCmsId" />

        <edit-information :cmsId="selectedCmsId" />
      </v-row>
    </template>
  </base-page>
</template>

<script>
import api from "@/api";
import { icon } from "@/utils/constants";
import { mapGetters } from "vuex";
import PersonPicker from "@/components/common/inputs/PersonPicker";
import DetailsDialog from "@/components/common/DetailsDialog";
import InstProfileLink from "@/components/common/links/InstProfileLink";
import UserEprLink from "@/components/common/links/UserEprLink";
import AccountCheck from "./AccountCheck";

import AdminTools from "./AdminTools";
import UserTimelines from "./UserTimelines";
import UserHistory from "./UserHistory";
import ParsedTimelines from "./ParsedTimelines";
import EditInformation from "./EditInformation";

export default {
  name: "UserProfile",
  components: {
    "account-check": AccountCheck,
    "person-picker": PersonPicker,
    "details-dialog": DetailsDialog,
    "inst-profile-link": InstProfileLink,
    "user-epr-link": UserEprLink,

    "admin-tools": AdminTools,
    "user-timelines": UserTimelines,
    "user-history": UserHistory,
    "parsed-timelines": ParsedTimelines,
    "edit-information": EditInformation,
  },
  props: {
    cmsId: null,
  },
  data() {
    return {
      showPhdDateMenu: false,
      viewerData: { flags: [] },
      selectedCmsId: null,
      hrId: null,
      account_issues: [],
      parsedPagination: { sortBy: ["start_date"], sortDesc: [true] },
      fieldLabels: {
        oldDbInfo: new Map([
          ["cmsId", "CMS ID"],
          ["hrId", "HR ID"],
          ["lastName", "Last Name"],
          ["firstName", "First Name"],
          ["title", "Title"],
          ["loginId", "Username"],
          ["niceLogin", "Username (nice)"],
          ["instCode", "Institute"],
          ["instCodeOther", "Also at"],
          ["isAuthor", "Author?"],
          ["isAuthorSuspended", "EPR-Suspended?"],
          ["isAuthorBlock", "Author-Blocked?"],
          ["status", "CMS Status"],
          ["activity", "CMS Activity"],
          ["project", "CMS Project"],
          ["localPercent", "Percent at CERN"],
          ["dateCreation", "Account Created on"],
          ["dateRegistration", "CMS Registered on"],
          ["zhFlag", "ZH flag"],
          ["physicsAccess", "Physics Access"],
          ["duties", "Team Duties"],
          ["flags", "iCMS flags"],
        ]),
        // this is hidden at the moment - until the old DB is phased out and all the necessary info becomes available in the new one
        personInfo: new Map([
          ["cms_id", "CMS ID"],
          ["hr_id", "HR ID"],
          ["last_name", "Last Name"],
          ["first_name", "First Name"],
          ["inst_code", "Institute"],
          ["status", "CMS Status"],
          ["is_author", "Authorship"],
          ["activity", "CMS Activity"],
          ["login", "Username"],
          ["flags", "iCMS Flags"],
          ["team_duties", "Team Duties"],
        ]),
        eprData: new Map(),
        ldapInfo: new Map([
          ["full_name", "Full Name"],
          ["login", "Username"],
          ["gid", "GID"],
          ["account_status", "Account Status"],
          ["department", "Department"],
          ["office", "Office"],
          ["po_box", "PO Box"],
          ["mail", "E-mail"],
          ["in_zh", "Is in ZH?"],
          ["cms_egroups", "CMS e-groups"],
        ]),
        restrictedInfo: new Map([
          ["cernId", "CERN ID"],
          ["cmsTime", "CMS Time"],
          ["datetimeModified", "Modified on"],
          ["dateEndSign", "Date End Sign"],
          ["dateAuthorUnblock", "Unblocked on"],
          ["dateAuthorBlock", "Blocked on"],
          ["dateAuthorSuspension", "Suspended on"],
          ["dateAuthorUnsuspension", "Unsuspended on"],
          ["sex", "Gender"],
          ["nationality", "Nationality"],
          ["nationality2", "2nd Nationality"],
          ["status", "CERN Status"],
          ["birthDate", "Birth Date"],
          ["exDate", "Departure Date"],
          ["remarks", "Remarks"],
          ["remarksSecr", "Secretariat Remarks"],
          ["priEnabled", "CERN account active"],
        ]),
        moInfo: new Map(),
        authorStats: new Map(),
      },
      //cardsData has been moved to computedProperties
      cardsDataSource: {
        oldDbInfo: {},
        personInfo: {},
        ldapInfo: {},
        eprData: {},
        restrictedInfo: {},
        moInfo: {},
        authorStats: {},
      },

      expandEditZone: false,

      adminData: {
        accountStatus: {
          operation: null,
          result: null,
          details: { url: null },
        },
      },

      // meant to control
      dialogStates: {},
    };
  },
  computed: {
    ...mapGetters("user", ["userId", "isAdmin", "isDiversityOfficeChair"]),
    cards() {
      return new Map(
        [
          ["oldDbInfo", "CMS DB Information"],
          // masking this one for the moment as not all the necessary(?) information is already synchronized to the new database
          // ['personInfo', 'CMS DB Information'],
          ["ldapInfo", "Person LDAP Info"],
          ["eprData", "EPR Contributions"],
          ["restrictedInfo", "Restricted Information"],
          ["moInfo", "MO Information"],
          ["authorStats", "Signed Papers"],
        ]
          // Don't show restricted info to non-admins
          .filter(
            (card) =>
              this.isAdmin ||
              this.isDiversityOfficeChair ||
              card[0] !== "restrictedInfo"
          )
      );
    },

    userString() {
      return this.cardsData.personInfo == null
        ? ""
        : this.cardsData.personInfo.first_name +
            " " +
            this.cardsData.personInfo.last_name;
    },

    cardsData() {
      var data = this.cardsDataSource;
      if (data.personInfo.flags) {
        data.oldDbInfo["flags"] = data.personInfo.flags;
      }
      if (data.personInfo.team_duties) {
        data.oldDbInfo["duties"] = data.personInfo.team_duties;
      }
      return data;
    },
    username() {
      return (
        (this.cardsDataSource &&
          this.cardsDataSource.ldapInfo &&
          this.cardsDataSource.ldapInfo.login) ||
        null
      );
    },
  },
  watch: {
    selectedCmsId(newValue, oldValue) {
      this.$router
        .push({
          name: "user-profile",
          params: { cmsId: this.selectedCmsId },
        })
        .catch(() => {});
      this.resetData();
      console.debug("CMS ID changed from " + oldValue + " to " + newValue);
      if (newValue != oldValue) {
        if (
          !this.cardsData.personInfo.cms_id ||
          this.cardsData.personInfo.cms_id != newValue
        ) {
          // this info is already likely to be in place (selectedCmsId is updated from setPersonInfo callback)
          new api.UserInfoCall()
            .setCmsId(newValue)
            .get()
            .then(this.setUserInfo);
        }

        new api.EprAggregatesCall({
          cmsId: this.selectedCmsId,
          instCode: null,
          projectCode: null,
          year: null,
        })
          .get()
          .then(this.setEprAggregates);

        new api.OldDbPersonInfoCall()
          .setCmsId(this.selectedCmsId)
          .get()
          .then(this.setOldDbPersonInfo)
          .catch(this.relayApiError);

        if (this.isAdmin || this.isDiversityOfficeChair) {
          new api.RestrictedPersonInfoCall()
            .setCmsId(this.selectedCmsId)
            .get()
            .then(this.setRestrictedInfo)
            .catch(this.relayApiError);
        }

        new api.PersonMoInfoCall()
          .setCmsId(this.selectedCmsId)
          .get()
          .then(this.setMoInfo)
          .catch(this.relayApiError);

        new api.AuthorStatsCall()
          .setCmsId(this.selectedCmsId)
          .get()
          .then(this.setAuthorStats)
          .catch(this.relayApiError);
      } else {
        console.debug("New CMS ID the same as the old one: " + oldValue);
      }
    },
    async hrId(newValue) {
      const ldapInfo = await new api.UserLdapInfoCall().setHrId(newValue).get();
      this.setLdapInfo(ldapInfo);
      if (this.isAdmin) {
        const account_check = await new api.EgroupInfo()
          .setHrId(newValue)
          .get();
        if (!account_check.check_passed) {
          this.account_issues = account_check.issues_found;
        }
      }
    },
  },
  methods: {
    assignCellClass(label, value) {
      /**
       * Plenty of hard-coded strings here but they had to go somewhere, probably...
       */
      label = String(label).toLowerCase();
      value = String(value).toLowerCase();
      if (
        ["isauthorblock", "isauthorsuspended", "issuspended"].includes(label)
      ) {
        return ["true"].includes(value) ? "cell-attention" : "cell-success";
      } else if (["author", "isauthor", "physicsaccess"].includes(label)) {
        return ["true"].includes(value) ? "cell-success" : "cell-attention";
      } else if (["in_zh", "zhflag"].includes(label)) {
        return ["false", "null"].includes(value)
          ? "cell-issue"
          : "cell-success";
      }
      return "";
    },
    setUserInfo(data) {
      console.debug("Updating User Info data.");
      data.flags = data.flags != null ? data.flags.sort() : null;

      if (data["team_duties"] != null) {
        data["team_duties"] = Object.entries(data["team_duties"]).map(
          ([k, v]) => k + ": " + v
        );
      }
      this.cardsData.personInfo = data;

      this.hrId = data["hr_id"];
      if (this.selectedCmsId != data.cms_id) {
        this.selectedCmsId = data["cms_id"];
      }
    },
    resetData() {
      this.cardsData.ldapInfo = {};
      this.cardsData.restrictedInfo = {};
      this.adminData = {
        accountStatus: {
          operation: null,
          result: null,
          details: { url: null },
        },
      };
    },
    setEprAggregates(data) {
      var compo = this;
      this.cardsData.eprData = {};
      data.forEach((e) => {
        this.cardsData.eprData[e.year] = e.aggregate_value.toFixed(2);
      });
      //faking the labels translation
      compo.fieldLabels.eprData = new Map(
        data
          .map((e) => [e.year, e.year])
          .sort()
          .reverse()
      );
    },
    setOldDbPersonInfo(data) {
      this.cardsData.oldDbInfo = data;
    },
    setLdapInfo(data) {
      console.debug("Setting new LDAP data...");
      data.cms_egroups =
        data.cms_egroups != null ? data.cms_egroups.sort() : null;
      this.cardsData.ldapInfo = data;
    },

    setRestrictedInfo(data) {
      console.debug("Got the restricted info!");
      this.cardsData.restrictedInfo = data;
    },
    setMoInfo(data) {
      console.debug("Got the MO info!");
      this.fieldLabels.moInfo = new Map(data.map((e) => [e.year, e.year]));
      data.forEach((e) => {
        console.debug(e);
        var value = "no";
        if (e.mo === true) {
          if (e.mo_type == "phd") {
            value = "yes (" + e.mo_ic + ", FA: " + e.mo_fa + ")";
          } else {
            value = e.mo_type;
          }
        }
        this.cardsData.moInfo[e.year] = value;
      });
    },

    setAuthorStats(data) {
      console.debug("Got the author stats info!");
      this.fieldLabels.authorStats = new Map(
        Object.keys(data.counts)
          .sort()
          .reverse()
          .map((e) => [e, e])
      );
      this.cardsData.authorStats = data.counts;
    },

    relayApiError(error) {
      console.debug("Request status is " + error.response.status);
      if (error.response.status == 403) {
        console.debug(
          "We cannot show the timelines due to access restrictions so we will silently keep that section hidden."
        );
      } else {
        this.$store.dispatch(
          "notification/errorMessage",
          "AJAX error " +
            error.response.status +
            ": " +
            error.response.data.message
        );
      }
    },
    getTluHeaders() {
      var baseColumns = [
        { text: "Year", value: "year", sortable: true },
        { text: "Date", value: "timestamp", sortable: true },
        { text: "Status", value: "status", sortable: true },
        { text: "Institute", value: "instCode", sortable: true },
        { text: "Activity", value: "category", sortable: true },
        { text: "Authorship", value: "isAuthor", sortable: true },
        { text: "EPR Suspension", value: "isSuspended", sortable: true },
        { text: "Project", value: "mainProject", sortable: true },
        { text: "Author due", value: "dueAuthor", sortable: true },
        { text: "Applicant due", value: "dueApplicant", sortable: true },
        { text: "Year fraction", value: "yearFraction", sortable: true },
      ];
      if (this.isAdmin) {
        baseColumns.push({ text: "Comment", value: "comment", sortable: true });
      }
      return baseColumns;
    },
    getParsedLinesHeaders() {
      return [
        { text: "Start Date", value: "start_date", sortable: true },
        { text: "End Date", value: "end_date", sortable: true },
        { text: "Institute", value: "inst_code", sortable: true },
        { text: "CMS Status", value: "status_cms", sortable: true },
        { text: "CMS Activity", value: "activity_cms", sortable: true },
      ];
    },
    runAccountStatusCheck() {
      new api.AccountStatusCheckCall()
        .setHrId(this.cardsData.personInfo.hr_id)
        .get()
        .then((data) => {
          this.adminData.accountStatus = data;
        });
    },
  },
  mounted() {
    // we could optimize this bit by saving one API call whenever ppl consult their own profiles but who'd like to debug that?
    // this call grabs the viewing user's info to determine some privileges and the like
    new api.UserInfoCall().get().then((data) => {
      this.viewerData = data;
    });
    // this call grabs the user's info by the cmsId prop - this one will also set the selected CMS ID which in turn will trigger all other updates
    new api.UserInfoCall()
      .setCmsId(this.cmsId || this.userId)
      .get()
      .then(this.setUserInfo);
  },
  created() {
    this.icon = icon;
  },
};
</script>

<style>
.cell-success {
  color: green;
}
.cell-attention {
  color: orange;
}
.cell-issue {
  color: red;
}
</style>
