<template>
  <v-col class="text-left" cols="12" md="6" v-if="parsedLines.length > 0">
    <v-card>
      <v-card-title class="subheading"
        >Parsed Time Lines
        <v-spacer></v-spacer>
        <v-btn icon @click="expandParsedLines = !expandParsedLines">
          <v-icon>{{ expandParsedLines ? icon.up : icon.down }}</v-icon>
        </v-btn>
      </v-card-title>
      <v-slide-y-transition>
        <v-card-text v-show="expandParsedLines">
          <v-divider></v-divider>
          <v-data-table
            :headers="headers"
            :items="parsedLines"
            :options="parsedPagination"
            :footer-props="{ 'items-per-page-options': [-1] }"
          />
        </v-card-text>
      </v-slide-y-transition>
    </v-card>
  </v-col>
</template>

<script>
import api from "@/api";
import { icon } from "@/utils/constants";

export default {
  props: {
    cmsId: { default: null },
  },
  data() {
    return {
      parsedLines: [],
      expandParsedLines: false,

      parsedPagination: { sortBy: ["start_date"], sortDesc: [true] },
    };
  },
  computed: {
    headers() {
      return [
        { text: "Start Date", value: "start_date", sortable: true },
        { text: "End Date", value: "end_date", sortable: true },
        { text: "Institute", value: "inst_code", sortable: true },
        { text: "CMS Status", value: "status_cms", sortable: true },
        { text: "CMS Activity", value: "activity_cms", sortable: true },
      ];
    },
  },

  methods: {
    init() {
      if (this.cmsId === null) return;
      new api.ParsedHistoryLinesCall()
        .setCmsId(this.cmsId)
        .get()
        .then((data) => (this.parsedLines = data));
    },
  },
  watch: {
    cmsId() {
      this.init();
    },
  },
  mounted() {
    this.init();
  },
  created() {
    this.icon = icon;
  },
};
</script>
