<template>
  <div>
    <base-page
      @newEntry="summonEditor(null)"
      :toolbar-actions="
        canEdit
          ? [
              {
                name: 'newEntry',
                icon: icon.add,
                tooltip: 'Define a new ex-officio mandate...',
              },
            ]
          : []
      "
    >
      <template v-slot:toolbar-left></template>
      <template v-slot:toolbar-title>Ex-Officio Mandates</template>
      <template v-slot:header></template>
      <template v-slot:body>
        <data-table
          :headers="headers"
          :items="rows"
          :rows-per-page-items="[-1]"
          item-key="id"
        >
          <template v-slot:item="{ item }">
            <tr class="text-left">
              <td>{{ item.from }}</td>
              <td>{{ item.fromPos }}</td>
              <td>{{ item.to }}</td>
              <td>{{ item.toPos }}</td>
              <td>{{ item.activeSince }}</td>
              <td>{{ item.activeTill }}</td>
              <td>{{ item.modified.replace("T", " ") }}</td>
              <td v-if="canEdit">
                <v-icon @click="summonEditor(item.id)">{{ icon.edit }}</v-icon>
              </td>
            </tr>
          </template>
        </data-table>
      </template>
    </base-page>
    <editor
      ref="editor"
      :value="editedId"
      v-if="canEdit"
      @updated="mandateUpdated"
    >
      <template v-slot:activator><p></p></template>
    </editor>
  </div>
</template>

<script>
import api from "@/api";
import { icon } from "@/utils/constants";
import { mapState } from "vuex";
import ExOfficioEditor from "./ExOfficioEditor.vue";

export default {
  name: "ExOfficioMandates",
  components: {
    editor: ExOfficioEditor,
  },
  data() {
    return {
      editedId: null,
      mandates: [],
    };
  },
  computed: {
    ...mapState("user", { user: "data" }),
    canEdit() {
      var flags = this.user.flags;
      return (
        flags != null && flags != "undefined" && flags.includes("ICMS_rootsecr")
      );
    },
    headers() {
      var headers = [
        { text: "Source unit", value: "from" },
        { text: "Source position", value: "fromPos" },
        { text: "Destination unit", value: "to" },
        { text: "Destination position", value: "toPos" },
        { text: "Active since", value: "activeSince" },
        { text: "Active until", value: "activeTill" },
        { text: "Last modified", value: "modified" },
      ];
      if (this.canEdit) {
        headers.push({ text: "Actions", value: null });
      }
      return headers;
    },
    rows() {
      return this.mandates.map((e) => ({
        id: e.id,
        modified: e.last_modified,
        from: e.src_unit_domain + " " + e.src_unit_type,
        fromPos:
          "level " +
          e.src_position_level +
          (e.src_position_name != null ? ", " + e.src_position_name : ""),
        to: e.dst_unit_domain + " " + e.dst_unit_type,
        toPos:
          "level " +
          e.dst_position_level +
          (e.dst_position_name != null ? ", " + e.dst_position_name : ""),
        activeSince: e.start_date,
        activeTill: e.end_date,
      }));
    },
  },
  methods: {
    fetchMandates() {
      new api.ExOfficioMandatesCall().get().then(this.setMandates);
    },
    setMandates(data) {
      this.mandates = data;
    },
    mandateUpdated(data) {
      var idx = this.mandates.findIndex((m) => m.id == data.id);
      this.$set(this.mandates, idx >= 0 ? idx : this.mandates.length, data);
    },
    summonEditor(id) {
      this.editedId = id;
      console.debug("Calling the editor for id: " + id);
      this.$refs.editor.show();
    },
  },
  mounted() {
    this.fetchMandates();
  },
  created() {
    this.icon = icon;
  },
};
</script>
