<template>
  <edit-dialog ref="dialog" @reset="resetForm" @submit="submitData">
    <template v-slot:activator="{ on }">
      <slot name="activator" :on="on"> </slot>
    </template>
    <template v-slot:header>
      {{ headerMessage }}
    </template>
    <template v-slot:fields>
      <v-text-field
        label="Start date"
        v-model="startDate"
        type="date"
        clearable
      ></v-text-field>
      <v-text-field
        label="End date"
        v-model="endDate"
        type="date"
        clearable
      ></v-text-field>
      <v-autocomplete
        :items="unitOptions"
        :item-text="'label'"
        :item-value="'id'"
        label="Source unit"
        v-model="srcUnitId"
        required
        clearable
      ></v-autocomplete>
      <v-text-field
        label="Source position level"
        v-model="srcPositionLevel"
        type="number"
        clearable
      ></v-text-field>
      <v-autocomplete
        label="Source position"
        :items="srcPositionOptions"
        v-model="srcPositionName"
        clearable
      ></v-autocomplete>
      <v-autocomplete
        :items="unitOptions"
        :item-text="'label'"
        :item-value="'id'"
        label="Destination unit"
        v-model="dstUnitId"
        required
        clearable
      ></v-autocomplete>
      <v-text-field
        label="Destination position level"
        v-model="dstPositionLevel"
        type="number"
        clearable
      ></v-text-field>
      <v-text-field
        label="Destination position name"
        v-model="dstPositionName"
        clearable
      ></v-text-field>
    </template>
  </edit-dialog>
</template>

<script>
import api from "@/api";
import EditDialog from "@/components/common/inputs/EditDialog";

export default {
  name: "ExOfficioEditor",
  components: {
    "edit-dialog": EditDialog,
  },
  data() {
    return {
      id: null,
      startDate: null,
      endDate: null,
      srcUnitId: null,
      dstUnitId: null,
      srcPositionLevel: null,
      dstPositionLevel: null,
      srcPositionName: null,
      dstPositionName: null,
      // something to be edited
      existingMandate: null,
      // options
      unitOptions: [],
      positionsStore: {},
      // modals
      modalStartDate: false,
      modalEndDate: false,
    };
  },
  props: {
    // id of the entry to be edited or null
    value: null,
  },
  mounted() {
    // this one will probably do nothing anyway as the component starts out with a null value
    this.loadMandate();
    // units can be loaded once only and stored in the component ever since
    this.loadUnits();
  },
  computed: {
    srcPositionOptions() {
      return (this.positionsStore[this.srcUnitId] || []).map((e) => e.name);
    },
    dstPositionOptions() {
      return (this.positionsStore[this.dstUnitId] || []).map((e) => e.name);
    },
    headerMessage() {
      return this.id === null
        ? "Define new ex-officio rule"
        : "Edit ex-officio rule #" + this.id;
    },
  },
  watch: {
    value(newValue) {
      console.debug("The new mandate id is " + newValue);
      // formResetting should be triggered from existingMandate's watcher
      if (this.value != null) {
        this.loadMandate();
      } else {
        this.existingMandate = null;
      }
    },
    existingMandate() {
      this.resetForm();
    },
    srcUnitId(newValue) {
      this.loadPositions(newValue);
    },
    dstUnitId(newValue) {
      this.loadPositions(newValue);
    },
  },
  methods: {
    async submitData() {
      const data = await new api.ExOfficioMandatesCall()
        .setId(this.id)
        .setSrcUnitId(this.srcUnitId)
        .setDstUnitId(this.dstUnitId)
        .setSrcPositionLevel(Number(this.srcPositionLevel))
        .setDstPositionLevel(Number(this.dstPositionLevel))
        .setSrcPositionName(this.srcPositionName || null)
        .setDstPositionName(this.dstPositionName || null)
        .setStartDate(this.startDate)
        .setEndDate(this.endDate)
        .removeBlankFields()
        .post();

      this.$store.dispatch("notification/infoMessage", "Mandate saved well!");
      this.$refs.dialog.beforeClose();
      this.$emit("updated", data);
    },
    async loadMandate() {
      if (this.value != null) {
        const data = await new api.ExOfficioMandateCall()
          .setId(this.value)
          .get();
        this.existingMandate = data;
        this.resetForm();
      }
    },
    async loadUnits() {
      // load all the org units to choose the position for
      const data = await new api.OrgUnitsCall().setActive(true).get();
      this.unitOptions = data.map((e) => ({
        id: e.id,
        label: e.domain + " " + e.type,
        type: e.type,
      }));
    },
    updateUnit(unitData) {
      // this method can be called from wrapping component to update the list of units available within the editor
      var index = this.unitOptions.findIndex((e) => e.id == unitData.id);
      this.$set(this.unitOptions, index > 0 ? index : this.unitOptions.length, {
        id: unitData.id,
        label: unitData.domain + " " + unitData.type,
      });
    },
    async loadPositions(unitId) {
      const data = await new api.OrgChartPositionsCall()
        .setUnitId(unitId)
        .get();
      this.$set(this.positionsStore, unitId, data);
    },
    resetForm() {
      // reinitialize the form to empty or restore the values stored for current unit
      if (this.existingMandate == null) {
        this.id = null;
        this.startDate = null;
        this.endDate = null;
        this.srcUnitId = null;
        this.dstUnitId = null;
        this.srcPositionLevel = null;
        this.dstPositionLevel = null;
        this.srcPositionName = null;
        this.dstPositionName = null;
      } else {
        this.id = this.existingMandate.id;
        this.startDate = this.existingMandate.start_date;
        this.endDate = this.existingMandate.end_date;
        this.srcUnitId = this.existingMandate.src_unit_id;
        this.dstUnitId = this.existingMandate.dst_unit_id;
        this.srcPositionLevel = this.existingMandate.src_position_level;
        this.dstPositionLevel = this.existingMandate.dst_position_level;
        this.srcPositionName = this.existingMandate.src_position_name;
        this.dstPositionName = this.existingMandate.dst_position_name;
      }
    },
    show() {
      this.$refs.dialog.show();
    },
  },
};
</script>
