<template>
  <div>
    <base-page
      :toolbar-actions="
        (canEdit
          ? [
              {
                name: 'editUnit',
                icon: icon.edit,
                tooltip: 'Edit current unit...',
              },
              {
                name: 'addTenure',
                icon: icon.add_person,
                tooltip: 'Register a new tenure with current unit...',
              },
            ]
          : []
        ).concat(
          canAddUnits
            ? [
                {
                  name: 'addUnit',
                  icon: icon.add,
                  tooltip: 'Add new unit...',
                },
              ]
            : []
        )
      "
      @editUnit="summonUnitEditor(selectedUnitId)"
      @addTenure="summonTenureEditor(null)"
      @addUnit="summonUnitEditor(null)"
    >
      <template v-slot:toolbar-left>
        <v-menu
          bottom
          right
          :close-on-content-click="false"
          v-model="showUnitsMenu"
        >
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" icon>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-icon v-bind="attrs" v-on="on"> {{ icon.menu }}</v-icon>
                </template>
                <span>Browse the CMS structure...</span>
              </v-tooltip>
            </v-btn>
          </template>
          <v-card max-height="650" min-width="400" style="overflow-y: auto">
            <v-card-title>
              <v-text-field
                v-model="searchUnit"
                label="Search for a unit"
                hide-details
                clearable
                :clear-icon="icon.clear"
              ></v-text-field>
            </v-card-title>
            <v-card-text>
              <v-treeview
                v-model="tree"
                :search="searchUnit"
                :open-on-click="true"
                activatable
                :items="unitsTree"
              >
                <template v-slot:label="{ item }">
                  <span v-on:click="pickUnit(item.id)">{{ item.name }}</span>
                </template>
              </v-treeview>
            </v-card-text>
            <v-card-actions v-if="canAddUnits">
              <v-spacer></v-spacer>
              <v-btn text @click="$router.push({ name: 'org-positions' })"
                ><v-icon>{{ icon.seat }}</v-icon> Positions</v-btn
              >
              <v-spacer></v-spacer>
              <v-btn text @click="$router.push({ name: 'exofficio-mandates' })"
                ><v-icon>{{ icon.extension }}</v-icon> Ex-Officio Rules</v-btn
              >
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-menu>
        <v-tooltip v-if="parentUnitId" bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on"
              ><v-icon @click="goToParent">{{ icon.up }}</v-icon></v-btn
            >
          </template>
          <span>Go up one level</span>
        </v-tooltip>
      </template>
      <template v-slot:toolbar-title>{{ title }}</template>

      <template v-slot:header>
        <tenures-filter ref="filter" @change="onFilterChange"></tenures-filter>
      </template>
      <template v-slot:body>
        <data-table
          :headers="headers"
          :items="filteredTenures"
          :search="search"
          :footer-props="{ 'items-per-page-options': [-1] }"
        >
          <template v-if="canEdit" v-slot:[`item.actions`]="props">
            <v-row no-gutters>
              <v-col cols="4">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn
                      text
                      icon
                      @click.stop="summonTenureEditor(props.item.id)"
                      v-on="on"
                    >
                      <v-icon
                        color="red"
                        v-if="props.item.ex_officio_rule_id != null"
                        >mdi-pencil-plus</v-icon
                      >
                      <v-icon v-else>{{ icon.edit }}</v-icon></v-btn
                    >
                  </template>
                  <span v-if="props.item.ex_officio_rule_id != null"
                    >Edit source tenure data (this entry appears here because it
                    matches an active ex-officio rule).</span
                  >
                  <span v-else>Edit tenure data</span>
                </v-tooltip>
              </v-col>
              <v-col cols="4">
                <v-tooltip bottom v-if="canDeleteTenures">
                  <template v-slot:activator="{ on }">
                    <v-btn
                      v-on="on"
                      icon
                      @click.stop="markTenureForDeletion(props.item)"
                    >
                      <v-icon
                        color="red"
                        v-if="props.item.ex_officio_rule_id != null"
                        >mdi-delete-alert</v-icon
                      >
                      <v-icon v-else>mdi-delete</v-icon>
                    </v-btn>
                  </template>
                  <span v-if="props.item.ex_officio_rule_id != null"
                    >Remove source tenure data (this entry appears here because
                    it matches an active ex-officio rule).</span
                  >
                  <span v-else>Remove tenure data</span>
                </v-tooltip>
              </v-col>
              <v-col cols="4">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn
                      v-if="
                        props.item.ex_officio_rule_id != null &&
                        canDeleteTenures
                      "
                      icon
                      @click.stop="
                        summonRuleEditor(props.item.ex_officio_rule_id)
                      "
                      v-on="on"
                      ><v-icon color="red">mdi-puzzle-edit</v-icon></v-btn
                    >
                  </template>
                  <span>Edit corresponding ex-officio rule.</span>
                </v-tooltip>
              </v-col>
            </v-row>
          </template>
        </data-table>
      </template>
      <template v-slot:actions> </template>
    </base-page>

    <tenure-editor
      v-if="canEdit"
      ref="tenureEditor"
      @updated="afterTenureSaved"
      :value="editedTenureId"
    >
      <template v-slot:activator><p></p></template>
    </tenure-editor>
    <unit-editor
      v-if="canEdit"
      ref="unitEditor"
      :value="editedUnitId"
      @updated="afterUnitSaved"
    >
      <template v-slot:activator><p></p></template>
    </unit-editor>
    <rule-editor
      v-if="canEdit"
      ref="ruleEditor"
      :value="editedRuleId"
      @updated="afterRuleSaved"
    >
      <template v-slot:activator><p></p></template>
    </rule-editor>
    <confirm-dialog ref="confirmDeleteTenure" @confirmed="deleteMarkedTenure">
      <template v-slot:title>Are you sure?</template>
      <template v-if="tenureForDeletion != null" v-slot:message
        >You are about to delete the tenure of
        {{ tenureDesc(tenureForDeletion) }}.</template
      >
    </confirm-dialog>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import api from "@/api";
import { icon } from "@/utils/constants";

import OrgUnitEditor from "./OrgUnitEditor.vue";
import TenureEditor from "./TenureEditor.vue";
import ConfirmDialog from "@/components/common/ConfirmDialog.vue";
import ExOfficioEditor from "./ExOfficioEditor.vue";
import TenuresFilter from "./TenuresFilter.vue";

export default {
  name: "OrgChart",
  components: {
    "unit-editor": OrgUnitEditor,
    "tenure-editor": TenureEditor,
    "confirm-dialog": ConfirmDialog,
    "rule-editor": ExOfficioEditor,
    "tenures-filter": TenuresFilter,
  },
  props: {
    unitType: { type: String, default: "Board" },
    unitDomain: { type: String, default: "Collaboration" },
  },
  data: function () {
    return {
      tree: [],
      units: [],
      selectedUnitId: null,
      tenures: [],
      childUnits: [],
      parentUnit: null,
      searchUnit: null,
      showUnitsMenu: false,
      //
      editedTenureId: null,
      editedUnitId: null,
      editedRuleId: null,
      // whole tenure object, not just IDs
      tenureForDeletion: null,
      // filtering details
      effectiveDate: new Date().toISOString().substring(0, 10),
      includeExOfficio: true,
      search: "",
    };
  },
  computed: {
    ...mapGetters("user", ["userTenures", "isAdmin"]),
    computedTenures() {
      var tenures = [];
      var scoreSet = new Set();
      this.tenures.forEach((t) => {
        tenures.push(t);
        var score = 0;
        var keys = [
          "unit_level",
          "unit_type",
          "position_level",
          "src_unit_level",
          "src_unit_type",
          "src_unit_id",
          "src_position_level",
        ];
        var order = 100;
        keys.forEach((key) => {
          var subscore = 0;
          if (typeof t[key] == "number") {
            subscore = t[key] % order;
          } else if (typeof t[key] == "string") {
            subscore = t[key]
              .split("")
              .reduce(
                (prev, current, idx) =>
                  (prev + current.charCodeAt(0) * idx) % order,
                0
              );
          }
          score = order * score + subscore;
        });
        tenures[tenures.length - 1]["sort_score"] = score;
        scoreSet.add(score);
        tenures[tenures.length - 1]["unit_name"] = t.domain + " " + t.unit_type;
      });
      var sortedScores = [...scoreSet].sort();
      tenures.forEach((t) => {
        t["sort_score"] =
          1 + sortedScores.findIndex((e) => e == t["sort_score"]);
      });
      return tenures;
    },
    filteredTenures() {
      var tenures = [];
      this.computedTenures.forEach((tnr) => {
        var include = true;
        if (!this.includeExOfficio && tnr["ex_officio_rule_id"] !== null) {
          include = false;
        }
        if (include) {
          tenures.push(tnr);
        }
      });
      return tenures;
    },
    title() {
      return (
        "CMS Units: " +
        (this.selectedUnitId == null
          ? " Overview"
          : this.chosenUnit.domain + " " + this.chosenUnit.type)
      );
    },
    unitsTree() {
      // mapping between unitId and a treeNode - to quickly attach to a parent
      var lkp = [];
      var unitsArray = [];
      this.units.forEach((e) => {
        lkp[e.id] = { id: e.id, name: e.domain + " " + e.type, children: [] };
      });
      // doing double-pass as a child might come up before the parent in original list
      [...this.units]
        .sort(
          (a, b) =>
            10000 * (a.level - b.level) +
            100 * a.type.localeCompare(b.type) +
            a.domain.localeCompare(b.domain)
        )
        .forEach((e) => {
          if (e.superior_unit_id == null) {
            unitsArray.push(lkp[e.id]);
          } else {
            lkp[e.superior_unit_id].children.push(lkp[e.id]);
          }
        });
      return unitsArray;
    },
    chosenUnit() {
      return this.units.find((u) => u.id == this.selectedUnitId);
    },
    parentUnitId() {
      return this.chosenUnit != null ? this.chosenUnit.superior_unit_id : null;
    },
    parentUnitLabel() {
      return this.unitOptions.find((u) => u.id == this.parentUnitId).label;
    },
    managedUnitIds() {
      return this.userTenures
        .filter((t) => t.position_level <= 1)
        .map((t) => t.unit_id);
    },
    headers() {
      var headers = [
        { text: "Sort order", value: "sort_score", sortable: true },
        { text: "CMS ID", value: "cms_id", sortable: true },
        { text: "First name", value: "first_name", sortable: true },
        { text: "Last name", value: "last_name", sortable: true },
        { text: "Inst code", value: "inst_code", sortable: true },
        { text: "Position", value: "position", sortable: true },
        { text: "Unit", value: "unit_name", sortable: true },
        { text: "Start date", value: "start_date", sortable: true },
        { text: "End date", value: "end_date", sortable: true },
      ];
      if (this.canEdit) {
        headers.push({ text: "Actions", value: "actions" });
      }
      return headers;
    },
    canEdit() {
      if (this.chosenUnit) {
        return (
          this.managedUnitIds.includes(this.chosenUnit.id) ||
          this.managedUnitIds.includes(this.chosenUnit.superior_unit_id) ||
          this.canAddUnits
        );
      }
      return false;
    },
    canAddUnits() {
      return this.isAdmin;
    },
    canDeleteTenures() {
      return this.canAddUnits;
    },
  },
  watch: {
    selectedUnitId() {
      this.loadTenuresForUnit();
    },
    effectiveDate() {
      console.debug("Effective date changed");
      this.loadTenuresForUnit();
    },
  },
  methods: {
    ...mapActions("notification", ["infoMessage"]),
    onFilterChange(data) {
      console.debug(data);
      this.effectiveDate = data.date;
      this.includeExOfficio = data.exOfficio;
      this.search = data.search;
    },
    pickUnit(unitId) {
      this.selectedUnitId = unitId;
      this.showUnitsMenu = false;
      let unit = this.units.filter((e) => e.id == unitId)[0];
      this.$router
        .push({
          params: {
            unitType: encodeURI(unit.type),
            unitDomain: encodeURI(unit.domain),
          },
        })
        .catch(() => {});
    },
    goToParent() {
      this.selectedUnitId = this.parentUnitId;
    },
    async loadActiveUnits() {
      const data = await new api.OrgUnitsCall()
        .setActive(true)
        .setMinUnitLevel(0)
        .setMaxUnitLevel(7)
        .get();

      this.units = data.sort((a, b) => {
        return (
          10 * (a.level - b.level) +
          (a.superior_unit_id == null ? 0 : 1) -
          (b.superior_unit_id == null ? 0 : 1)
        );
      });
      console.debug("List of active units updated");
      let pickedId = data[0].id;
      if (this.unitType !== undefined && this.unitDomain !== undefined) {
        console.debug(
          "Looking for unit of type " +
            this.unitType +
            " and domain " +
            this.unitDomain
        );
        for (let entry of data) {
          if (entry.type == this.unitType && entry.domain == this.unitDomain) {
            pickedId = entry.id;
            break;
          }
        }
      }
      this.pickUnit(pickedId);
    },
    async loadTenuresForUnit() {
      const data = await api.getTenures({
        as_of: this.effectiveDate,
        unit_id: this.selectedUnitId,
      });
      this.tenures = data.sort(function (a, b) {
        return (
          10 * (a.unit_level - b.unit_level) +
          (a.position_level - b.position_level)
        );
      });
    },
    afterUnitSaved(unitData) {
      console.debug("Need to update our units info");
      console.debug(unitData);
      var index = this.units.findIndex((e) => e.id == unitData.id);
      if (index > -1) {
        this.$set(this.units, index, unitData);
      } else {
        this.$set(this.units, this.units.length, unitData);
      }
      this.$refs.tenureEditor.updateUnit(unitData);
      this.pickUnit(unitData.id);
    },
    afterTenureSaved(tenureData) {
      console.debug(tenureData);
      var index = this.tenures.findIndex((e) => e.id == tenureData.id);
      this.$set(
        this.tenures,
        index > -1 ? index : this.tenures.length,
        tenureData
      );
      this.pickUnit(tenureData.unit_id);
    },
    afterRuleSaved() {
      console.debug("We probably should reload the page...");
      this.loadTenuresForUnit();
    },
    summonTenureEditor(tenureId) {
      // we set the edited tenureId and (ab?)use the binding established earlier to re-use the same component for all the editions we might want to makes
      if (tenureId == null) {
        // when editing an existing tenure, just setting the tenure ID should be enough. Also, it might be an ex-officio tenure and then the source unit should show up
        this.$refs.tenureEditor.unitId = this.selectedUnitId;
      }
      this.editedTenureId = tenureId;
      this.$refs.tenureEditor.show();
    },
    summonUnitEditor(unitId) {
      this.editedUnitId = unitId;
      this.$refs.unitEditor.show();
    },
    summonRuleEditor(ruleId) {
      this.editedRuleId = ruleId;
      this.$refs.ruleEditor.show();
    },
    markTenureForDeletion(tenureData) {
      this.tenureForDeletion = tenureData;
      this.$refs.confirmDeleteTenure.show();
    },
    async deleteMarkedTenure() {
      var compo = this;
      await api.deleteTenure(this.tenureForDeletion.id);
      this.tenures = compo.tenures.filter(
        (e) => e.id != compo.tenureForDeletion.id
      );
      this.infoMessage(
        "Removed the tenure of " +
          compo.tenureDesc(compo.tenureForDeletion) +
          "!"
      );
      this.tenureForDeletion = null;
    },
    tenureDesc(tenure) {
      return (
        tenure.first_name +
        " " +
        tenure.last_name +
        " as " +
        tenure.position +
        " of " +
        tenure.domain +
        " " +
        tenure.unit_type +
        " starting on " +
        tenure.start_date
      );
    },
  },
  mounted() {
    this.loadActiveUnits();
  },
  created() {
    this.icon = icon;
  },
};
</script>

<style></style>
