<template>
  <edit-dialog ref="dialog" @reset="resetForm" @submit="submitData">
    <template v-slot:activator="{ on }">
      <slot name="activator" :on="on"> </slot>
    </template>
    <template v-slot:header>{{
      id == null ? "New Tenure" : "Edit Tenure"
    }}</template>
    <template v-slot:fields>
      <person-picker
        ref="personPicker"
        label="CMS Member"
        v-model="cmsId"
        required
      ></person-picker>
      <v-autocomplete
        :items="unitOptions"
        :item-text="'label'"
        :item-value="'id'"
        label="Unit"
        v-model="unitId"
        required
      ></v-autocomplete>
      <v-autocomplete
        :items="positionOptions"
        :item-text="'label'"
        :item-value="'id'"
        label="Position"
        v-model="positionId"
        required
      ></v-autocomplete>
      <v-dialog
        ref="dialogStartDate"
        v-model="modalStartDate"
        :return-value.sync="startDate"
        persistent
        width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="startDate"
            label="Start Date"
            :prepend-icon="icon.calendar"
            readonly
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker v-model="startDate" scrollable>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="modalStartDate = false"
            >Cancel</v-btn
          >
          <v-btn
            text
            color="primary"
            @click="$refs.dialogStartDate.save(startDate)"
            >OK</v-btn
          >
        </v-date-picker>
      </v-dialog>
      <v-dialog
        ref="dialogEndDate"
        v-model="modalEndDate"
        :return-value.sync="endDate"
        persistent
        width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="endDate"
            label="End Date"
            :prepend-icon="icon.calendar"
            readonly
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker v-model="endDate" scrollable>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="modalEndDate = false"
            >Cancel</v-btn
          >
          <v-btn text color="primary" @click="$refs.dialogEndDate.save(endDate)"
            >OK</v-btn
          >
        </v-date-picker>
      </v-dialog>
    </template>
  </edit-dialog>
</template>

<script>
import { mapActions } from "vuex";
import api from "@/api";
import { icon } from "@/utils/constants";

import EditDialog from "@/components/common/inputs/EditDialog";
import PersonPicker from "@/components/common/inputs/PersonPicker";

export default {
  name: "TenureEditor",
  components: {
    "person-picker": PersonPicker,
    "edit-dialog": EditDialog,
  },
  data() {
    return {
      id: null,
      cmsId: null,
      positionId: null,
      unitId: null,
      startDate: null,
      endDate: null,
      // something to be edited
      existingTenure: null,
      // options
      unitOptions: [],
      positionOptions: [],
      // modals
      modalStartDate: false,
      modalEndDate: false,
    };
  },
  props: {
    // id of the tenure to be edited or null
    value: null,
  },
  mounted() {
    // this one will probably do nothing anyway as the component starts out with a null value
    this.loadTenure();
    // units can be loaded once only and stored in the component ever since
    this.loadUnits();
  },
  watch: {
    value(newValue) {
      console.debug("TenureEditor: The new tenure id is " + newValue);
      // formResetting should be triggered from existingTenure's watcher
      if (this.value != null) {
        this.loadTenure();
      } else {
        this.existingTenure = null;
      }
    },
    existingTenure() {
      this.resetForm();
    },
    unitId(newVal) {
      // positions need to be re-loaded whenever the unitId changes
      newVal != null ? this.loadPositions() : this.storePositions([]);
    },
  },
  methods: {
    ...mapActions("notification", ["infoMessage"]),
    submitData() {
      // todo: will the dates need some (sub)stringing
      api
        .postTenure({
          id: this.id || undefined,
          cms_id: this.cmsId,
          unit_id: this.unitId,
          position_id: this.positionId,
          start_date: this.startDate || undefined,
          end_date: this.endDate || undefined,
        })
        .then(this.afterSavedTenure);
    },
    afterSavedTenure(data) {
      // todo: some processing, anything
      this.infoMessage("Tenure saved well!");
      this.$refs.dialog.beforeClose();
      this.$emit("updated", data);
    },
    async loadTenure() {
      if (this.value != null) {
        console.debug("TenureEditor: fetching data for tenure #" + this.value);
        const data = await api.getTenure(this.value);
        this.existingTenure = data;
      }
    },
    loadUnits() {
      // load all the org units to choose the position for
      new api.OrgUnitsCall().setActive(true).get().then(this.storeUnits);
    },
    updateUnit(unitData) {
      // this method can be called from wrapping component to update the list of units available in tenures editor
      var index = this.unitOptions.findIndex((e) => e.id == unitData.id);
      this.$set(this.unitOptions, index > 0 ? index : this.unitOptions.length, {
        id: unitData.id,
        label: unitData.domain + " " + unitData.type,
      });
    },
    loadPositions() {
      // this should be invoked whenever the unit changes
      new api.OrgChartPositionsCall()
        .setUnitId(this.unitId)
        .get()
        .then(this.storePositions);
    },
    storeUnits(data) {
      this.unitOptions = data.map((e) => ({
        id: e.id,
        label: e.domain + " " + e.type,
      }));
    },
    storePositions(data) {
      this.positionOptions = data.map((e) => ({ id: e.id, label: e.name }));
    },
    resetForm() {
      // reinitialize the form to empty or restore the values stored for current unit
      if (this.existingTenure == null) {
        this.id = null;
        this.cmsId = null;
        this.positionId = null;
        this.unitId = null;
        this.startDate = null;
        this.endDate = null;
      } else {
        this.id = this.existingTenure.id;
        this.cmsId = this.existingTenure.cms_id;
        this.positionId = this.existingTenure.position_id;
        this.unitId = this.existingTenure.unit_id;
        this.startDate = this.existingTenure.start_date;
        this.endDate = this.existingTenure.end_date;
      }
    },
    show() {
      this.$refs.dialog.show();
    },
  },
  created() {
    this.icon = icon;
  },
};
</script>
