<template>
  <div>
    <base-page>
      <template v-slot:toolbar-title>Nominee Selection</template>
      <template v-slot:header>
        <v-container class="text-center" fluid>
          <v-row>
            <v-col cols="3">
              <v-select
                label="Choose a job opening position"
                v-model="selectedJob"
                :items="nomOptions"
              />
            </v-col>
            <v-col>
              <v-alert color="blue lighten-5" dismissible border="left">
                <p>
                  For nominee selection choose one of the available positions!
                </p>
                <v-icon>mdi-arrow-left-bold</v-icon>
              </v-alert>
            </v-col>
            <v-spacer />
            <v-col cols="3">
              <v-text-field
                v-model="search"
                :append-icon="icon.search"
                label="Search"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </template>
      <template v-slot:body>
        <data-table
          :headers="headers"
          :loading="loading"
          :items="tableData"
          :search="search"
        >
          <template v-slot:[`item.actions`]="props">
            <v-row no-gutters>
              <v-col>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon
                      @click="launchDetails(props.item.nomination_id)"
                      v-bind="attrs"
                      v-on="on"
                      >{{ icon.info }}</v-icon
                    >
                  </template>
                  <span>Details</span>
                </v-tooltip>
              </v-col>
              <v-col
                v-if="canEdit && canSelect(props.item) && selectedJob != 'all'"
              >
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      v-bind="attrs"
                      v-on="on"
                      small
                      color="primary"
                      @click="launchSelection(props.item.nomination_id)"
                      >Select</v-btn
                    >
                  </template>
                  <span>Select Nominee</span>
                </v-tooltip>
              </v-col>
              <v-col
                v-if="canEdit && isSelected(props.item) && selectedJob != 'all'"
              >
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn v-bind="attrs" v-on="on" small color="success"
                      >Selected</v-btn
                    >
                  </template>
                  <span>Selected Nominee</span>
                </v-tooltip>
              </v-col>
              <v-col
                v-if="
                  canEdit && cannotSelect(props.item) && selectedJob != 'all'
                "
              >
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      v-bind="attrs"
                      v-on="on"
                      small
                      disabled
                      color="primary"
                      >Select</v-btn
                    >
                  </template>
                  <span>Cannot Select Nominee</span>
                </v-tooltip>
              </v-col>
            </v-row>
          </template>
          <template v-slot:[`item.remarks`]="props">
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <td
                  class="overflow-ellipsis"
                  v-bind="attrs"
                  v-on="on"
                  :title="props.item.remarks"
                >
                  {{ props.item.remarks }}
                </td>
              </template>
            </v-tooltip>
          </template>
          <template v-slot:[`item.nominee_remarks`]="props">
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <td
                  class="overflow-ellipsis"
                  v-bind="attrs"
                  v-on="on"
                  :title="props.item.nominee_remarks"
                >
                  {{ props.item.nominee_remarks }}
                </td>
              </template>
            </v-tooltip>
          </template>
          <template v-slot:[`item.inst_region`]="props">
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <td
                  v-bind="attrs"
                  v-on="on"
                  :title="props.item.inst_region_name"
                >
                  {{ props.item.inst_region }}
                </td>
              </template>
            </v-tooltip>
          </template>
        </data-table>
      </template>
    </base-page>
    <Selection
      v-model="isEditorOpen"
      :item="selectedItem"
      @created="itemCreated"
      @updated="itemUpdated"
    />
    <Remarks
      v-model="isRemarksOpen"
      :item="{ name: selectedNomineeName }"
      :remarks="selectedRemarks"
    />
    <Details v-model="isDetailsOpen" :item="selectedItem" />
  </div>
</template>

<style scoped>
.overflow-ellipsis {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.overflow-ellipsis:hover {
  color: blue;
}
</style>

<script>
import { mapGetters } from "vuex";
import api from "@/api";
import { icon } from "@/utils/constants";
import Selection from "./Selection";
import Remarks from "./Remarks";
import Details from "./Details";

export default {
  components: {
    Selection,
    Remarks,
    Details,
  },
  data() {
    return {
      loading: false,
      jobs: [],
      nominations: [],
      search: "",
      selectedJob: "all",
      selectedItem: null,
      isEditorOpen: false,
      isDetailsOpen: false,
      isRemarksOpen: null,
      selectedRemarks: null,
      selectedNomineeName: null,
      currently_showing: [],
    };
  },
  computed: {
    ...mapGetters("user", [
      "isAdmin",
      "isJobCommittee",
      "isIcmsDev",
      "isJobOpAdmin",
    ]),
    canEdit() {
      return (
        this.isAdmin ||
        this.isIcmsDev ||
        this.isJobOpAdmin ||
        this.isJobCommittee
      );
    },
    nomOptions() {
      let options = this.nominations.map((nominations) => ({
        value:
          nominations.title +
          nominations.unit_domain +
          nominations.unit_type +
          nominations.position_name,
        text:
          nominations.title +
          " : " +
          nominations.unit_domain +
          " " +
          nominations.unit_type +
          " : " +
          nominations.position_name,
      }));
      options.unshift({
        value: "all",
        text: "---show all---",
      });
      return options;
    },
    headers() {
      const defaultHeaders = [
        { text: "Nominee", value: "nominee", sortable: true },
        { text: "Nominee Remarks", value: "nominee_remarks", sortable: true },
        { text: "Affiliations", value: "inst_code", sortable: true },
        { text: "Institute Country", value: "inst_country", sortable: true },
        { text: "Institute Region", value: "inst_region", sortable: true },
        { text: "Projects", value: "project_codes", sortable: true },
        { text: "Nominator", value: "nominators", sortable: true },
        { text: "Nominator Remarks", value: "remarks", sortable: true },
        { text: "Status", value: "status", sortable: true },
        { text: "Actions", value: "actions", sortable: true },
      ];
      const additionalHeaders =
        this.selectedJob == "all"
          ? [{ text: "Job position", value: "title", sortable: true }]
          : [];
      return [...additionalHeaders, ...defaultHeaders];
      // return defaultHeaders;
    },
    tableData() {
      let data = this.nominations;
      if (this.selectedJob != "all") {
        data = data.filter((nomination) => {
          return (
            nomination.title +
              nomination.unit_domain +
              nomination.unit_type +
              nomination.position_name ===
            this.selectedJob
          );
        });
      }
      return data.map((d) => {
        const nominatedStatuses = d.statuses.filter((status) => {
          const validStatuses = [
            "nominated",
            "active",
            "accepted",
            "rejected",
            "selected",
          ];
          return validStatuses.includes(status.status);
        });

        const last_status = d.statuses[d.statuses.length - 1];
        const answers = d.questionnaire_answers || "[]";
        const questions = d.questions || "[]";
        const first_status = d.statuses[0];
        let nominee_remarks = "";
        if (nominatedStatuses.length >= 2) {
          nominee_remarks =
            nominatedStatuses[1].status == "rejected"
              ? nominatedStatuses[1].actor_remarks
              : "";
        }
        let project_codes = "";
        if (d.project_codes != null) {
          // Clean up the project_code string. TODO find a better way to be filtered in the backend
          const inputString = d.project_codes;
          // Split the string into an array using the comma as a delimiter
          const stringArray = inputString.split(",");
          // Use a Set to remove duplicates
          const uniqueArray = [...new Set(stringArray)];
          // Join the array back into a string using a comma as a delimiter
          project_codes = uniqueArray.join(",");
        }
        return {
          ...d,
          title:
            d.title +
            " : " +
            d.unit_domain +
            " " +
            d.unit_type +
            " : " +
            d.position_name,
          project_codes: project_codes,
          nominee: d.first_name + " " + d.last_name,
          nominators: first_status.first_name + " " + first_status.last_name,
          status:
            last_status.status.charAt(0).toUpperCase() +
            last_status.status.slice(1),

          questions: questions, //JSON.parse(questions),
          answers: answers, //JSON.parse(answers),
          inst_country: d.country_code,
          inst_region: d.region_code,
          inst_region_name: d.region_name,
          remarks: first_status.actor_remarks,
          nominee_remarks: nominee_remarks,
        };
      });
    },
  },
  methods: {
    fetchData() {
      this.loading = true;
      new api.JobOpeningsCall().get().then((data) => {
        this.jobs = data;
        this.loading = false;
      });
      new api.JobNominationCall().get().then((data) => {
        this.nominations = data;
      });
    },
    launchSelection(id) {
      let item = null;
      if (id) {
        item = this.nominations.find((n) => n.nomination_id == id);
      }
      this.selectedItem = item;
      this.isEditorOpen = true;
    },
    canSelect(item) {
      if (item.status === "Accepted") return true;
      else return false;
    },
    isSelected(item) {
      if (item.status === "Selected") return true;
      else return false;
    },
    cannotSelect(item) {
      if (item.status === "Rejected" || item.status === "Active") return true;
      else return false;
    },

    launchRemarks(remarks, name) {
      this.selectedRemarks = remarks;
      this.isRemarksOpen = true;
      this.selectedNomineeName = name;
    },
    itemCreated() {
      this.fetchData();
    },
    itemUpdated() {
      this.fetchData();
    },
    launchDetails(id) {
      let item = null;
      if (id) {
        item = this.tableData.find((n) => n.nomination_id == id);
      }

      this.selectedItem = item;
      this.isDetailsOpen = true;
    },
  },
  mounted() {
    this.fetchData();
  },
  created() {
    this.icon = icon;
  },
};
</script>
