<template>
  <v-dialog v-model="value" maxWidth="600px" class="zindex-modal">
    <v-card tile>
      <v-toolbar dark color="primary">
        <v-toolbar-title>Details</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon dark @click="close()">
          <v-icon>{{ icon.close }}</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <v-form ref="form" v-model="valid" lazy-validation>
          <div>
            <v-text-field v-model="type" label="Type" :rules="typeRules" />
            <v-text-field
              v-model="subject"
              label="Subject"
              :rules="subjectRules"
            />
            <v-textarea
              v-model="content"
              label="Content"
              :rules="contentRules"
            />
            <v-text-field
              v-model="startDatetime"
              label="Start Datetime"
              :rules="startDatetimeRules"
            />
            <v-text-field
              v-model="endDatetime"
              label="End Datetime"
              :rules="endDatetimeRules"
            />
            <v-select
              v-model="application"
              label="Application"
              :rules="applicationRules"
              :items="['epr', 'tools', 'notes', 'common', 'cadi']"
            />
            <v-btn color="success" block @click="createAnnouncement">
              Submit
            </v-btn>
          </div>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<style>
.zindex-modal {
  z-index: 1050;
}
</style>

<script>
import api from "@/api";
import { icon } from "@/utils/constants";
import { fieldRequiredRule, dateFieldRule } from "@/utils/validation";

export default {
  name: "CreateAnnouncementDialog",
  props: ["value"],
  data() {
    const currentTimetstamp = new Date().toISOString();
    return {
      valid: true,

      type: "INFO",
      typeRules: [fieldRequiredRule("Type")],
      subject: "",
      subjectRules: [fieldRequiredRule("Subject")],
      content: "",
      contentRules: [fieldRequiredRule("Content")],
      startDatetime: currentTimetstamp,
      startDatetimeRules: [
        fieldRequiredRule("Start Datetime"),
        dateFieldRule("Start Datetime"),
      ],
      endDatetime: "",
      endDatetimeRules: [dateFieldRule("End Datetime")],
      application: "epr",
      applicationRules: [fieldRequiredRule("Application")],
    };
  },
  methods: {
    async createAnnouncement() {
      if (!this.$refs.form.validate()) return;

      const res = await new api.AnnouncementCall()
        .setType(this.type)
        .setSubject(this.subject)
        .setContent(this.content)
        .setStartDatetime(this.startDatetime)
        .setEndDatetime(this.endDatetime || undefined)
        .setApplication(this.application)
        .post();

      this.$emit("created", res);
      this.$store.dispatch("notification/infoMessage", "Created Announcement!");
      this.close();
    },
    close() {
      this.$refs.form.reset();
      this.$emit("input", false);
    },
  },
  created() {
    this.icon = icon;
  },
};
</script>
