<template>
  <div>
    <base-page>
      <template v-slot:toolbar-title>Announcements</template>
      <template v-slot:header>
        <v-container class="text-center" fluid>
          <v-row align="center">
            <v-btn @click="summonDialogBox" color="success"
              >Create Announcement</v-btn
            >
            <v-spacer />
            <v-col cols="3">
              <v-text-field
                v-model="search"
                :append-icon="icon.search"
                label="Search"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </template>
      <template v-slot:body>
        <data-table
          :headers="headers"
          :items="announcements"
          :loading="loading"
          :search="search"
        >
          <template v-slot:[`item.content`]="{ item }">
            <text-box :body="item.content" font-size="13px" />
          </template>
        </data-table>
      </template>
    </base-page>
    <create-announcement-dialog
      v-model="isDialogOpen"
      @created="addAnnouncement"
    />
  </div>
</template>

<script>
import api from "@/api";
import { icon } from "@/utils/constants";
import TextBox from "@/components/common/TextBox";
import CreateAnnouncementDialog from "./CreateAnnouncementDialog.vue";

export default {
  name: "Announcements",
  components: {
    "create-announcement-dialog": CreateAnnouncementDialog,
    "text-box": TextBox,
  },
  data() {
    return {
      announcements: [],
      loading: false,
      search: "",

      isDialogOpen: false,
    };
  },
  computed: {
    headers: () => [
      { text: "ID", value: "id", sortable: true },
      { text: "Application", value: "application", sortable: true },
      { text: "Type", value: "type", sortable: true },
      { text: "Subject", value: "subject", sortable: true },
      { text: "Content", value: "content", sortable: true, width: "40%" },
      { text: "Start datetime", value: "start_datetime", sortable: true },
      { text: "End datetime", value: "end_datetime", sortable: true },
    ],
  },
  methods: {
    async loadAnnounmentList() {
      this.loading = true;
      this.announcements = await new api.AnnouncementsCall().get();
      this.loading = false;
    },
    addAnnouncement(announcement) {
      this.announcements.push(announcement);
    },
    summonDialogBox() {
      this.isDialogOpen = true;
    },
  },
  mounted() {
    this.loadAnnounmentList();
  },
  created() {
    this.icon = icon;
  },
};
</script>
