<template>
  <base-page>
    <template v-slot:toolbar-title>Generated CMS Authorlist files</template>
    <template v-slot:toolbar-right>
      <v-menu>
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon v-bind="attrs" v-on="on"
            ><v-icon>{{ icon.add_circle }}</v-icon>
          </v-btn>
        </template>
        <v-list>
          <v-list-item @click="openDialog('db')">
            <v-list-item-title>Generate AL DB Entries</v-list-item-title>
          </v-list-item>
          <v-list-item @click="openDialog('file')">
            <v-list-item-title>Generate AL Files</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </template>
    <template v-slot:header>
      <v-container class="text-center" fluid style="padding: 0">
        <v-row justify="end">
          <v-col cols="3">
            <v-text-field
              v-model="search"
              :append-icon="icon.search"
              label="Search"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-container>
    </template>
    <template v-slot:body>
      <data-table
        :headers="headers"
        :items="tableData"
        :loading="loading"
        :search="search"
      >
        <template v-slot:[`item.tex`]="{ item }">
          <a :href="item.tex">authorlist.tex</a>
        </template>
        <template v-slot:[`item.xml`]="{ item }">
            <div v-if="item.xml.length > 0">
            <a :href="item.xml">authorlist.xml</a>
          </div>
          <div v-else>
            no XML file available
          </div>
        </template>
        <template v-slot:[`item.html`]="{ item }">
          <div v-if="item.html.length > 0">
            <a :href="item.html" target="_blank">authorlist.html</a>
          </div>
          <div v-else>
            no HTML file available
          </div>
        </template>
        <template v-slot:[`item.actions`]="{ item }">
          <v-menu>
            <template v-slot:activator="{ on, attrs }">
              <v-btn icon v-bind="attrs" v-on="on"
                ><v-icon>{{ icon.edit }}</v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item @click="openDialog('db', item)">
                <v-list-item-title>Regenerate AL DB Entries</v-list-item-title>
              </v-list-item>
              <v-list-item @click="openDialog('file', item)">
                <v-list-item-title>Regenerate AL Files</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </template>
      </data-table>
      <generation-dialog
        v-model="isDialogOpen"
        :action="dialogAction"
        :item="dialogItem"
      />
    </template>
  </base-page>
</template>

<script>
import api from "@/api";
import { icon } from "@/utils/constants";
import GenerationDialog from "./GenerationDialog";

export default {
  components: {
    "generation-dialog": GenerationDialog,
  },
  data() {
    return {
      loading: false,
      data: [],
      filesets: [],
      files: [],
      search: "",

      isDialogOpen: false,
      dialogAction: null,
      dialogItem: null,
    };
  },
  computed: {
    tableData() {
      return this.filesets.map((filesets) => {
        const files = this.files.filter(
          (file) => file.paper_code === filesets.paper_code
        );
        return {
          ...filesets,
          tex: [
            this.getUriByType(files, "public-authorlist.tex"),
          ],
          xml: [
            this.getUriByType(files, "public-authorlist.xml"),
          ],
          html: [
            this.getUriByType(files, "public-authorlist.html"),
          ],
        };
      });
    },
  },
  methods: {
    fetchData() {
      this.loading = true;
      const filesetCall = new api.AuthorListFilesetsCall().get();
      const filesCall = new api.AuthorListFilesCall().get();

      Promise.all([filesetCall, filesCall]).then(([filesets, files]) => {
        this.filesets = filesets;
        this.files = files;

        this.loading = false;
      });
    },
    getUriByType(files, type) {
      const file = files.find((file) => file.type === type);
      return file ? process.env.VUE_APP_API_URL + file.uri : undefined;
    },
    openDialog(action, item = null) {
      this.isDialogOpen = true;
      this.dialogAction = action;
      this.dialogItem = item;
    },
  },
  mounted() {
    this.fetchData();
  },
  created() {
    this.headers = [
      { text: "Paper", value: "paper_code", sortable: true },
      {
        text: "Tex",
        value: "tex",
        sortable: false,
      },
      {
        text: "XML",
        value: "xml",
        sortable: false,
      },
      {
        text: "HTML",
        value: "html",
        sortable: false,
      },
      {
        text: "Last Modified",
        value: "last_update",
        sortable: true,
      },
      {
        text: "Location",
        value: "location",
        sortable: true,
      },
      {
        text: "Actions",
        value: "actions",
        sortable: false,
      },
    ];

    this.icon = icon;
  },
};
</script>
