<template>
  <v-dialog
    :value="value"
    @input="$emit('input', false)"
    maxWidth="400px"
    class="zindex-modal"
  >
    <v-card v-if="!!formState">
      <v-card-title class="headline">{{
        isEdit ? "Edit Room" : "Create Room"
      }}</v-card-title>
      <v-card-text>
        <v-container> </v-container>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-row>
            <v-col>
              <v-text-field
                label="Custom Name"
                v-model="formState.custom_name"
              />
            </v-col>
            <v-col :cols="4">
              <v-text-field label="Indico ID" v-model="formState.indico_id" />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field
                label="Building"
                v-model="formState.building"
                :rules="buildingRules"
              />
            </v-col>
            <v-col>
              <v-text-field label="Floor" v-model="formState.floor" />
            </v-col>
            <v-col>
              <v-text-field label="Room Nr" v-model="formState.room_nr" />
            </v-col>
          </v-row>
          <v-checkbox label="At CERN" v-model="formState.at_cern" />
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn color="green darken-1" text @click="close"> Close </v-btn>

        <v-btn color="green darken-1" text @click="submit"> Submit </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import api from "@/api";
import { fieldRequiredRule } from "@/utils/validation";

export default {
  name: "RoomFormDialog",
  props: {
    value: { type: Boolean, default: true },
    item: { default: null },
  },
  data() {
    return {
      formState: this.initialFormState,
      valid: true,

      buildingRules: [fieldRequiredRule("Building")],
    };
  },
  watch: {
    item() {
      this.initialize();
    },
  },
  computed: {
    isEdit() {
      return !!this.item;
    },
    initialFormState() {
      return {
        indico_id: null,
        building: null,
        floor: null,
        room_nr: null,
        custom_name: null,
        at_cern: true,
      };
    },
  },
  methods: {
    initialize() {
      if (this.$refs.form) this.$refs.form.reset();
      this.$nextTick(() => {
        this.formState = this.item ? { ...this.item } : this.initialFormState;
      });
    },
    close() {
      this.$emit("input", false);
    },
    submit() {
      if (!this.$refs.form.validate()) return;

      const {
        indico_id,
        building,
        floor,
        room_nr,
        custom_name,
        at_cern,
      } = this.formState;

      const call = new api.BookingRoomsCall()
        .setIndicoId(indico_id)
        .setBuilding(building)
        .setFloor(floor)
        .setRoomNr(room_nr)
        .setCustomName(custom_name)
        .setAtCern(at_cern)
        .setSuccessCallback((res) => {
          this.$store.dispatch(
            "notification/infoMessage",
            `Room ${this.isEdit ? "Updated" : "Created"}!`
          );
          this.$emit(this.isEdit ? "itemupdated" : "itemcreated", res);
          this.close();
        });

      if (this.isEdit) call.setId(this.item.id).put();
      else call.post();
    },
  },
  mounted() {
    this.initialize();
  },
};
</script>
