<template>
  <div>
    <base-page>
      <template v-slot:toolbar-title>Cms Weeks</template>
      <template v-slot:header>
        <v-container class="text-center" fluid style="padding: 0">
          <v-row align="center">
            <v-btn depressed color="success" @click="handleCreate" class="ml-2">
              Create Cms Week
            </v-btn>
            <v-spacer />
            <v-col cols="3">
              <v-text-field
                v-model="search"
                :append-icon="icon.search"
                label="Search"
              />
            </v-col>
          </v-row>
        </v-container>
      </template>
      <template v-slot:body>
        <data-table
          :headers="headers"
          :items="tableData"
          :loading="loading"
          :search="search"
          :sort-by="'id'"
          :sort-desc="true"
        >
          <template v-if="canEdit" v-slot:[`item.actions`]="{ item }">
            <v-btn
              color="primary"
              fab
              text
              small
              dark
              @click="handleEdit(item.id)"
            >
              <v-icon>{{ icon.edit }}</v-icon>
            </v-btn>
          </template>
        </data-table>
      </template>
    </base-page>
    <weeks-form-dialog
      v-model="showFormDialog"
      :item="selected"
      @itemcreated="handleNewWeek"
      @itemupdated="handleUpdatedWeek"
    />
  </div>
</template>

<script>
import api from "@/api";
import { icon } from "@/utils/constants";
import WeeksFormDialog from "./WeeksFormDialog.vue";
import { mapGetters } from "vuex";

export default {
  name: "Weeks",
  components: {
    "weeks-form-dialog": WeeksFormDialog,
  },
  data() {
    return {
      data: [],
      loading: false,

      search: "",

      selected: null,
      showFormDialog: false,
    };
  },
  computed: {
    ...mapGetters("user", ["isAdmin"]),
    headers() {
      let headers = [
        { text: "ID", value: "id", sortable: true },
        { text: "Title", value: "title", sortable: true },
        { text: "Starting Date", value: "date", sortable: true },
        { text: "Ending Date", value: "date_end", sortable: true },
        { text: "Is Outside of CERN", value: "is_external", sortable: true },
      ];
      if (this.canEdit) {
        headers.push({ text: "Actions", value: "actions", sortable: true });
      }
      return headers;
    },
    tableData() {
      return this.data.map((week) => ({
        ...week,
        is_external: week.is_external ? "YES" : "NO",
      }));
    },
    canCreate() {
      return this.isAdmin;
    },
    canEdit() {
      if (!this.data || this.data.length === 0) return false;
      return Object.prototype.hasOwnProperty.call(
        this.data[0]["_links"],
        "update"
      );
    },
  },
  methods: {
    async loadData() {
      this.loading = true;
      this.data = await new api.BookingWeeksCall().get();
      this.loading = false;
    },
    handleEdit(itemId) {
      this.selected = this.data.find(({ id }) => id === itemId);
      this.showFormDialog = true;
    },
    handleCreate() {
      this.selected = null;
      this.showFormDialog = true;
    },

    handleNewWeek(newWeek) {
      this.data.push(newWeek);
    },
    handleUpdatedWeek(updatedWeek) {
      this.data = this.data.map((week) =>
        week.id === updatedWeek.id ? updatedWeek : week
      );
    },
  },
  mounted() {
    this.loadData();
  },
  created() {
    this.icon = icon;
  },
};
</script>
