<template>
  <v-dialog
    :value="value"
    @input="$emit('input', false)"
    maxWidth="400px"
    class="zindex-modal"
  >
    <v-card v-if="!!formState">
      <v-card-title class="headline">{{
        isEdit ? "Edit CMS Week" : "Create CMS Week"
      }}</v-card-title>
      <v-card-text>
        <v-container> </v-container>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-text-field
            label="Title"
            v-model="formState.title"
            :rules="titleRules"
          />
          <v-row>
            <v-col :cols="6">
              <date-input
                label="Start Date"
                v-model="formState.date"
                :rules="dateRules"
              />
            </v-col>
            <v-col :cols="6">
              <date-input
                label="End Date"
                v-model="formState.date_end"
                :rules="dateEndRules"
              />
            </v-col>
          </v-row>
          <v-checkbox
            label="Is outside of CERN"
            v-model="formState.is_external"
          />
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn color="green darken-1" text @click="close"> Close </v-btn>

        <v-btn color="green darken-1" text @click="submit"> Submit </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import api from "@/api";
import { fieldRequiredRule } from "@/utils/validation";
import DateInput from "@/components/common/inputs/DateInput.vue";

export default {
  name: "WeeksFormDialog",
  components: {
    "date-input": DateInput,
  },
  props: {
    value: { type: Boolean, default: true },
    item: { default: null },
  },
  data() {
    return {
      formState: this.initialFormState,
      valid: true,

      titleRules: [fieldRequiredRule("Title")],
      dateRules: [fieldRequiredRule("Starting Date"), this.dateIsAfterRule],
      dateEndRules: [fieldRequiredRule("Ending Date"), this.dateIsAfterRule],
    };
  },
  watch: {
    item() {
      this.initialize();
    },
  },
  computed: {
    isEdit() {
      return !!this.item;
    },
    initialFormState() {
      return {
        title: null,
        date: null,
        date_end: null,
        is_external: false,
      };
    },
  },
  methods: {
    initialize() {
      if (this.$refs.form) this.$refs.form.reset();
      this.$nextTick(() => {
        this.formState = this.item ? { ...this.item } : this.initialFormState;
      });
    },
    close() {
      this.$emit("input", false);
    },
    async submit() {
      if (!this.$refs.form.validate()) return;

      const { title, date, date_end, is_external } = this.formState;

      const call = new api.BookingWeeksCall()
        .setTitle(title)
        .setDate(date)
        .setDateEnd(date_end)
        .setIsExternal(is_external);

      let data;
      if (this.isEdit) data = await call.setId(this.item.id).put();
      else data = await call.post();

      this.$store.dispatch(
        "notification/infoMessage",
        `Week ${this.isEdit ? "Updated" : "Created"}!`
      );
      this.$emit(this.isEdit ? "itemupdated" : "itemcreated", data);
      this.close();
    },
    dateIsAfterRule() {
      const { date, date_end } = this.formState;
      if (date && date_end && date_end <= date)
        return "The starting date must be before the ending end.";
      return true;
    },
  },
  mounted() {
    this.initialize();
  },
};
</script>
