<template>
  <div class="navigation-wrapper">
    <div class="navigation-container">
      <h1 class="mb-3">{{ title }}</h1>
      <hr />
      <div v-for="route in this.menu[section]" :key="route.title" class="mt-2">
        <template v-if="route.route">
          <router-link :to="{ name: route.route }">
            <h2 class="blue--text text--lighten-1">{{ route.title }}</h2>
          </router-link>
          <p v-if="route.description" class="text--secondary">
            {{ route.description }}
          </p>
        </template>

        <template v-else>
          <h2>{{ route.title }}</h2>
          <p v-if="route.description" class="text--secondary">
            {{ route.description }}
          </p>
          <div
            v-for="subroute in route.items"
            :key="subroute.title"
            class="ml-4 mt-2"
          >
            <router-link :to="{ name: subroute.route }">
              <h3 class="blue--text text--lighten-1">{{ subroute.title }}</h3>
            </router-link>
            <p v-if="subroute.description" class="text--secondary">
              {{ route.description }}
            </p>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import menu from "@/utils/menu";

export default {
  props: {
    section: {
      type: String,
    },
  },
  computed: {
    title() {
      return this.section.charAt(0).toUpperCase() + this.section.slice(1);
    },
  },
  created() {
    this.menu = menu;
  },
};
</script>

<style lang="scss" scoped>
.navigation-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.navigation-container {
  min-width: 600px;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
</style>
