<template>
  <edit-dialog ref="dialog" @reset="resetForm" @submit="submitData">
    <template v-slot:activator="{ on }">
      <slot name="activator" :on="on"> </slot>
    </template>
    <template v-slot:header>{{ dialogHeader }}</template>
    <template v-slot:fields>
      <v-text-field v-model="code" label="Code"></v-text-field>
      <v-autocomplete
        v-model="type"
        :items="options.eventType"
        label="Event type"
        item-value="name"
        item-text="name"
      ></v-autocomplete>
      <v-text-field v-model="title" label="Title" clearable></v-text-field>
      <v-text-field
        label="List closing date"
        v-model="listClosingDate"
        type="date"
        clearable
      ></v-text-field>
      <v-text-field
        label="Start time"
        v-model="startTime"
        type="datetime-local"
        clearable
      ></v-text-field>
      <v-text-field
        label="End time"
        v-model="endTime"
        type="datetime-local"
        clearable
      ></v-text-field>
      <v-text-field
        label="Delegation deadline"
        v-model="delegationDeadline"
        type="datetime-local"
        clearable
      ></v-text-field>
      <v-text-field
        label="Applicable MO year (overrides voting date's year)"
        v-model="moYear"
        type="number"
        clerable
      ></v-text-field>
    </template>
  </edit-dialog>
</template>

<script>
import api from "@/api";
import EditDialog from "@/components/common/inputs/EditDialog";

export default {
  name: "OrgUnitEditor",
  components: {
    "edit-dialog": EditDialog,
  },
  props: {
    // used to initialize the component for edition
    value: null,
  },
  data() {
    return {
      options: {
        eventType: [{ name: "VOTE" }, { name: "ELECTION" }],
      },
      existingEvent: null,
      // form data
      id: null,
      code: null,
      type: null,
      title: null,
      startTime: null,
      endTime: null,
      delegationDeadline: null,
      listClosingDate: null,
      moYear: null,
    };
  },
  computed: {
    dialogHeader() {
      if (this.existingEvent == null) {
        return "Create a new voting event";
      } else {
        return (
          'Edit event "' +
          this.existingEvent.code +
          ": " +
          this.existingEvent.title +
          '"'
        );
      }
    },
  },
  mounted() {
    console.debug("Mounted Voting Editor for event id: " + this.value);
    this.loadEventData();
  },
  watch: {
    value(newValue) {
      if (newValue != null) {
        this.loadEventData();
      } else {
        this.existingEvent = null;
        this.resetForm();
      }
    },
  },
  methods: {
    resetForm() {
      if (this.existingEvent != null) {
        this.id = this.existingEvent.id;
        this.code = this.existingEvent.code;
        this.type = this.existingEvent.type;
        this.title = this.existingEvent.title;
        this.startTime = this.existingEvent.start_time;
        this.endTime = this.existingEvent.end_time;
        this.delegationDeadline = this.existingEvent.delegation_deadline;
        this.listClosingDate = this.existingEvent.list_closing_date;
        this.moYear = this.existingEvent.applicable_mo_year;
      } else {
        this.id = null;
        this.code = null;
        this.type = null;
        this.title = null;
        this.startTime = null;
        this.endTime = null;
        this.delegationDeadline = null;
        this.listClosingDate = null;
        this.moYear = null;
      }
    },
    async loadEventData() {
      if (this.value != null) {
        const data = await new api.VotingEventsCall().setIdInBody(this.value).get();
        this.existingEvent = data[0];
        this.resetForm();
      }
    },
    async submitData() {
      const apiCall = (
        new api.VotingEventsCall()
        .setCode(this.code)
        .setType(this.type)
        .setTitle(this.title)
        .setListClosingDate(this.listClosingDate)
        .setStartTime(this.startTime)
        .setEndTime(this.endTime)
        .setDelegationDeadline(this.delegationDeadline)
        .setApplicableMoYear(
          this.moYear ? parseInt(this.moYear) : new Date().getUTCFullYear()
        )
      );
      let data = null;
      if (this.existingEvent === null) {
        data = await apiCall.post();
      } else {
        data = await apiCall.setId(this.existingEvent.id).put();
      }
      this.$store.dispatch(
        "notification/infoMessage",
        data["code"] + " " + data["title"] + " event data saved successfully!"
      );
      this.$refs.dialog.beforeClose();
      this.$emit("updated", data);
    },
    show() {
      this.$refs.dialog.show();
    },
  },
};
</script>
