<template>
  <v-dialog v-model="value" maxWidth="600px">
    <v-card tile>
      <v-toolbar card dark color="primary">
        <v-toolbar-title>Details</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon dark @click="close()">
          <v-icon>{{ icon.close }}</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <v-radio-group v-model="status" column>
          <v-radio label="To be decided" :value="null" />
          <v-radio label="Confirm - still a student" value="confirmed" />
          <v-radio label="Decline - activity info outdated" value="declined" />
        </v-radio-group>
        <v-btn color="success" block @click="changeStatus"> Submit </v-btn>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import api from "@/api";
import { icon, LINK_ICMS_PRJLIST } from "@/utils/constants";

export default {
  name: "ConfirmationDialog",
  props: ["value", "student"],
  data() {
    return {
      status: null,
    };
  },
  watch: {
    student(value) {
      this.status = value.activityCheck.status;
    },
  },
  methods: {
    close() {
      this.$emit("input", false);
    },
    async changeStatus() {
      const data = await new api.ConfirmStudentStatusCall()
        .setCmsId(this.student.cmsId)
        .setStatus(this.status)
        .post();

      this.$emit("statusupdate", data);
      this.displaySuccessMessage(data);
      this.close();
    },
    displaySuccessMessage(activity) {
      let message;
      if (activity.status) {
        message =
          activity.status == "confirmed"
            ? `Activity confirmed for ${this.student.lastName}, ${this.student.firstName}.`
            : `Activity change indicated for ${this.student.lastName}, ${this.student.firstName}. Please update in <a href="${LINK_ICMS_PRJLIST}" target="_blank">iCMS</a>!`;
      } else {
        message = "Activity confirmation set to be decided later...";
      }

      this.$store.dispatch("notification/infoMessage", message);
    },
  },
  created() {
    this.icon = icon;
  },
};
</script>
