<template>
  <!-- ADMIN BOXES -->
  <v-row v-if="isAdmin">
    <v-col cols="12" md="6">
      <v-card v-if="syncAgentsTimestamps" height="100%">
        <v-card-title primary class="title">Sync agents run times</v-card-title>
        <v-divider></v-divider>
        <v-card-text class="text-left">
          <pre>{{ preformattedSyncTimes }}</pre>
        </v-card-text>
      </v-card>
    </v-col>
    <v-col cols="12" md="6">
      <v-card v-if="deploymentInfo" height="100%">
        <v-card-title primary class="title">Deployment info</v-card-title>
        <v-divider></v-divider>
        <v-card-text class="text-left">
          <pre>{{ preformattedDeploymentInfo }}</pre>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import api from "@/api";
import { mapGetters } from "vuex";
import { preformatObject } from "@/utils/helpers";

export default {
  data() {
    return {
      syncAgentsTimestamps: {},
      deploymentInfo: {
        "Vue app's environment": process.env.NODE_ENV,
        "Vue app's base URL": process.env.BASE_URL,
        "Vue app's API URL": process.env.VUE_APP_API_URL,
        "Vue app's secr URL": process.env.VUE_APP_ICMS_SECR_URL,
        "Vue app's branch": process.env.VUE_APP_COMMIT_BRANCH,
        "Vue app's commit title": process.env.VUE_APP_COMMIT_TITLE,
        "Vue app's commit timestamp": process.env.VUE_APP_COMMIT_TIMESTAMP,
        "Vue app's commit SHA": process.env.VUE_APP_LAST_COMMIT_HASH,
        "Vue app's commit short SHA": process.env.VUE_APP_COMMIT_SHORT_SHA,
      },
    };
  },
  computed: {
    ...mapGetters("user", ["isAdmin"]),

    preformattedDeploymentInfo() {
      return preformatObject(this.deploymentInfo);
    },
    preformattedSyncTimes() {
      return preformatObject(this.syncAgentsTimestamps);
    },
  },
  mounted() {
    if (this.isAdmin) {
      var compo = this;
      new api.AppAssetDataCall()
        .setAssetName("fwd_sync_last_run_info")
        .get()
        .then((data) => {
          let temp = [];
          Object.entries(data[0].data.timestamps).forEach((e) => {
            temp[e[0]] = new Date(e[1] * 1000).toISOString().replace("T", " ");
          });
          compo.syncAgentsTimestamps = temp;
        });
      new api.DeploymentInfoCall().get().then((data) => {
        compo.deploymentInfo = { ...compo.deploymentInfo, ...data };
      });
    }
  },
};
</script>
