<template>
  <div>
    <base-page>
      <template v-slot:toolbar-left></template>
      <template v-slot:toolbar-title>Vote delegations</template>
      <template v-slot:toolbar-right></template>
      <template v-slot:body>
        <v-container>
          <v-row v-if="delegables.length == 0">
            <v-col cols="12">
              <v-banner width="100%">
                There seem to be no entries that you can act upon.
              </v-banner>
            </v-col>
          </v-row>
          <v-row>
            <v-col v-for="item in delegables" cols="4" v-bind:key="item.id">
              <v-card style="text-align: left">
                <v-card-title>
                  <span v-if="item.event !== null">
                    {{ item.event.code }} (as {{ item.unit }})
                  </span>
                  <span v-else> Perennial (as {{ item.unit }}) </span>
                </v-card-title>
                <v-card-subtitle v-if="item.event !== null">{{
                  item.event.title
                }}</v-card-subtitle>
                <v-card-text>
                  <div class="text--primary" v-if="item.delegation !== null">
                    <p>
                      Vote delegated to {{ item.delegation.delegate_forename }}
                      {{ item.delegation.delegate_surname }} on
                      {{
                        (
                          item.delegation.last_update ||
                          item.delegation.creation ||
                          ""
                        ).substring(0, 10)
                      }}.
                    </p>
                  </div>
                  <div class="text--primary" v-if="item.event !== null">
                    <span v-if="item.event !== null">
                      Voting will take place on
                      {{ item.event.start_time.substring(0, 10) }}. <br />
                      Votes can be delegated by
                      {{ item.event.delegation_deadline.substring(0, 10) }}.
                      <br />
                    </span>
                  </div>
                </v-card-text>
                <v-card-actions>
                  <v-btn
                    text
                    color="green"
                    v-if="item.delegation === null"
                    @click="newDelegation(item.event, item.unit)"
                    >Delegate vote</v-btn
                  >
                  <v-btn
                    text
                    color="red"
                    v-if="item.delegation !== null"
                    @click="cancelDelegation(item.delegation)"
                    >Cancel delegation</v-btn
                  >
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </template>
      <template v-slot:actions></template>
    </base-page>
    <edit-dialog
      v-model="dialogs.delegationEditor"
      @reset="editor.cmsId = null"
      @submit="submitDelegation"
      @close="resetEditors"
    >
      <template v-slot:activator><span /></template>
      <template v-slot:header>
        <span v-if="editor.votingCode !== null">
          Vote delegation for {{ editor.votingCode }}
        </span>
        <span v-else> Perennial vote delegation </span>
      </template>
      <template v-slot:fields>
        <person-picker v-model="editor.cmsId"></person-picker>
      </template>
    </edit-dialog>
    <confirm-dialog
      v-model="dialogs.cancellationConfirmation"
      @confirmed="submitCancellation"
      @cancelled="cancelCancellation"
    >
      <template v-slot:title> Confirmation needed. </template>
      <template v-slot:message>
        <span v-if="editor.delegation !== null">
          <span v-if="editor.delegation.is_perennial">
            You are about to cancel a perennial delegation to
            {{ editor.delegation.delegate_forename }}
            {{ editor.delegation.delegate_surname }}.
          </span>
          <span v-else>
            You are about to cancel delegation to
            {{ editor.delegation.delegate_forename }}
            {{ editor.delegation.delegate_surname }} ({{
              editor.delegation.voting_code
            }}, {{ editor.delegation.inst_code }}).
          </span>
        </span>
      </template>
    </confirm-dialog>
  </div>
</template>

<script>
import api from "@/api";
import { mapGetters } from "vuex";
import EditDialog from "@/components/common/inputs/EditDialog";
import ConfirmDialog from "@/components/common/ConfirmDialog.vue";
import PersonPicker from "@/components/common/inputs/PersonPicker";

export default {
  name: "VoteDelegation",
  components: {
    "person-picker": PersonPicker,
    "edit-dialog": EditDialog,
    "confirm-dialog": ConfirmDialog,
  },
  data() {
    return {
      // upcoming voting events
      events: [],
      // kind of Map<String, List<VotingListEntry>> filtered down to relevant entries
      availableVotes: {},
      // all delegations of the current user (including cancelled that remain hidden)
      delegations: [],

      dialogs: {
        delegationEditor: false,
        cancellationConfirmation: false,
      },

      editor: {
        cmsId: null,
        votingCode: null,
        instCode: null,
        delegation: null,
      },
    };
  },
  props: {},
  computed: {
    upcomingCodes: function () {
      return this.events.map((e) => e.code);
    },
    /**
     * Delegable structure describes an active delegation or a vote that can be delegated.
     * Subsequently a uniform processing approach will be applied to all such entries,
     * exposing the actions as necessary (delegate / cancel delegation)
     */
    delegables: function () {
      var retVal = [];
      for (var key in this.availableVotes) {
        for (var vote of this.availableVotes[key]) {
          retVal[retVal.length] = {
            id: "delegable#" + retVal.length,
            event: this.events.find((e) => e.code == key),
            delegation: null,
            unit: vote.unit,
          };
        }
      }
      for (var delegation of this.delegations.filter(
        (e) => e.status === "active"
      )) {
        var eventIndex = this.events.findIndex(
          (e) => e.code == delegation.voting_code
        );
        if (eventIndex > -1) {
          retVal[retVal.length] = {
            id: "delegable#" + retVal.length,
            event: this.events[eventIndex],
            delegation: delegation,
            unit: delegation.inst_code,
          };
        }
      }
      for (var inst of this.ledInstitutes) {
        // old delegations would be saved without the inst code - they can be matched against leadership role if the latter is the only such role
        var delegationIdx = this.delegations.findIndex(
          (e) =>
            e.is_perennial === true &&
            e.status === "active" &&
            (this.ledInstitutes.length == 1 || e.inst_code === inst)
        );
        retVal[retVal.length] = {
          id: "perennial#" + retVal.length,
          event: null,
          delegation:
            delegationIdx > -1 ? this.delegations[delegationIdx] : null,
          unit: inst,
        };
      }
      return retVal.filter(
        (e) => e.event !== null || e.id.startsWith("perennial")
      );
    },
    ...mapGetters("user", ["userId", "ledInstitutes"]),
  },
  methods: {
    resetEditors() {
      for (var key in this.editor) {
        this.$set(this.editor, key, null);
      }
    },
    closeDialogs() {
      for (var key in this.dialogs) {
        this.$set(this.dialogs, key, false);
      }
    },
    storeVotingEvents(data) {
      console.debug("Received voting events list");
      this.events = data;
    },
    storeDelegations(data) {
      console.debug("Received vote delegations");
      this.delegations = data;
    },
    newDelegation(event, unit) {
      this.dialogs.delegationEditor = true;
      this.editor.votingCode = event !== null ? event.code : null;
      this.editor.instCode = unit;
    },
    submitDelegation() {
      var call = new api.VoteDelegationsCall().setPrincipalCmsId(this.userId);
      call = call
        .setDelegateCmsId(this.editor.cmsId)
        .setInstCode(this.editor.instCode);
      if (this.editor.votingCode === null) {
        call = call.setPerennial();
      } else {
        call = call.setVotingCode(this.editor.votingCode);
      }
      call.post().then(this.storeNewDelegation);
    },
    /**
     * Called on reply from POST / PUT
     */
    storeNewDelegation(data) {
      // updating the delegations list, making sure not to keep duplicate states of the same record
      this.delegations = [
        ...this.delegations.filter((e) => e.id != data.id),
        data,
      ];
      // re-fetching the voting list so as to force an update to available options.
      // it could basically be done offline too
      if (data.voting_code !== null) {
        // a perennial delegation will not need that
        this.requestVotingList(data.voting_code);
      }
      this.$store.dispatch(
        "notification/infoMessage",
        "Delegation has been " +
          (data.status === "active" ? "saved" : "cancelled") +
          "."
      );
      this.closeDialogs();
      this.resetEditors();
    },
    requestVotingList(code) {
      var compo = this;
      new api.VotingParticipantsCall()
        .setCode(code)
        .get()
        .then(function (data) {
          var ownedVotes = data.filter(
            (e) => e.cms_id == compo.userId && e.is_delegated === false
          );
          console.debug(
            "Fetched voting list for " +
              code +
              " and found " +
              ownedVotes.length +
              " votes to cast."
          );
          compo.$set(compo.availableVotes, code, ownedVotes);
        });
    },
    cancelDelegation(delegation) {
      this.dialogs.cancellationConfirmation = true;
      this.editor.delegation = delegation;
      console.debug(delegation);
    },
    submitCancellation() {
      var data = this.editor.delegation;
      var call = new api.VoteDelegationsCall()
        .setInstCode(data.inst_code ?? this.ledInstitutes[0])
        .setDelegateCmsId(data.delegate_cms_id);
      call = call.setPrincipalCmsId(data.principal_cms_id).setCancelled();
      if (data.is_perennial) {
        call = call.setPerennial();
      } else {
        call = call.setVotingCode(data.voting_code);
      }
      call.putOne(data.id).then(this.storeNewDelegation);
      // PS: enabling PATCH on the server side could save some of the pain here but done is done.
    },
    cancelCancellation() {
      this.closeDialogs();
      this.resetEditors();
    },
  },
  mounted() {
    new api.VotingEventsCall()
      .setDelegationAllowed(true)
      .get()
      .then(this.storeVotingEvents);
    new api.VoteDelegationsCall()
      .setPrincipalCmsId(this.userId)
      .get()
      .then(this.storeDelegations);
  },
  watch: {
    upcomingCodes: function (newVal) {
      console.debug("Voting events changed");
      for (var code of newVal) {
        this.requestVotingList(code);
      }
    },
  },
};
</script>

<style scoped></style>
