<template>
  <v-dialog v-model="value" max-width="600px" :persistent="true">
    <v-card>
      <ValidationObserver v-slot="{ handleSubmit }">
        <v-card-title>
          <span class="headline">Create Job Nomination - </span>
          <span class="" style="color: #549deb">
            {{ item.title }} : {{ item.unit_domain }} {{ item.unit_type }} -
            {{ item.position }}</span
          >
        </v-card-title>
        <v-card-text>
          <v-container>
            <ValidationProvider
              name="Nominee"
              rules="required"
              v-slot="{ errors }"
            >
              <person-picker label="Nominee*" v-model="nominee_id" />
              <div v-if="showValidationErrors">
                <span v-for="error in errors" :key="error" class="red--text">{{
                  error
                }}</span>
              </div>
            </ValidationProvider>
            <v-textarea label="Remarks*" rows="3" v-model="remarks" />
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close">Close</v-btn>
          <v-btn color="blue darken-1" text @click="handleSubmit(submit)"
            >Save</v-btn
          >
        </v-card-actions>
      </ValidationObserver>
    </v-card>
  </v-dialog>
</template>

<script>
import api from "@/api";
import { mapActions } from "vuex";
import PersonPicker from "@/components/common/inputs/PersonPicker";

export default {
  components: {
    PersonPicker,
  },
  props: {
    value: { type: Boolean, required: true, default: false },
    item: { type: Object, default: () => null },
  },
  data() {
    return {
      showValidationErrors: false,
      job_openings: [],
      job_id: null,
      nominee_id: null,
      position_id: null,
      job_unit_id: null,
      remarks: null,
    };
  },
  methods: {
    ...mapActions("notification", ["infoMessage"]),
    close() {
      this.nominee_id = null;
      this.remarks = null;
      this.$emit("input", false);
    },
    async submit() {
      this.showValidationErrors = true;
      await new api.JobNominationCall()
        .setJobId(this.item.id)
        .setNomineeId(this.nominee_id)
        .setPositionId(this.item.position_id)
        .setJobUnitId(this.item.job_unit_id)
        .setRemarks(this.remarks)
        .post();
      this.showValidationErrors = false;
      this.displaySuccessMessage();
      this.close();
    },
    displaySuccessMessage() {
      this.infoMessage("Job Nomination Created Successfully.");
    },
  },
};
</script>
