<template>
  <v-dialog v-model="masterSwitch" v-on="$listeners" :max-width="maxWidth">
    <v-card>
      <v-card-title>{{
        note.id || "Entry " + note.processNumber
      }}</v-card-title>
      <v-card-text>
        <editor
          :template="template"
          :fieldsMeta="fieldsMeta"
          v-model="formInputs"
        ></editor>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="cancel">Cancel</v-btn>
        <v-btn color="blue darken-1" text @click="save">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import HateoasEditor from "@/components/common/HateoasEditor";
import { IcmsPiggybackCall } from "@/api/core";

export default {
  name: "NoteStubActionsDiaog",
  components: {
    editor: HateoasEditor,
  },
  props: {
    note: {
      type: Object,
      default: () => ({}),
    },
    value: {
      type: Boolean,
      default: false,
    },
    "max-width": {
      type: String,
      default: "800px",
    },
    noteState: {
      type: Object,
      default: () => ({}),
    },
  },
  watch: {
    value(newVal) {
      this.masterSwitch = newVal;
    },
  },
  data: () => ({
    masterSwitch: false,
    files: [],
    fieldsMeta: {
      action: {
        sortVal: -10,
        label: "Action",
        type: "select",
        items: ["ACCEPT", "REJECT"],
        multiple: false,
      },
      remarks: {
        label: "Remarks",
      },
    },
    formInputs: {},
  }),
  computed: {
    template() {
      return (this.noteState._templates || {}).default;
    },
    href() {
      return ((this.noteState._links || {}).self || {}).href;
    },
  },
  methods: {
    resetField(name) {
      this.formInputs[name] = null;
    },
    resetFields() {
      Object.keys(this.formInputs).forEach(this.resetField);
    },
    cancel() {
      this.resetFields();
      this.$emit("input", false);
    },
    save() {
      console.debug(
        "The link will be: " +
          this.href +
          " and the method: " +
          this.template.method
      );
      new IcmsPiggybackCall(this.href)
        .setData(this.formInputs)
        .setSuccessCallback(this.handleResponse)
        .ajaxCall(this.template.method);
    },
    handleResponse(received) {
      console.debug(JSON.stringify(received));
      this.$emit("input", false);
      this.$store.dispatch("notification/infoMessage", "Changes saved");
      this.resetFields();
      this.$emit("stubState", received);
    },
  },
};
</script>
