<template>
  <div>
    <base-page>
      <template v-slot:toolbar-middle>
        <v-toolbar-title>CMS Notes</v-toolbar-title>
      </template>
      <template v-slot:toolbar-left>
        <div v-if="templates.default" class="pr-2">
          <edit-dialog
            v-model="editors.submission"
            ref="submissionEditor"
            @reset="resetSubmissionForm"
            @submit="submitNoteData()"
          >
            <template v-slot:button-label>
              <v-icon medium style="cursor: pointer">{{ icon.add }}</v-icon>
            </template>
            <template v-slot:header> New entry </template>
            <template v-slot:fields>
              <v-select
                label="Entry type"
                v-model="noteTypeForUpload"
                :items="Object.keys(uploaders)"
              />
              <v-file-input
                v-model="fileInputs.primaryPdf"
                label="PDF file"
              ></v-file-input>
              <hateoas-editor
                :template="templates.default"
                :fieldsMeta="uploadFieldsMeta"
                v-model="editorData"
              >
              </hateoas-editor>
            </template>
          </edit-dialog>
        </div>
      </template>
      <template v-slot:toolbar-right> </template>
      <template v-slot:header>
        <v-row>
          <v-col cols="12" md="4"
            ><v-text-field
              label="Year"
              v-model="selected.year"
              type="number"
              @change="updateSelection"
            ></v-text-field
          ></v-col>
          <v-col cols="12" md="4"
            ><v-select
              label="Note Type"
              v-model="selected.noteType"
              :items="options.noteTypes"
              @change="updateSelection"
            ></v-select
          ></v-col>
          <v-col cols="12" md="4">
            <v-text-field
              label="Text filter"
              v-model="selected.textFilter"
            ></v-text-field>
          </v-col>
        </v-row>
      </template>
      <template v-slot:body>
        <div>
          <data-table
            :headers="tableHeaders"
            :loading="pending"
            :items="tableRows"
            :enableEgroupExport="true"
            :egroupExportHrIdKey="null"
            :emailExportKey="'email'"
            :search="selected.textFilter"
          >
            <template v-slot:[`item.actions`]="{ item }">
              <v-btn @click="$set(selected, 'id', item.id)" color="primary" dark
                ><v-icon>{{ icon.info }}</v-icon></v-btn
              >
            </template>
            <template v-slot:[`item.submitter`]="{ item }">
              {{ item.submitter }}
              <template v-if="item.email">
                <br />
                <a :href="'mailto:' + item.email">{{ item.email }}</a>
              </template>
            </template>
          </data-table>
        </div>
      </template>
      <template v-slot:actions></template>
    </base-page>
    <note-details
      v-model="dialogs.noteDetails"
      :note="entries[selected.id]"
      :peopleLookup="cmsIdResolver"
    ></note-details>
  </div>
</template>

<script>
import api from "@/api";
import { mapActions } from "vuex";
import { IcmsPiggybackHalCall, restplusApi, CmsIdResolver } from "@/api/core";
import { BaseCall } from "common";
import Hateoas from "@/api/core/Hateoas";

import { icon } from "@/utils/constants";

import EditDialog from "@/components/common/inputs/EditDialog";
import HateoasEditor from "@/components/common/HateoasEditor";
import NoteDetailsDialog from "./NoteDetailsDialog";

export default {
  name: "NoteEntries",
  components: {
    "edit-dialog": EditDialog,
    "hateoas-editor": HateoasEditor,
    "note-details": NoteDetailsDialog,
  },
  props: {
    year: { type: Number, default: () => new Date().getFullYear() },
    noteType: { type: String, default: "AN" },
    index: { type: String, default: null },
    notesCall: {
      type: api.LegacyNotesCall,
      default: () => new api.LegacyNotesCall().notes(),
    },
  },
  data() {
    var compo = this;
    return {
      cmsIdResolver: new CmsIdResolver(compo),
      pending: true,
      noteTypeForUpload: null,
      selected: {
        year: null,
        noteType: null,
        id: null,
        textFilter: null,
      },
      options: {
        // soft-hardcoded: the values are fetched from the server and replaced upon loading the component
        noteTypes: [],
        categories: [],
      },
      entries: {},
      tableHeaders: [
        { text: "CMSNoteId", value: "id" },
        { text: "Project", value: "project" },
        { text: "Title", value: "title" },
        { text: "Submitter", value: "submitter" },
        { text: "Authors", value: "authors" },
        { text: "Status", value: "status" },
        { text: "Actions", value: "actions" },
      ],
      // values inserted by the user - changes will trigger temporary file uploads
      fileInputs: {
        primaryPdf: null,
      },
      // will store the information about the files pre-loaded onto the server
      tempUploads: {
        primaryPdf: null,
      },
      uploaders: {},
      editors: {
        submission: false,
      },
      dialogs: {
        confirmSubmission: false,
        noteDetails: false,
        noteDetailsFor: null,
      },
      templates: {
        default: {},
      },
      uploadFieldsMeta: {
        title: {
          sortVal: -10,
          label: "Title",
        },
        author: {
          sortVal: -9,
          label: "Author",
        },
        pageCount: {
          sortVal: -8,
          label: "Number of pages",
          type: "number",
        },
        presentedAtTAC: {
          sortVal: -7,
          label: "Presented at Thesis Awards Committee",
          type: "boolean",
        },
        categories: {
          sortVal: -6,
          label: "Categories / keywords",
          type: "select",
          items: [],
          multiple: true,
        },
        institute: {
          sortVal: -5,
          label: "Place",
          type: "instcode",
        },
        alternativeLocation: {
          sortVal: -4,
          label: "Other place",
        },
        supervisorName: {
          sortVal: -3,
          label: "Supervisor name",
        },
        remarks: {
          label: "Remarks",
        },
        fileId: {
          readOnly: true,
        },
      },
      // hateoas editor uses this as model
      editorData: {},

      hyperlinks: {
        self: { href: "" },
      },
    };
  },
  computed: {
    tableRows() {
      var compo = this;
      const a = Object.values(this.entries).map((e) => {
        const data = compo.cmsIdResolver.getDataForId(e.submitterCmsId);
        return {
          ...e,
          submitter: compo.cmsIdResolver.getLabelForId(e.submitterCmsId),
          email: data ? data.email : null,
        };
      });
      return a;
    },
    cmsIdResolverSize() {
      return this.cmsIdResolver.size();
    },
  },
  methods: {
    ...mapActions("notification", ["infoMessage"]),
    updateSelection() {
      var compo = this;
      compo.$nextTick(() => {
        compo.requestNotesData();
        compo.pushRoute();
      });
    },
    submitNoteData() {
      var call = new BaseCall(
        restplusApi,
        this.uploaders[this.noteTypeForUpload].link.href
      );
      var data = this.editorData;

      Object.keys(data).forEach((key) => {
        call.set(key, data[key]);
      });
      call.set("fileId", this.tempUploads.primaryPdf);
      call.setSuccessCallback(this.processSuccessfulSubmission);
      call.post();
    },
    processSuccessfulSubmission(data) {
      this.$store.dispatch(
        "notification/infoMessage",
        "An entry «" + data.title + "» created successfully!"
      );
      this.$set(this.editors, "submission", false);
      this.resetSubmissionForm();
      this.$router.push({ name: "notes-mine" }).catch(() => {});
    },
    resetAllFields(someObject) {
      var compo = this;
      Object.keys(someObject).forEach((k) => {
        compo.$set(someObject, k, null);
      });
    },
    resetSubmissionForm() {
      console.debug("Resetting submission form");
      this.noteTypeForUpload = null;
      this.resetAllFields(this.tempUploads);
      this.resetAllFields(this.fileInputs);
    },
    uploadFile(file) {
      /**
       * Pushes the file to server's holding area, receives back some identifier.
       * The latter is then sent over with the form so that the two get reconnected.
       */

      console.debug("About to upload file: " + file);
      if ([null, undefined].indexOf(file) >= 0) {
        console.debug("Reset the preset");
        this.$set(this.tempUploads, "primaryPdf", null);
      } else {
        new api.TempFileUploadCall()
          .setFile(file)
          .post()
          .then((d) => {
            this.setTempFile(d["attachment"], "primaryPdf");
          });
      }
    },
    setTempFile(identifier, fieldName) {
      this.$set(this.tempUploads, fieldName, identifier);
      this.infoMessage("File loaded successfully");
    },
    updateNotesFromRemote(data) {
      var newNotes = Object.fromEntries(data.map((e) => [e.id, e]));
      this.entries = { ...this.entries, ...newNotes };
      this.cmsIdResolver.markIdsForResolution(
        data.map((e) => e.submitterCmsId)
      );
      this.pending = false;
    },
    setNoteTypesFromRemote(data) {
      console.debug("Fetched the note types... " + JSON.stringify(data));
      var noteTypes = [];
      var processor = new Hateoas.ResponseProcessor(data);
      processor.setEntityCollectionHandler((label, arr) => {
        noteTypes = arr;
      });
      processor.process();
      this.$set(this.options, "noteTypes", noteTypes);
    },
    setCategoriesFromRemote(data) {
      console.debug("Fetched the note categories... " + JSON.stringify(data));
      var processor = new Hateoas.ResponseProcessor(data);
      var compo = this;
      processor.setEntityCollectionHandler((label, arr) => {
        compo.$set(compo.uploadFieldsMeta.categories, "items", arr);
      });
      processor.process();
    },
    requestNotesData() {
      this.entries = {};
      // the call instance should have been initialized by now within the mounted()
      this.notesCall
        .setYear(this.selected.year)
        .setType(this.selected.noteType)
        .get();
    },
    discoverUploadEndpoints(link) {
      new BaseCall(restplusApi, link.href)
        .setSuccessCallback(this.setUploadEndpointsFromRemote)
        .get();
    },
    discoverCategories(link) {
      new BaseCall(restplusApi, link.href)
        .setSuccessCallback(this.setCategoriesFromRemote)
        .get();
    },
    discoverNoteTypes(link) {
      new BaseCall(restplusApi, link.href)
        .setSuccessCallback(this.setNoteTypesFromRemote)
        .get();
    },
    setUploadEndpointsFromRemote(response) {
      console.debug(JSON.stringify(response));
      var compo = this;
      var processor = new Hateoas.ResponseProcessor(response);
      processor.setEntityCollectionHandler((label, arr) => {
        arr.forEach((e) => {
          compo.$set(compo.uploaders, e["type"], {
            template: e._templates.default,
            link: e._links.self,
          });
        });
      });
      processor.process();
    },
    pushRoute() {
      // synchronizes the route with selection's state
      var params = {
        year: this.selected.year,
        noteType: this.selected.noteType,
      };
      var query = {};
      if (this.selected.id !== null && !Number(this.selected.id)) {
        // case A: CMS note ID, like CMS AN-2020/023
        var tokens = this.selected.id.split(/-| |\//);
        // tokens[0] will be 'CMS '
        var type = tokens[1];
        var year = tokens[2];
        var indx = tokens[3];
        params = { year: year, noteType: type, index: indx };
      } else if (this.selected.id !== null) {
        // case B: just a number, denoting a process ID
        console.info("Need to implement handling process entries.");
      }
      this.$router
        .push({ name: "notes", params: params, query: query })
        .catch(() => {});
    },
  },
  watch: {
    "fileInputs.primaryPdf"(newVal) {
      this.uploadFile(newVal);
    },
    noteTypeForUpload(newVal) {
      var templateToSwapIn = {};
      if (newVal !== null) {
        templateToSwapIn = this.uploaders[newVal].template;
      }
      this.$set(this.templates, "default", templateToSwapIn);
    },
    "options.categories"(newVal) {
      this.uploadFieldsMeta.categories.items = newVal;
    },
    "selected.id"(newVal) {
      if (newVal !== undefined && newVal !== null) {
        this.$set(this.dialogs, "noteDetails", true);
        this.pushRoute();
      }
    },
    cmsIdResolverSize(newVal) {
      console.debug("More IDs to resolve: " + newVal);
      this.cmsIdResolver.fetchMissing();
    },
    "dialogs.noteDetails": function (newValue) {
      if (newValue == false) {
        this.selected.id = null;
        this.pushRoute();
      }
    },
  },
  mounted() {
    var compo = this;
    var processor = this.notesCall.getProcessor();
    processor.setEntityCollectionHandler((label, items) => {
      compo.updateNotesFromRemote(items);
    });
    // overriding the default link handling of the "stock" processor
    processor.setLinkHandler((label, link) => {
      if (label == "next") {
        // the new call will use the defaults for IcmsPiggybackHalCall
        new IcmsPiggybackHalCall(link.href)
          .setSuccessCallback(compo.updateNotesFromRemote)
          .get();
        console.debug("Need to fetch more from: " + link.href);
      } else if (
        label == "uploadEndpoints" &&
        Object.keys(compo.uploaders).length == 0
      ) {
        compo.$set(compo.hyperlinks, label, link);
        compo.discoverUploadEndpoints(link);
      } else if (
        label == "categories" &&
        compo.options.categories.length == 0
      ) {
        compo.discoverCategories(link);
      } else if (label == "types" && compo.options.noteTypes.length == 0) {
        compo.discoverNoteTypes(link);
      }
    });
    var selected = { year: this.year, noteType: this.noteType, id: null };
    if (Number(this.index)) {
      selected["id"] =
        "CMS " + this.noteType + "-" + this.year + "/" + this.index;
      console.debug("Setting selected note ID:  " + selected["id"]);
    } else {
      console.debug("Cannot set selected note ID from index: " + this.index);
    }
    this.selected = selected;
    this.updateSelection();
  },
  created() {
    this.icon = icon;
  },
};
</script>
