<template>
  <div>
    <base-page>
      <template v-slot:toolbar-middle>
        <v-toolbar-title>Pending CMS Notes (Workflows)</v-toolbar-title>
      </template>
      <template v-slot:header>
        <v-col>
          <v-row>
            <v-col
              v-if="selectedRows.length > 0"
              cols="3"
              @click="dialogs.stubBulkActions = true"
            >
              <v-btn color="primary">
                Act upon {{ selectedRows.length }} items
              </v-btn>
            </v-col>
            <v-spacer />
            <v-col cols="3">
              <v-switch
                v-model="filters.actionable"
                label="Show only Ready for Secretariat"
              ></v-switch>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-text-field
                label="Text filter"
                v-model="filters.text"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
      </template>
      <template v-slot:body>
        <data-table
          v-model="selectedRows"
          item-key="processNumber"
          :items="tableRows"
          :headers="tableHeaders"
          :enable-egroup-export="true"
          :egroup-export-hr-id-key="null"
          :emailExportKey="'email'"
          :search="filters.text"
          :show-select="filters.actionable"
        >
          <template v-slot:[`item.actions`]="{ item }">
            <v-item-group>
              <v-btn
                @click="showStubDetails(item.processNumber)"
                color="primary"
              >
                <v-icon>mdi-information-outline</v-icon>
              </v-btn>
              <v-btn
                v-if="
                  (states[item.processNumber] || {})._templates !== undefined
                "
                @click="showStubActions(item.processNumber)"
              >
                <v-icon>mdi-cogs</v-icon>
              </v-btn>
            </v-item-group>
          </template>
          <template v-slot:[`item.submitter`]="{ item }">
            {{ item.submitter }}
            <template v-if="item.email">
              <br />
              <a :href="'mailto:' + item.email">{{ item.email }}</a>
            </template>
          </template>
        </data-table>
      </template>
    </base-page>
    <note-details
      @input="dialogOpenClose"
      v-model="dialogs.stubDetails"
      :note="entries[selected.processNumber]"
      :peopleLookup="cmsIdResolver"
    ></note-details>
    <stub-actions
      v-model="dialogs.stubActions"
      @input="dialogOpenClose"
      :note="entries[selected.processNumber]"
      :noteState="states[selected.processNumber]"
      @stubState="updateStubState"
    />
    <stub-bulk-actions
      v-model="dialogs.stubBulkActions"
      @input="dialogBulkOpenClose"
      :noteStates="bulkStates"
      @stubState="updateStubStateBulk"
    />
  </div>
</template>

<script>
import api from "@/api";
import { IcmsPiggybackHalCall, CmsIdResolver } from "@/api/core";
import { IdResolver } from "common";
import NoteDetailsDialog from "./NoteDetailsDialog";
import NoteStubActionsDialog from "./NoteStubActionsDialog";
import NoteStubBulkActionsDialog from "./NoteStubBulkActionsDialog";

export default {
  name: "NoteStubs",
  components: {
    "note-details": NoteDetailsDialog,
    "stub-actions": NoteStubActionsDialog,
    "stub-bulk-actions": NoteStubBulkActionsDialog,
  },
  props: {
    stubsCall: {
      type: api.LegacyNotesCall,
      default: () => new api.LegacyNotesCall().stubs(),
    },
    cmsIdResolver: {
      type: CmsIdResolver,
      default: () => new CmsIdResolver(this),
    },
    stubStateResolver: {
      type: IdResolver,
      default: () => new IdResolver(this, "processNumber"),
    },
  },
  data: () => ({
    tableHeaders: [
      { text: "Process", value: "processNumber" },
      { text: "CMS Note ID", value: "id" },
      { text: "Project", value: "project" },
      { text: "Type", value: "type" },
      { text: "Title", value: "title" },
      { text: "Status", value: "status" },

      { text: "Submitter", value: "submitter" },
      { text: "Last update", value: "lastUpdate" },
      { text: "Actions", value: "actions" },
    ],
    selectedRows: [],
    pending: true,
    selected: {
      year: null,
      noteType: null,
      processNumber: null,
      state: null,
    },
    entries: {},
    states: {},
    hyperlinks: {},
    dialogs: {
      stubDetails: false,
      stubActions: false,
      stubBulkActions: false,
    },
    filters: {
      actionable: false,
      text: null,
    },
  }),
  watch: {
    cmsIdResolverSize(newVal, oldVal) {
      console.debug(
        "CMS ID resolver size changed from " + oldVal + " to " + newVal
      );
      var compo = this;
      this.$nextTick(() => compo.cmsIdResolver.fetchMissing());
    },
    stubStateResolverSize() {
      var compo = this;
      this.$nextTick(() => compo.requestStubStates());
    },
    "dialogs.stubDetails": function (newValue) {
      console.debug("StubDetails changed value to " + newValue);
      if (newValue == false) {
        this.selected.processNumber = null;
      }
    },
  },
  computed: {
    tableRows() {
      var compo = this;
      return Object.values(this.entries)
        .filter(
          (e) =>
            !compo.filters.actionable ||
            (this.states[e.processNumber] || {})._templates !== undefined
        )
        .map((e) => {
          const data = compo.cmsIdResolver.getDataForId(e.submitterCmsId);
          return {
            ...e,
            submitter: compo.cmsIdResolver.getLabelForId(e.submitterCmsId),
            email: data ? data.email : null,
          };
        });
    },
    cmsIdResolverSize() {
      return Object.keys(this.cmsIdResolver.data).length;
    },
    stubStateResolverSize() {
      return Object.keys(this.stubStateResolver.data).length;
    },
    bulkStates() {
      return this.selectedRows.map(
        ({ processNumber }) => this.states[processNumber]
      );
    },
  },
  methods: {
    showStubDetails: function (procNo) {
      this.setSelectedProcessNumber(procNo);
      this.dialogs.stubDetails = true;
    },
    showStubActions: function (procNo) {
      this.setSelectedProcessNumber(procNo);
      this.dialogs.stubActions = true;
    },
    showStubBulkActions: function () {
      this.dialogs.stubBulkActions = true;
    },
    setSelectedProcessNumber(number) {
      this.$set(this.selected, "processNumber", null);
      this.$set(this.selected, "processNumber", number);
    },
    dialogOpenClose(state) {
      if (!state) {
        console.debug("Closing a dialog");
        this.selected.processNumber = null;
        this.selected.state = null;
      }
    },
    dialogBulkOpenClose(state) {
      if (state === null) {
        console.debug("Clearing selection");
        this.selectedRows = [];
      }
    },
    requestStubsData() {
      this.entries = {};
      this.stubsCall.get();
    },
    requestStubStates() {
      if (this.hyperlinks.stubStates === undefined) {
        console.debug(
          "Cannot fetch stub states - the link has not been discovered!"
        );
      } else {
        console.debug(
          "About to request stub states from " + this.hyperlinks.stubStates.href
        );
        new IcmsPiggybackHalCall(this.hyperlinks.stubStates.href)
          .setSuccessCallback(this.updateStubStatesFromRemote)
          .set("stubIds", this.stubStateResolver.getIdsToResolve().join(","))
          .get();
      }
    },
    updateStubStatesFromRemote(states) {
      this.states = {
        ...this.states,
        ...Object.fromEntries(states.map((s) => [s.processNumber, s])),
      };
      this.stubStateResolver.storeRetrieved(states);
    },
    updateStubState(newState) {
      this.$set(this.states, newState.processNumber, newState);
    },
    updateStubStateBulk(newStates) {
      newStates.forEach((newState) => {
        this.$set(this.states, newState.processNumber, newState);
      });
    },
    updateStubsFromRemote(stubsArray) {
      this.entries = {
        ...this.entries,
        ...stubsArray
          .map((e) => ({
            ...e,
            lastUpdate: new Date(e.modificationTimestamp)
              .toISOString()
              .substring(0, 10),
          }))
          .reduce((p, c) => {
            p[c.processNumber] = c;
            return p;
          }, {}),
      };
      // accumulate the CMS IDs that need resolution
      this.cmsIdResolver.markIdsForResolution(
        stubsArray.map((e) => e.submitterCmsId)
      );
      // in a similar fashion, store the stubStates to fetch
      this.stubStateResolver.markIdsForResolution(
        stubsArray.map((e) => e.processNumber)
      );
    },
  },
  mounted() {
    var compo = this;
    // setup the stubs processor
    this.stubsCall.setSuccessCallback(this.updateStubsFromRemote);
    // this.stubsCall.getProcessor().setTemplateHandler()
    this.stubsCall
      .getProcessor()
      .setLinkHandler((label, link) => {
        if (label === "next") {
          new IcmsPiggybackHalCall(link.href)
            .setSuccessCallback(compo.updateStubsFromRemote)
            .get();
        } else if (label === "stubStates") {
          compo.$set(compo.hyperlinks, label, link);
        }
      })
      .setTemplateHandler((label) => {
        console.debug("Discovered a top-level template: " + label);
      });
    // launch the download
    this.requestStubsData();
  },
};
</script>
