<template>
  <div>
    <base-page>
      <template v-slot:toolbar-title
        >Notes pending secretariat's approval</template
      >
      <template v-slot:header>
        <v-text-field
          label="Year"
          v-model="noteYear"
          type="number"
        ></v-text-field>
        <v-select v-model="noteType" :items="supportedTypes" label="Note type">
        </v-select>
      </template>
      <template v-slot:toolbar-right> </template>
      <template v-slot:body>
        <data-table :headers="tableHeaders" :items="noteItems">
          <template v-slot:item="props">
            <tr>
              <td
                class="px-1"
                v-for="header in tableHeaders"
                :key="header.value"
              >
                <div v-if="header.value == 'status'">
                  <div v-if="!canApprove(props.item['processNumber'])">
                    no action available
                  </div>
                  <v-btn
                    v-else
                    color="green darken-1"
                    text
                    @click="approveStub(props.item.processNumber)"
                  >
                    approve as Secretariat
                  </v-btn>
                </div>
                <div v-else>
                  {{ props.item[header.value] }}
                </div>
              </td>
            </tr>
          </template>
        </data-table>
      </template>
    </base-page>
  </div>
</template>

<script>
import api from "@/api";
import { restplusApi } from "@/api/core";
import { BaseCall } from "common";
import Hateoas from "@/api/core/Hateoas";

export default {
  name: "NotesSecretariat",
  data() {
    return {
      // TODO: setup an API to fetch supported types automagically!
      supportedTypes: ["CR", "DP", "IN", "NOTE", "TS"],
      noteYear: new Date().getUTCFullYear(),
      noteType: "TS",
      loadedNotes: [],
      loadedStates: {},
    };
  },
  watch: {
    loadedNotes() {
      var cbk = this.storeState;
      this.loadedNotes.forEach((e) => {
        if (e._links != undefined && e._links.state != undefined) {
          new BaseCall(restplusApi, e._links.state.href)
            .setSuccessCallback(cbk)
            .get();
        }
      });
    },
    noteYear() {
      this.init();
    },
    noteType() {
      this.init();
    },
  },
  computed: {
    tableHeaders() {
      return [
        { text: "Process ID", value: "processNumber" },
        { text: "Type", value: "type" },
        { text: "Action", value: "status" },
        { text: "Title", value: "title" },
        { text: "Submitter", value: "submitterCmsId" },
      ];
    },
    noteItems() {
      var result = [];
      this.loadedNotes.forEach((e) => {
        if (
          e.processNumber > 0 &&
          e.state != undefined &&
          e.state.status != "DONE" &&
          this.canApprove(e.processNumber)
        ) {
          result.push(e);
        }
      });
      return result;
    },
  },
  methods: {
    canApprove(processId) {
      // This check could be a bit more specific but the action will anyway require server-side authorization.
      if (this.loadedStates[processId] != undefined) {
        var state = this.loadedStates[processId];
        if (state["_templates"] != null) {
          return true;
        }
      }
      return false;
    },
    approveStub(processId) {
      console.debug("About to approve stub " + processId);
      new BaseCall(restplusApi, this.loadedStates[processId]._links.self.href)
        .set("action", "ACCEPT")
        .setSuccessCallback(this.stubApprovedCallback)
        .post();
    },
    stubApprovedCallback(data) {
      this.$store.dispatch(
        "notification/infoMessage",
        "Success. Stub #" + data.processNumber + " is now " + data.status
      );
      console.debug(data);
      this.storeState(data);
    },
    storeNotes(response) {
      console.debug("Storing incoming note info.");
      var processor = new Hateoas.ResponseProcessor(response);
      var component = this;
      processor.setEntityCollectionHandler((label, arr) => {
        component.$set(component, "loadedNotes", arr);
      });
      processor.process();
    },
    storeState(data) {
      console.debug("Storing note state info");
      this.$set(this.loadedStates, data.processNumber, data);
    },
    requestNotes() {
      new api.LegacyNotesCall()
        .stubs()
        .setYear(this.noteYear)
        .setType(this.noteType)
        .setSuccessCallback(this.storeNotes)
        .get();
    },
    init() {
      this.requestNotes();
    },
  },
  mounted() {
    console.debug("Launching init straight away");
    this.init();
  },
};
</script>
