<template>
  <base-page>
    <template v-slot:toolbar-title>Open Author Lists</template>
    <template v-slot:header>
      <v-container class="text-center" fluid style="padding: 0">
        <v-row align="center">
          <v-spacer />
          <v-col cols="3">
            <v-text-field
              v-model="search"
              :append-icon="icon.search"
              label="Search"
            />
          </v-col>
        </v-row>
      </v-container>
    </template>
    <template v-slot:body>
      <data-table
        :headers="headers"
        :items="data"
        :loading="loading"
        :search="search"
      >
      </data-table>
    </template>
  </base-page>
</template>

<script>
import api from "@/api";
import { icon } from "@/utils/constants";

export default {
  name: "OpenAuthorLists",
  data() {
    return {
      data: [],
      loading: false,
      search: "",
    };
  },
  created() {
    this.headers = [
      { text: "Opened on", value: "opened_on", sortable: true },
      { text: "AL Status", value: "al_status", sortable: true },
      { text: "Code", value: "code", sortable: true },
      { text: "CADI Status", value: "cadi_status", sortable: true },
    ];
    this.icon = icon;
  },
  methods: {
    async loadData() {
      this.loading = true;
      this.data = await new api.AuthorListsInfoCall()
        .setStatus("open")
        .get();
      this.loading = false;
    },
  },
  mounted() {
    this.loadData();
  },
};
</script>
