<template>
  <v-dialog v-model="value" maxWidth="290px">
    <v-card>
      <v-card-title class="headline">Warning</v-card-title>
      <v-card-text v-if="person">
        <div>
          You are about to
          <strong>{{ action }}</strong>
          the authorship of {{ name }}.
        </div>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn color="green darken-1" text @click="close"> Close </v-btn>

        <v-btn color="green darken-1" text @click="submit"> Continue </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import api from "@/api";

export default {
  name: "ConfirmationDialog",
  props: ["value", "person"],
  computed: {
    action() {
      return this.$props.person.flagId === "MISC_authorno"
        ? "unfreeze"
        : "freeze";
    },
    name() {
      return `${this.$props.person.lastName} ${this.$props.person.firstName}`;
    },
  },
  methods: {
    close() {
      this.$emit("input", false);
    },
    async submit() {
      const data = await new api.MemberAuthorsCall()
        .setCmsId(this.$props.person.cmsId)
        .setFlagId(this.action === "freeze" ? "MISC_authorno" : null)
        .put()
        .then((data) => (data.length > 0 ? data[0] : {}));

      this.$emit("suspensionupdate", data.flagId);
      this.displaySuccessMessage(data);
      this.close();
    },
    displaySuccessMessage(person) {
      this.$store.dispatch(
        "notification/infoMessage",
        `Authorship of ${this.name} is now ${
          person.isAuthorSuspended ? "frozen" : "unfrozen"
        }.`
      );
    },
  },
};
</script>
