<template>
  <div class="mt-4">
    <div class="mb-4">
      <b>{{ question.title }} {{ question.required ? "*" : "" }}</b>
    </div>
    <v-textarea
      v-if="question.type === 'text'"
      :value="answer"
      @input="$emit('edit', $event)"
    />

    <v-radio-group
      v-if="question.type === 'choice' || question.type === 'true_false'"
      :value="answer"
      @change="$emit('edit', $event)"
    >
      <v-radio
        v-for="option in question.options"
        :key="option"
        :label="option"
        :value="option"
      ></v-radio>
    </v-radio-group>
    <div v-if="question.type === 'multiple'">
      <v-checkbox
        v-for="(option, i) in question.options"
        :key="option"
        :label="option"
        :value="answer.includes(option)"
        @change="checkoutClick(i, $event)"
      ></v-checkbox>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    question: {
      type: Object,
      default: () => ({
        title: "",
      }),
    },
    answer: { type: [String, Array], default: () => "" },
  },
  methods: {
    checkoutClick(i, $event) {
      const option = this.question.options[i];
      if ($event && !this.answer.includes(option)) {
        this.$emit("edit", [...this.answer, option]);
      } else if (this.answer.includes(option)) {
        this.$emit(
          "edit",
          this.answer.filter((a) => a !== option)
        );
      }
    },
  },
};
</script>
