<template>
  <div class="mb-4">
    <v-row>
      <v-col cols="2">
        <v-checkbox
          label="Required"
          v-model="question.required"
          @change="editRequired($event === true)"
        />
      </v-col>
      <v-col cols="2">
        <v-select
          label="Answer Type"
          :items="typeOptions"
          @input="editType"
          :value="question.type"
        />
      </v-col>
      <v-col cols="6">
        <v-text-field
          label="Question"
          :value="question.title"
          @input="editTitle"
        />
      </v-col>
      <v-col cols="2">
        <v-btn @click="$emit('remove')" fab dark small color="red" class="mt-2">
          <v-icon>{{ icon.delete }}</v-icon>
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="3"> </v-col>
      <v-col cols="9">
        <v-row v-for="(option, i) in question.options" :key="i">
          <v-col cols="8">
            <v-text-field
              label="Choice"
              :value="option"
              @input="editOption(i, $event)"
            />
          </v-col>
          <v-col>
            <v-btn
              @click="removeChoice(i)"
              fab
              dark
              small
              color="red"
              class="mt-2"
            >
              <v-icon>{{ icon.delete }}</v-icon>
            </v-btn>
          </v-col>
        </v-row>
        <div
          class="d-flex"
          v-if="question.type !== 'text' && question.type !== 'true_false'"
        >
          <v-btn @click="addChoice" fab dark small color="primary">
            <v-icon>{{ icon.add }}</v-icon>
          </v-btn>

          <div class="ml-2 mt-2">Add Choice</div>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { icon } from "@/utils/constants";

export default {
  props: {
    question: {
      type: Object,
      default: () => ({
        title: "",
      }),
    },
    answer: { type: String, default: "---" },
  },
  computed: {
    typeOptions() {
      return [
        { text: "Text", value: "text" },
        { text: "Single Choice", value: "choice" },
        { text: "Multiple choice", value: "multiple" },
        { text: "True/False", value: "true_false" },
      ];
    },
  },
  methods: {
    editTitle(value) {
      this.$emit("edit", { ...this.question, title: value });
    },
    editRequired(value) {
      this.$emit("edit", { ...this.question, required: value });
    },
    editType(value) {
      if (value === "true_false") {
        this.$emit("edit", {
          ...this.question,
          type: "true_false",
          options: ["True", "False"],
        });
      } else {
        this.$emit("edit", { ...this.question, type: value, options: [] });
      }
    },
    editOptions(value) {
      this.$emit("edit", { ...this.question, options: value });
    },
    addChoice() {
      this.editOptions([...this.question.options, ""]);
    },
    removeChoice(index) {
      const options = this.question.options;
      this.editOptions([
        ...options.slice(0, index),
        ...options.slice(index + 1),
      ]);
    },
    editOption(index, value) {
      const newOptions = [...this.question.options];
      newOptions[index] = value;
      this.editOptions(newOptions);
    },
  },
  created() {
    this.icon = icon;
  },
};
</script>
