<template>
  <div class="mt-4">
    <template v-if="mode === 'create'">
      <div v-for="(question, i) in questions" :key="i">
        <EditQuestion
          :question="question"
          @edit="editQuestion(i, $event)"
          @remove="removeQuestion(i)"
        />
      </div>
    </template>
    <template v-if="mode === 'answer'">
      <div v-for="(question, i) in questions" :key="i">
        <AnswerQuestion
          :question="question"
          :answer="answers[i] || null"
          @edit="editAnswer(i, $event)"
        />
      </div>
    </template>
    <template v-if="mode === 'display'">
      <div v-for="(question, i) in questions" :key="i">
        <DisplayQuestion :question="question" :answer="answers[i] || null" />
      </div>
    </template>
    <div class="d-flex" v-if="mode === 'create'">
      <v-btn @click="addQuestion" fab dark small color="primary">
        <v-icon>{{ icon.add }}</v-icon>
      </v-btn>

      <div class="mt-2 ml-2">Add Question</div>
    </div>

    <div v-if="mode === 'answer'" @click="addQuestion">
      Questions marked by (*) are required
    </div>
  </div>
</template>

<script>
import { icon } from "@/utils/constants";

import EditQuestion from "./EditQuestion";
import AnswerQuestion from "./AnswerQuestion";
import DisplayQuestion from "./DisplayQuestion";

export default {
  components: {
    EditQuestion,
    AnswerQuestion,
    DisplayQuestion,
  },
  props: {
    mode: { type: String, default: "display" },
    questions: { type: Array, default: () => [] },
    answers: { type: Array, default: () => [] },
  },
  watch: {
    mode() {
      this.resetAnswers();
    },
  },
  mount() {
    this.resetAnswers();
  },
  methods: {
    editQuestion(index, $event) {
      let edittedQuestions = [...this.questions];
      edittedQuestions[index] = $event;
      this.$emit("edit-questions", edittedQuestions);
    },
    addQuestion() {
      this.$emit("edit-questions", [
        ...this.questions,
        { title: null, type: "text", required: true, options: [] },
      ]);
    },
    removeQuestion(index) {
      this.$emit("edit-questions", [
        ...this.questions.slice(0, index),
        ...this.questions.slice(index + 1),
      ]);
    },
    resetAnswers() {
      if (
        this.mode === "answer" &&
        this.answers.length != this.questions.length
      ) {
        this.$emit(
          "edit-answers",
          this.questions.map((question) =>
            question.type === "multiple" ? [] : ""
          )
        );
      }
    },
    editAnswer(index, $event) {
      let edittedAnswers = [...this.answers];
      edittedAnswers[index] = $event;
      this.$emit("edit-answers", edittedAnswers);
    },
  },
  created() {
    this.icon = icon;
  },
};
</script>
