<template>
  <div>
    <base-page>
      <template v-slot:toolbar-title>
        Award Nomination Review &amp; Selection
      </template>
      <template v-slot:header>
        <v-container class="text-center" fluid>
          <v-row style="align-items: center; justify-content: center">
            <v-btn
              dark
              color="blue"
              style="margin-left: 5px"
              @click="showInstructions"
            >
              Show instructions
            </v-btn>
            <v-col cols="3">
              <v-select
                v-model="selectedAwardId"
                label="Award"
                :items="awardOptions"
                :loading="loadingAwards"
                @change="fetchNominationsForReview"
              />
            </v-col>
            <v-spacer />
            <v-col cols="3">
              <v-text-field
                v-model="search"
                :append-icon="icon.search"
                label="Search"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </template>
      <template v-slot:body>
        <template v-if="selectedAwardId">
          <data-table
            :headers="headers"
            :loading="loadingNominations"
            :items="tableData"
            :search="search"
          >
            <template v-slot:[`item.actions`]="props">
              <div>
                <v-row no-gutters>
                  <template v-if="props.item._permissions.includes('select')">
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on, attrs }">
                        <v-icon
                          @click="launchSelect(props.item.awardee_id)"
                          v-bind="attrs"
                          v-on="on"
                          color="green"
                        >
                          {{ icon.accept }}
                        </v-icon>
                      </template>
                      Select Nominee
                    </v-tooltip>
                  </template>
                  <template
                    v-if="props.item._permissions.includes('de-select')"
                  >
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on, attrs }">
                        <v-icon
                          @click="launchDeselect(props.item.awardee_id)"
                          v-bind="attrs"
                          v-on="on"
                          color="red"
                        >
                          {{ icon.delete }}
                        </v-icon>
                      </template>
                      De-select Nominee
                    </v-tooltip>
                  </template>
                </v-row>
              </div>
            </template>
          </data-table>
        </template>
      </template>
    </base-page>
    <nominee-selector
      v-model="isSelectOpen"
      :item="selectedNomination"
      @selected="nomineeSelected"
    />
    <nominee-deselector
      v-model="isDeselectOpen"
      :item="selectedNomination"
      @updated="itemDeleted"
    />
    <instructions-modal v-model="areInstructionsOpen" />
  </div>
</template>

<style scoped>

  tbody tr:nth-of-type(even) {
    background-color: rgba(236, 237, 237);
  }

  tbody tr:nth-of-type(odd) {
    background-color: rgb(250 ,250, 250);
  }

  .v-data-table-header {
    background-color: rgba(182, 183, 187);
    color: white;
  }

  .v-data-footer {
    background-color: rgb(250 ,250, 250);
  }

  .theme--light.v-data-table thead tr th {
    color: white;
  }
</style>

<script>
import api from "@/api";
import { icon } from "@/utils/constants";
import SelectionModal from "./SelectionModal";
import DeselectionModal from "./DeselectionModal";
import InstructionsModal from "./InstructionsModal";

export default {
  components: {
    "nominee-selector": SelectionModal,
    "nominee-deselector": DeselectionModal,
    "instructions-modal": InstructionsModal,
  },
  data() {
    return {
      loadingAwards: false,
      loadingNominations: false,
      awards: [],
      selectedAwardId: null,
      nominationsForReview: [],
      search: "",
      selectedNomination: null,
      isSelectOpen: false,
      isDeselectOpen: false,
      areInstructionsOpen: false,
    };
  },
  computed: {
    headers() {
      return [
        { text: "Award", value: "award_title", sortable: true },
        { text: "Nomination_id", value:	"nomination_id", sortable: true },
        { text: "Nominee CMS_id", value:	"nominee_cms_id", sortable: true },
        { text: "Nominee First_name", value:	"nominee_first_name", sortable: true },
        { text: "Nominee Last_name", value:	"nominee_last_name", sortable: true },
        { text: "Nomination projects", value:	"nomination_projects", sortable: true },
        { text: "Nominator CMS_id", value:	"nominator_cms_id", sortable: true },
        { text: "Nominator First_name", value:	"nominator_first_name", sortable: true },
        { text: "Nominator Last_name", value:	"nominator_last_name", sortable: true },
        { text: "Working relationship", value:	"working_relationship", sortable: true },
        { text: "Justification", value:	"justification", sortable: true },
        { text: "Proposed citation", value:	"proposed_citation", sortable: true },
        { text: "Remarks", value:	"remarks", sortable: true },
        { text: "Nominee CMS_status", value:	"nominee_cms_status", sortable: true },
        { text: "Nominee Activity", value:	"nominee_activity", sortable: true },
        { text: "Nominee Institute", value:	"nominee_institute", sortable: true },
        { text: "Nominee Institute country_name", value:	"nominee_institute_country_name", sortable: true },
        { text: "Nominee Institute region_name", value:	"nominee_institute_region_name", sortable: true },
        { text: "Nominee PhD_date", value:	"nominee_phd_date", sortable: true },
        { text: "Nominee Nationality", value:	"nominee_nationality", sortable: true },
        { text: "Nominee Gender", value:	"nominee_gender", sortable: true },
        { text: "Nominee Birthyear", value:	"nominee_birth_year", sortable: true },
        { text: "Actions", value: "actions", sortable: false },
      ];
    },
    tableData() {
      return this.nominationsForReview.map((item) => {
        return {
          ...item,
          nominee:
            `${item.nominee_first_name} ${item.nominee_last_name}` +
            ` (${item.nominee_cms_id}, ${item.nominee_institute},` +
            ` ${item.nominee_activity})`,
          nominator:
            `${item.nominator_first_name} ${item.nominator_last_name}` +
            ` (${item.nominator_cms_id})`,
          nominationProjects: item.nomination_projects.replaceAll(";", "; "),
        };
      });
    },
    awardOptions() {
      return this.awards.map((award) => ({
        value: award.id,
        text: award.title,
      }));
    },
  },
  methods: {
    fetchAwards() {
      this.loadingAwards = true;
      new api.AwardsCall().get().then((data) => {
        this.awards = data?.awards?.sort((a, b) =>
          a.nominations_deadline > b.nominations_deadline ? -1 : 1
        );
        this.loadingAwards = false;
      });
    },
    async fetchNominationsForReview() {
      this.loadingNominations = true;
      // fetch nominations for review after an award is specified
      // this.selectedAwardId
      this.nominationsForReview = await new api.AwardNominationsCall()
        .setAwardId( this.selectedAwardId )
        // .fetchOwnNominationsOnly()
        .get();
      this.loadingNominations = false;
    },
    launchEditor(id) {
      this.closeAllModals();
      if (id) {
        this.selectedNomination = this.items.find((n) => n.id == id);
      } else {
        this.selectedNomination = null;
      }
      this.isSelectOpen = true;
    },
    launchDeselect(id) {
      this.closeAllModals();
      let item = null;
      if (id) {
        item = this.items.find((n) => n.id == id);
      }
      this.selectedNomination = item;
      this.isDeselectOpen = true;
    },
    nomineeSelected(data) {
      this.items = [data, ...this.items];
    },
    itemUpdated(data) {
      const index = this.items.findIndex((n) => n.id === data.id);
      if (index >= 0) {
        this.$set(this.items, index, data);
      }
    },
    itemDeleted(itemId) {
      const index = this.items.findIndex((n) => n.id === itemId);
      if (index >= 0) {
        this.items.splice(index, 1);
      }
    },
    closeAllModals() {
      this.isDeselectOpen = false;
      this.isSelectOpen = false;
    },
    showInstructions() {
      this.closeAllModals();
      this.areInstructionsOpen = true;
    },
  },
  mounted() {
    this.fetchAwards();
    // this.fetchNominationsForReview();
  },
  created() {
    this.icon = icon;
  },
};
</script>
