<template>
    <v-dialog v-model="value" max-width="600px" @keydown.esc="close" tabindex="0">
      <v-card>
        <ValidationObserver v-slot="{ handleSubmit }">
          <v-card-title>
            {{ modalTitle }}
          </v-card-title>
          <v-card-text>
            <v-container>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="close">Close</v-btn>
            <v-btn color="blue darken-1" text @click="handleSubmit(submit)">
              Save
            </v-btn>
          </v-card-actions>
        </ValidationObserver>
      </v-card>
    </v-dialog>
  </template>
  
  <script>
//   import api from "@/api";
  import { mapActions } from "vuex";
  
  export default {
    props: {
      value: { type: Boolean, required: true, default: false },
      item: { type: Object, default: () => null },
    },
    data() {
      return {
        nominee: null,
      };
    },
    computed: {
      isEdit() {
        return !!this.item;
      },
      modalTitle() {
        return "Select Nominee";
      },
    },
    watch: {
      item(newValue) {
        this.nominee = newValue?.nominee;
      },
    },
    methods: {
      ...mapActions("notification", ["infoMessage"]),
      close() {
        this.$emit("input", false);
      },
      async submit() {
        this.close();
      },
      displaySuccessMessage() {
        this.infoMessage(
            "Nominee selected successfully."
        );
      },
    },
  };
  </script>
  