<template>
  <v-dialog v-model="value" max-width="600px" :persistent="true">
    <v-card>
      <v-card-title>
        <span class="headline">Accept Nomination - </span>
        <span v-if="item" class="" style="color: #549deb">
          &nbsp;{{ item.title }} : {{ item.unit_domain }}{{ item.unit_type }} :
          {{ item.position_name }}
        </span>
      </v-card-title>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="close">Close</v-btn>
        <v-btn color="blue darken-1" text @click="submit()">Accept</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import api from "@/api";

export default {
  props: {
    value: { type: Boolean, required: true, default: false },
    item: { type: Object, default: () => {} },
  },
  data() {
    return {
      questions: null,
      answers: [],
      errors: [],
    };
  },
  watch: {
    item() {
      this.fetchQuestionnaire();
    },
  },
  methods: {
    close() {
      this.$emit("input", false);
    },
    editAnswers(edittedAnswers) {
      this.answers = edittedAnswers;
    },
    async fetchQuestionnaire() {
      if (this.item) {
        const q = await new api.JobQuestionnairesCall()
          .setId(this.item.questionnaire_id)
          .get();
        this.questions = JSON.parse(q.questions);
        this.answers = this.questions.map((q) =>
          q.type !== "multiple" ? "" : []
        );
      }
    },
    validate() {
      let errors = [];
      const addError = (error) => {
        if (!errors.includes(error)) {
          errors.push(error);
        }
      };
      if (this.questions) {
        this.questions.forEach((q, i) => {
          if (
            q.required &&
            (this.answers[i] === "" ||
              (Array.isArray(this.answers[i]) && this.answers[i].length === 0))
          ) {
            addError("Please fill every required question");
          }
        });
      }
      this.errors = errors;

      return this.errors.length === 0;
    },
    submit() {
      const pass = this.validate();
      if (!pass) {
        return;
      }

      new api.JobNominationStatusCall()
        .setId(this.item.nomination_id)
        .setActorRemarks("")
        .setActorId(this.item.nominee_id)
        .setStatus("accepted")
        .setAnswers(JSON.stringify(this.answers))
        .put();

      this.$emit("updated");
      this.close();
    },
  },
  mounted() {
    this.fetchQuestionnaire();
  },
};
</script>
