<template>
  <v-dialog v-model="value" max-width="600px" :persistent="true">
    <v-card>
      <ValidationObserver v-slot="{ handleSubmit }">
        <v-card-title>
          <span class="headline">{{ modalTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <ValidationProvider name="Id" rules="required" v-slot="{ errors }">
              <v-select
                v-model="job_id"
                label="Job Opening*"
                :items="jobOptions"
              />
              <div v-if="showValidationErrors">
                <span v-for="error in errors" :key="error" class="red--text">{{
                  error
                }}</span>
              </div>
            </ValidationProvider>
            <ValidationProvider
              name="Position"
              rules="required"
              v-slot="{ errors }"
            >
              <v-select
                v-model="position_id"
                label="Job Open Positions*"
                :items="filteredPositions"
              />
              <div v-if="showValidationErrors">
                <span v-for="error in errors" :key="error" class="red--text">{{
                  error
                }}</span>
              </div>
            </ValidationProvider>
            <ValidationProvider
              name="nominee"
              rules="required"
              v-slot="{ errors }"
            >
              <person-picker label="Nominee*" v-model="nominee_id" />
              <div v-if="showValidationErrors">
                <span v-for="error in errors" :key="error" class="red--text">{{
                  error
                }}</span>
              </div>
            </ValidationProvider>
            <v-textarea label="Remarks*" rows="3" v-model="remarks" />
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close">Close</v-btn>
          <v-btn color="blue darken-1" text @click="handleSubmit(submit)"
            >Save</v-btn
          >
        </v-card-actions>
      </ValidationObserver>
    </v-card>
  </v-dialog>
</template>

<script>
import api from "@/api";
import { mapActions } from "vuex";
import PersonPicker from "@/components/common/inputs/PersonPicker";

export default {
  components: {
    PersonPicker,
  },
  props: {
    value: { type: Boolean, required: true, default: false },
    item: { type: Object, default: () => {} },
  },
  data() {
    return {
      showValidationErrors: false,
      job_openings: [],
      job_id: null,
      nominee_id: null,
      position_id: null,
      job_unit_id: null,
      remarks: null,
    };
  },

  computed: {
    isEdit() {
      return !!this.item;
    },
    modalTitle() {
      return this.isEdit ? "Edit Job Nomination" : "Create Job Nomination";
    },
    jobOptions() {
      const today = new Date();
      const year = today.getFullYear();
      const month = String(today.getMonth() + 1).padStart(2, "0");
      const day = String(today.getDate()).padStart(2, "0");

      const formattedToday = `${year}-${month}-${day}`;
      return this.job_openings
        .filter(
          (opening) =>
            opening.status != "closed" &&
            opening.nominations_deadline > formattedToday
        )
        .map((opening) => ({
          text: opening.title,
          value: opening.id,
        }));
    },
    filteredPositions() {
      return this.job_openings
        .filter((opening) => opening.id === this.job_id)
        .map((opening) => ({
          text:
            opening.unit_domain +
            " " +
            opening.unit_type +
            " : " +
            opening.position,
          value: opening.job_unit_id + ":" + opening.position_id,
        }));
    },
  },

  watch: {
    job_id() {
      this.position_id = null;
    },
    item(newValue) {
      if (newValue) {
        this.job_id = newValue.job_id;
        this.position_id = newValue.position_id;
        this.nominee_id = newValue.nominee_id;
      } else {
        this.job_id = null;
        this.position_id = null;
        this.nominee_id = null;
      }
    },
  },

  methods: {
    ...mapActions("notification", ["infoMessage"]),
    close() {
      this.job_id = null;
      this.position_id = null;
      this.nominee_id = null;
      this.remarks = null;
      this.$emit("input", false);
    },
    async submit() {
      if (this.isEdit) {
        this.showValidationErrors = true;
        await new api.JobNominationCall()
          .setId(this.item.id)
          .setJobId(this.job_id)
          .setNomineeId(this.nominee_id)
          .setPositionId(this.position_id)
          .setJobUnitId(this.item.job_unit_id)
          .setRemarks(this.remarks)
          .put();
        this.$emit("updated");
      } else {
        const positionData = this.position_id;
        const postionId = parseInt(positionData.split(":")[1], 10);
        const jobUnitId = parseInt(positionData.split(":")[0], 10);
        await new api.JobNominationCall()
          .setJobId(this.job_id)
          .setNomineeId(this.nominee_id)
          .setPositionId(postionId)
          .setJobUnitId(jobUnitId)
          .setRemarks(this.remarks)
          .post();
        this.$emit("created");
      }
      this.showValidationErrors = false;
      this.displaySuccessMessage();
      this.close();
    },
    displaySuccessMessage() {
      this.infoMessage(
        this.isEdit
          ? "Job Nomination Edited Successfully."
          : "Job Nomination Created Successfully."
      );
    },
    async fetchJobOpenings() {
      this.job_openings = await new api.JobOpeningsCall().get();
    },
  },
  mounted() {
    this.fetchJobOpenings();
  },
};
</script>
