<template>
  <div>
    <base-page>
      <template v-slot:toolbar-middle>
        <v-btn icon @click="selectedYear = (parseInt(selectedYear) - 1).toString()"
          ><v-icon>{{ icon.left }}</v-icon></v-btn
        >
        <v-toolbar-title
          >{{ selectedYear }} CMS Emeritus Nominations</v-toolbar-title
        >
        <v-btn icon @click="selectedYear = (parseInt(selectedYear) + 1).toString()"
          ><v-icon>{{ icon.right }}</v-icon></v-btn
        >
      </template>
      <template v-slot:toolbar-left>
        <div v-if="templates.default" class="pr-2">
          <edit-dialog
            v-model="editors.nomination"
            ref="nominationEditor"
            @reset="resetNominationForm"
            @submit="$set(confirmations, 'nomination', true)"
          >
            <template v-slot:button-label>
              <v-icon medium style="cursor: pointer">{{ icon.add }}</v-icon>
            </template>
            <template v-slot:header>CMS Emeritus Nomination</template>
            <template v-slot:fields>
              <person-picker
                v-model="nomination.cmsId"
                clearable
              ></person-picker>
              <v-text-field
                type="number"
                v-model="nomination.year"
                label="Year"
              ></v-text-field>
            </template>
          </edit-dialog>
        </div>
      </template>
      <template v-slot:toolbar-right>
        <div v-if="templates.default" class="pr-2">
          <v-dialog v-model="infoDialog" persistent max-width="600px">
            <template v-slot:activator="{ on }">
              <!-- Forwarding / shadowing the parent's slot here -->
              <v-btn color="primary" dark v-on="on">
                <v-icon medium style="cursor: pointer">{{ icon.info }}</v-icon>
              </v-btn>
            </template>
            <v-card>
              <v-card-title>About the interface</v-card-title>
              <v-card-text>
                This page can be used to propose and approve CMS Emeritus
                Nominations. <br />
                Any entry, once ready to receive your confirmation, will display
                an <code>APPROVE</code> button in the rightmost column.
              </v-card-text>
              <v-card-title>Proposing new nominations</v-card-title>
              <v-card-text>
                All present Emeritus status holders are already listed in the
                table below. <br />
                New nominations can be made using the <code>+</code> button near
                the top left corner of the page. <br />
                Only the Team Leaders can submit new Emeritus Nominations and
                only for the members of the Institutes that these Leaders are in
                charge of. <br />
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="infoDialog = false"
                  >Close</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-dialog>
        </div>
      </template>
      <template v-slot:header>
        <v-switch
          v-model="filters.actionable"
          :label="labels.filterActionable"
          @change="changeActionableLabel"
        ></v-switch>
      </template>
      <template v-slot:body>
        <data-table
          :headers="tableHeaders"
          :items="tableRows"
          :enableEgroupExport="false"
          :rowsPerPageItems="[-1]"
        >
          <template v-slot:[`item.cmsId`]="{ item }">
            <user-link :cmsId="item.cmsId" />
          </template>
          <template v-slot:[`item.institute`]="{ item }">
            <inst-link :instCode="item.institute" />
          </template>
          <template v-slot:[`item.actions`]="{ item }">
            <v-btn
              v-if="
                item['_links'] !== undefined &&
                item['_links']['approval'] !== undefined
              "
              color="primary"
              depressed
              @click="confirmApproval(item.id)"
              >Approve</v-btn
            >
            <v-btn
              v-if="
                item['_links'] !== undefined &&
                item['_links']['justification'] !== undefined
              "
              color="secondary"
              depressed
              @click="justifyApproval(item.id)"
              >Approve</v-btn
            >
          </template>
        </data-table>
      </template>
      <template v-slot:actions></template>
    </base-page>
    <confirm-dialog
      v-model="confirmations.nomination"
      ref="cdNomination"
      @cancelled="confirmations.nomination = false"
      @confirmed="submitNominationData"
    >
      <template v-slot:title>Confirmation needed</template>
      <template v-slot:message
        >You are about to submit a new CMS Emeritus nomination. Would you like
        to proceed?</template
      >
    </confirm-dialog>
    <confirm-dialog
      v-model="confirmations.approval"
      ref="cdApproval"
      @cancelled="confirmations.approval = false"
      @confirmed="postApproval(nomination.id)"
    >
      <template v-slot:title>Confirmation needed</template>
      <template v-slot:message
        >You are about to approve the nomination of
        {{ nominationLabel(nomination.id) }}. Would you like to
        proceed?</template
      >
    </confirm-dialog>
    <edit-dialog
      v-model="editors.motive"
      ref="motiveEditor"
      @reset="resetMotiveForm"
      @submit="postJustification()"
    >
      <template v-slot:activator><span /></template>
      <template v-slot:header>Details needed</template>
      <template v-slot:fields>
        <v-text-field
          v-model="motive.value"
          label="Function in CMS"
        ></v-text-field>
      </template>
    </edit-dialog>
  </div>
</template>

<script>
import moment from "moment";
import { icon } from "@/utils/constants";
import api from "@/api";
import { restplusApi } from "@/api/core";
import { BaseCall } from "common";
import PersonPicker from "@/components/common/inputs/PersonPicker";
import EditDialog from "@/components/common/inputs/EditDialog";
import ConfirmDialog from "@/components/common/ConfirmDialog";
import InstProfileLink from "@/components/common/links/InstProfileLink";
import UserProfileLink from "@/components/common/links/UserProfileLink";

export default {
  name: "EmeritusNominations",
  components: {
    "person-picker": PersonPicker,
    "edit-dialog": EditDialog,
    "confirm-dialog": ConfirmDialog,
    "inst-link": InstProfileLink,
    "user-link": UserProfileLink,
  },
  data() {
    return {
      selectedYear: null,
      requests: {},
      tableHeaders: [
        { text: "CMS ID", value: "cmsId", sortable: true },
        { text: "First name", value: "firstName", sortable: true },
        { text: "Last name", value: "lastName", sortable: true },
        { text: "Institute", value: "institute", sortable: true },
        { text: "Status", value: "status", sortable: true },
        { text: "Project / Involvement", value: "projectCode", sortable: true },
        {
          text: "Institue Representative",
          value: "instApproval",
          sortable: true,
        },
        { text: "Project Manager", value: "projectApproval", sortable: true },
        { text: "CB Chairperson", value: "cbApproval", sortable: true },
        { text: "Actions", value: "actions", sortable: true },
      ],
      peopleLabels: {},
      nomination: {
        // id we'll only send over for approvals!
        id: null,
        cmsId: null,
        year: null,
      },
      motive: {
        forId: null,
        value: null,
      },
      templates: {},
      hyperlinks: {},
      confirmations: {
        nomination: false,
        approval: false,
      },
      editors: {
        nomination: false,
        motive: false,
      },
      infoDialog: false,
      filters: { actionable: false },
      labels: { filterActionable: "" },
    };
  },
  props: {
    year: {
      type: String,
      default: parseInt(moment().format("MM")) > 6 ?
        (parseInt(moment().format("YYYY")) + 1).toString() : moment().format("YYYY")
    },
  },
  computed: {
    tableRows() {
      var compo = this;
      return Object.values(this.requests)
        .filter((e) =>
          compo.filters.actionable
            ? [undefined, null, []].indexOf(e._links) < 0
            : true
        )
        .map((e) => ({
          id: e.id,
          cmsId: e.cmsId,
          firstName: e.person.firstName,
          lastName: e.person.lastName,
          institute: e.person.institute,
          projectCode:
            [null, undefined, ""].indexOf(e.person.projectCode) > -1
              ? e.reason
              : e.person.projectCode,
          status: e.person.status,
          instApproval: compo.outputApprovalInfo(e.approvals["TEAM_LEADER"]),
          projectApproval: compo.outputApprovalInfo(
            e.approvals["PROJECT_MANAGER"]
          ),
          cbApproval: compo.outputApprovalInfo(e.approvals["CB_CHAIR"]),
          _links: e._links,
        }));
    },
    actionablePresent() {
      // looking for such a request element that would have useful links
      return (
        Object.values(this.requests).findIndex(
          (e) => [null, undefined, []].indexOf(e._links) == -1
        ) > -1
      );
    },
  },
  watch: {
    selectedYear(newVal, oldVal) {
      console.debug("Year changed from " + oldVal + " to " + newVal);
      this.$router
        .push({
          name: "emeritus-nominations",
          params: { year: newVal },
        })
        .catch(() => {});
      this.requests = {};
      this.requestData();
    },
    actionablePresent(newVal) {
      if (newVal != this.filters.actionable) {
        this.filters.actionable = newVal;
        this.changeActionableLabel(newVal);
      }
    },
  },
  methods: {
    changeActionableLabel(newVal) {
      this.$set(
        this.labels,
        "filterActionable",
        newVal
          ? "Showing only the entries that can be acted upon"
          : "Showing all the entries"
      );
    },
    nominationLabel(id) {
      if (id !== null && id !== undefined) {
        var request = this.requests[id];
        if (request !== null && request !== undefined) {
          return (
            request.person.firstName +
            " " +
            request.person.lastName +
            " from " +
            request.person.institute
          );
        }
      }
      return "";
    },
    confirmApproval(id) {
      this.$set(this.nomination, "id", id);
      this.$set(this.confirmations, "approval", !this.confirmations.approval);
    },
    justifyApproval(id) {
      console.debug("Request " + id + " is about to be justified.");
      this.$set(this.motive, "forId", id);
      this.$set(this.editors, "motive", !this.editors.motive);
    },
    resetMotiveForm() {
      this.motive.value = null;
    },
    resetNominationForm() {
      console.debug("Resetting the nomination form");
      this.nomination.cmsId = null;
      this.nomination.year = this.selectedYear;
    },
    submitNominationData() {
      // TODO: this was quick'n'dirty - should make things more DRY
      console.debug("Submitting the nomination data");
      var apiCall = new BaseCall(restplusApi, this.hyperlinks.self.href);
      apiCall.set("cmsId", this.nomination.cmsId);
      apiCall.set("year", this.nomination.year);
      apiCall.set("concern", "CMSEMERITUS");
      apiCall.setSuccessCallback(this.updateRequest).post();
    },
    outputApprovalInfo(details) {
      if (details === null || details === undefined) {
        return "";
      } else {
        return (
          this.personLabel(details.cmsId) +
          " approved on " +
          new Date(details.timestamp).toLocaleString()
        );
      }
    },
    personLabel(cmsId) {
      if (this.peopleLabels[cmsId] !== undefined) {
        return this.peopleLabels[cmsId];
      }
      return cmsId;
    },
    requestData() {
      var compo = this;
      new api.EmeritusApprovalsCall()
        .setYear(this.selectedYear)
        .setSuccessCallback(compo.processResponse)
        .get();
    },
    processResponse(response) {
      var compo = this;
      Object.keys(response).forEach((e) => {
        if (e == "_embedded") {
          compo.$nextTick(() => {
            Object.keys(response[e]).forEach((typeName) => {
              compo.storeRequests(response[e][typeName]);
            });
          });
        } else if (e == "_links") {
          console.debug("Links from response: ");
          console.debug(response[e]);
          Object.keys(response[e]).forEach((link) => {
            if (link === "next") {
              new BaseCall(restplusApi, response[e][link].href)
                .setSuccessCallback(compo.processResponse)
                .get();
            } else if (link === "self") {
              compo.$set(compo.hyperlinks, link, response[e][link]);
            } else if (link === "peopleInfo") {
              compo.$set(compo.hyperlinks, link, response[e][link]);
            }
          });
        } else if (e == "_templates") {
          console.debug("Templates from response: ");
          console.debug(response[e]);
          Object.keys(response[e]).forEach((templateName) => {
            if (templateName === "default") {
              compo.$set(
                compo.templates,
                templateName,
                response[e][templateName]
              );
            }
          });
        } else if (e == "page") {
          console.debug("Page info from response:");
          console.debug(response[e]);
        } else {
          console.debug("Unhandled response field: " + e);
        }
      });
    },
    storeRequest(request) {
      this.$set(this.requests, request.id, request);
      this.extractCmsIdsAndMarkForResolution(request);
    },
    storeRequests(records) {
      console.debug("Records: ");
      console.debug(records);
      records.forEach(this.storeRequest);
    },
    updateRequest(request) {
      /**
       * Update as in "fetch from response and put into this component's data"
       */
      this.storeRequest(request);
      this.$set(this.editors, "nomination", false);
      this.$set(this.editors, "motive", false);
      this.$store.dispatch("notification/infoMessage", "Information saved successfully.");
      // reset all the forms, regardless of which was actually used
      this.resetNominationForm();
      this.resetMotiveForm();
      this.extractCmsIdsAndMarkForResolution(request);
    },
    postApproval(requestId) {
      var url = this.requests[requestId]["_links"]["approval"]["href"];
      console.debug(
        "About to post approval for entry " + requestId + " to " + url
      );
      new BaseCall(restplusApi, url)
        .set("isApproved", true)
        .setSuccessCallback(this.updateRequest)
        .post();
      // the field was hijacked to store the request's id while the confirmation dialog is displayed. Can be reset now...
      this.$set(this.nomination, "id", null);
    },
    postJustification() {
      var url = this.requests[this.motive.forId]["_links"]["justification"][
        "href"
      ];
      console.debug(
        "About to justify request  #" +
          this.motive.forId +
          " with «" +
          this.motive.value +
          "» to URL: " +
          url
      );
      new BaseCall(restplusApi, url)
        .set("isApproved", true)
        .setSuccessCallback(this.updateRequest)
        .set("justification", this.motive.value)
        .post();
    },
    markCmsIdForResolution(cmsId) {
      /**
       * Hacky for now. Puts a plaeholder in the map to prevent repetitive requests, then fires a method that concludes with a callback setting a proper label.
       */
      if (this.peopleLabels[cmsId] === undefined) {
        this.$set(this.peopleLabels, cmsId, cmsId);
        console.debug("Marking CMS ID " + cmsId + " for resolution");
        this.requestPersonInfo(cmsId);
      }
    },
    extractCmsIdsAndMarkForResolution(request) {
      Object.values(request.approvals)
        .map((e) => e.cmsId)
        .forEach(this.markCmsIdForResolution);
    },
    requestPersonInfo(cmsId) {
      var call = new BaseCall(
        restplusApi,
        this.hyperlinks.peopleInfo.href.replace("{cmsIds}", cmsId)
      );
      call.setSuccessCallback(this.updatePeopleInfo).get();
    },
    updatePeopleInfo(data) {
      /**
       * Extracts all the records from response. Requesting in batches needs to be implemented though.
       */
      var embedded = data["_embedded"];
      var compo = this;
      if (embedded !== undefined && embedded !== null) {
        Object.values(embedded).forEach((bucket) => {
          bucket.forEach((e) => {
            compo.$set(
              compo.peopleLabels,
              e.cmsId,
              e.firstName + " " + e.lastName
            );
          });
        });
      }
    },
  },
  mounted() {
    this.selectedYear = this.year;
    this.resetNominationForm();
    this.changeActionableLabel(this.filters.actionable);
  },
  created() {
    this.icon = icon;
  },
};
</script>
