<template>
  <base-page>
    <template v-slot:toolbar-title>CMS Members Statistics</template>
    <template v-slot:header>
      <v-row class="mb-4">
        <v-col cols="4">
          <v-select
            v-model="authorFlags[0]"
            :items="optionsForAuthorFlags"
            label="Authorship statuses"
            @change="fetchStats"
          >
          </v-select>
        </v-col>
        <v-col cols="4">
          <v-select
            v-model="cmsStatuses"
            :items="optionsForCmsStatuses"
            label="Membership statuses"
            multiple
            @change="fetchStats"
          >
          </v-select>
        </v-col>
        <v-col cols="4">
          <v-select
            v-model="groupingColumn"
            :items="optionsForGroupingColumn"
            label="Grouping column"
            multiple
            @change="fetchStats"
          >
          </v-select>
        </v-col>
      </v-row>
    </template>
    <template v-slot:body>
      <data-table :headers="headers" :items="stats" item-key="value">
      </data-table>
    </template>
  </base-page>
</template>

<script>
import api from "@/api";
import { personStatuses } from "@/utils/constants";

export default {
  name: "MemberStats",
  data() {
    return {
      // --- options ---
      optionsForGroupingColumn: [
        { text: "Person's nationality", value: "nationality" },
        { text: "Institute's country", value: "inst_country" },
        { text: "Gender", value: "gender" },
        { text: "Institute", value: "inst_code" },
        { text: "Age", value: "age" },
        { text: "Management level", value: "mgmt_level" },
        { text: "Activity", value: "activity" },
        { text: "Region", value: "region" },
      ],
      optionsForCmsStatuses: ["CMS", "CMSEMERITUS", "EXMEMBER", "CMSEXTENDED"],
      optionsForAuthorFlags: ["---", true, false],
      // --- values ---
      authorFlags: [true],
      cmsStatuses: ["CMS"],
      groupingColumn: ["nationality"],
      // --- stats ---
      stats: [],
    };
  },
  computed: {
    headers() {
      var result = [];
      this.optionsForGroupingColumn.forEach((e) => {
        if (this.groupingColumn.indexOf(e.value) > -1) {
          result.push(e);
        }
      });
      result.push({ text: "Count", value: "count" });
      return result;
    },
  },
  methods: {
    filteredData(data) {
      const latestYearEntries = data.stats_entries_by_year[0].entries;
      const availableLabels = data.stats_groupings;

      const filteredData = latestYearEntries.map((entry) => {
        const filteredEntry = {};
        for (const label of availableLabels) {
          filteredEntry[label] = entry.labels[label];
        }
        filteredEntry.count = entry.count;
        return filteredEntry;
      });

      return filteredData;
    },
    async fetchStats() {
      let data = [];
      if (this.authorFlags == "---") {
        data = await api.getMembersCount({
          groupBy: this.groupingColumn,
          cmsStatuses: this.cmsStatuses,
          yearFrom: new Date().getFullYear(),
          yearTo: new Date().getFullYear(),
        });
      } else {
        data = await api.getMembersCount({
          groupBy: this.groupingColumn,
          cmsStatuses: this.cmsStatuses,
          authorFlags: this.authorFlags,
          yearFrom: new Date().getFullYear(),
          yearTo: new Date().getFullYear(),
        });
      }
      this.stats = this.filteredData(data);
    },
  },
  mounted() {
    this.fetchStats();
  },
  created() {
    this.optionsForCmsStatuses = personStatuses;
  },
};
</script>
