<template>
  <base-page>
    <template v-slot:toolbar-title>{{mode == "OFFICIAL" ? 'PHD ' : ''}}MO List {{year}}</template>
    <template v-slot:header>
      <v-container class="text-center" fluid style="padding: 0">
        <v-row align="center">
          <v-col cols="2">
            <v-select
              :value="mode"
              @change="$router.push({query: {mode: $event}})"
              :items="modeOptions"
              label="Mode"
              class="mr-2"
            />
          </v-col>
          <v-col cols="2">
            <v-select
              :value="year"
              @change="$router.push({params: {year: $event}})"
              :items="yearOptions"
              label="Year"
              class="mr-2"
            />
          </v-col>
          <v-spacer />
          <v-col cols="3">
            <v-text-field
              v-model="search"
              :append-icon="icon.search"
              label="Search"
            />
          </v-col>
        </v-row>
      </v-container>
    </template>
    <template v-slot:body>
      <data-table
        :headers="headers"
        :items="data"
        :loading="loading"
        :search="search"
      >
      </data-table>
    </template>
  </base-page>
</template>
<script>
import api from "@/api";
import { icon } from "@/utils/constants";
import moment from "moment";

export default {
  name: "MoList",
  props: {
    year: { required: false, type: String, default: moment().format("YYYY") },
    mode: { required: false, type: String, default: "OFFICIAL" },
  },
  data() {
    return {
      data: [],
      loading: false,

      search: "",
    };
  },
  computed: {
    headers: () => [
      { text: "Funding Agency", value: "mo_fa_name", sortable: true },
      { text: "MO Institute", value: "mo_inst_code", sortable: true },
      { text: "Last Name", value: "last_name", sortable: true },
      { text: "First Name", value: "first_name", sortable: true },
      { text: "CMS ID", value: "cms_id", sortable: true },
      { text: "MO Status", value: "mo_status", sortable: true },
      { text: "CMS Activity", value: "cms_activity", sortable: true },
      { text: "CMS Activity", value: "is_author", sortable: true },
    ],
    modeOptions: () => [
      { value: "OFFICIAL", text: "Official" },
      { value: "PRE_APPROVAL", text: "Pre Approval" },
      { value: "POST_APPROVAL", text: "Post Approval" },
    ],
    yearOptions: () => {
      const m = moment();
      const options = [];
      for (var i = 0; i < 20; i++) {
        const year = m.format("YYYY");
        options.push({ value: year, text: year });

        m.subtract(1, "year");
      }
      return options;
    },
  },
  watch: {
    mode() {
      this.loadData();
    },
    year() {
      this.loadData();
    },
  },
  methods: {
    async loadData() {
      this.loading = true;
      this.data = await new api.MoPeopleListCall()
        .setYear(this.year)
        .setMode(this.mode)
        .get();
      this.loading = false;
    },
  },
  mounted() {
    this.loadData();
  },
  created() {
    this.icon = icon;
  },
};
</script>
