<template>
  <base-page>
    <template v-slot:toolbar-title>List of CMS Institutes</template>
    <template v-slot:header>
      <v-select
        label="Institute status"
        :items="instStatuses"
        :multiple="true"
        v-model="enabledStatuses"
      ></v-select>
      <v-spacer />
      <v-col>
        <v-switch
          v-model="includeAddressInfo"
          label="Extended information"
        ></v-switch>
      </v-col>
    </template>
    <template v-slot:toolbar-right></template>
    <template v-slot:body>
      <data-table :items="items" :headers="headers" :enableEgroupExport="false">
        <template v-slot:[`item.code`]="{ item }">
          <router-link
            :to="{
              name: 'institute-profile',
              params: { urlInstCode: item.code },
            }"
            >{{ item.code }}</router-link
          >
        </template>
      </data-table>
    </template>
  </base-page>
</template>

<script>
import api from "@/api";

export default {
  name: "Institutes",
  data() {
    return {
      institutes: [],
      headcounts: [],
      authorcounts: [],
      enabledStatuses: ["Yes"],
      includeAddressInfo: false,
    };
  },
  computed: {
    headers() {
      let headers = [
        { text: "Country", value: "country", sortable: true },
        { text: "Code", value: "code", sortable: true },
        { text: "Name", value: "name", sortable: true },
        { text: "Membership", value: "status", sortable: true },
        { text: "Leader", value: "leader", sortable: true },
        { text: "Deputies", value: "deputies", sortable: true },
        { text: "Active members", value: "members", sortable: true },
        { text: "Authors", value: "authors", sortable: true },
      ];
      if (this.includeAddressInfo) {
        headers = headers.concat([
          { text: "Town", value: "town", sortable: true },
          { text: "State", value: "state", sortable: true },
          { text: "Address", value: "address", sortable: true },
        ]);
      }
      return headers;
    },
    items() {
      return this.institutes
        .filter((v) => this.enabledStatuses.indexOf(v.status) > -1)
        .map((e) => ({
          code: e.code,
          country: e.country_name || e.country_code,
          name: e.name,
          status: e.status,
          leader: ((x) =>
            typeof x !== "undefined" ? x.last_name + ", " + x.first_name : "")(
            e.management.find((l) => l !== null && l.role == "leader")
          ),
          deputies: e.management
            .filter((l) => l !== null && l.role == "deputy")
            .reduce(
              (acc, el) =>
                acc +
                (acc == "" ? "" : "; ") +
                el.last_name +
                ", " +
                el.first_name,
              ""
            ),
          members: this.instPeople[e.code] || 0,
          authors: this.instAuthors[e.code] || 0,
          town: e.town,
          state: e.usState,
          address: e.address,
        }));
    },
    instStatuses() {
      return [
        ...this.institutes
          .map((e) => e.status)
          .reduce((acc, v) => {
            acc.add(v);
            return acc;
          }, new Set()),
      ].map((v) => ({ value: v, text: v == "Yes" ? "Member" : v }));
    },
    instPeople() {
      return this.headcounts.reduce((acc, v) => {
        acc[v.inst_code] = v.count;
        return acc;
      }, {});
    },
    instAuthors() {
      return this.authorcounts.reduce((acc, v) => {
        acc[v.inst_code] = v.count;
        return acc;
      }, {});
    },
  },
  methods: {
    filteredData(data) {
      const latestEntries = data.stats_entries_by_year[0];
      const filteredData = latestEntries.entries.map(({ labels, count }) => ({
        count,
        inst_code: labels.inst_code,
      }));

      return filteredData;
    },
    requestData() {
      new api.InstitutesCall().get().then((data) => {
        this.institutes = data;
      });

      new api.MembersCountCall()
        .groupByInst()
        .activeMembers()
        .fromYear(new Date().getFullYear())
        .toYear(new Date().getFullYear())
        .get()
        .then((data) => {
          const filteredResult = this.filteredData(data);
          this.headcounts = filteredResult
        });

      new api.MembersCountCall()
        .groupByInst()
        .activeMembers()
        .fromYear(new Date().getFullYear())
        .toYear(new Date().getFullYear())
        .onlyAuthors()
        .get()
        .then((data) => {
          const filteredResult = this.filteredData(data);
          this.authorcounts = filteredResult;
        });
    },
  },
  mounted() {
    this.requestData();
  },
};
</script>
