<template>
  <div class="centered-text-page">
    <div class="text-center">
      <h1 class="text--secondary">Page Not found</h1>
      <a :href="linkToOld"
        ><h3 class="text--blue">Go to the old icms-tools</h3></a
      >
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    linkToOld() {
      return (
        process.env.VUE_APP_API_URL +
        "/" +
        this.removeBaseUrl(window.location.pathname)
      );
    },
  },
  methods: {
    removeBaseUrl(pathName) {
      const baseUrl = process.env.BASE_URL;
      pathName = pathName.slice(pathName.indexOf(baseUrl) + baseUrl.length);
      return pathName;
    },
  },
};
</script>

<style lang="scss" scoped>
.centered-text-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
