<template>
  <v-card height="100%">
    <v-card-title class="subheading">Contributions</v-card-title>
    <v-divider></v-divider>
    <v-card-text>
      <v-tabs v-model="activeContributionsTab" light grow>
        <v-tabs-slider color="black"></v-tabs-slider>
        <v-tab>EPR</v-tab>
        <v-tab>{{ arcsTabTitle }}</v-tab>
        <v-tabs-items v-model="activeContributionsTab">
          <v-tab-item>
            <v-data-table
              :headers="eprHeaders"
              :items="eprItems"
              :options="pagination.eprStats"
            >
              <template v-slot:[`item.authors`]="{ item }">
                <td>{{ (item.authors || 0).toFixed(2) }}</td>
              </template>
              <template v-slot:[`item.epr_dues`]="{ item }">
                <td>{{ (item.epr_dues || 0).toFixed(2) }}</td>
              </template>
              <template v-slot:[`item.aggregate_value`]="{ item }">
                <td>{{ (item.aggregate_value || 0).toFixed(2) }}</td>
              </template>
              <template v-slot:[`item.epr_ratio`]="{ item }">
                <td>{{ (item.epr_ratio || 0).toFixed(2) }}</td>
              </template>
            </v-data-table>
          </v-tab-item>
          <v-tab-item>
            <data-table
              ref="arcContribs"
              :headers="arcContribHeaders"
              :items="arcContributors"
              :options="pagination.arcContribs"
              @filtered="updateArcsCounter"
            ></data-table>
          </v-tab-item>
        </v-tabs-items>
      </v-tabs>
    </v-card-text>
  </v-card>
</template>

<script>
import api from "@/api";

export default {
  props: {
    instCode: { type: String },
  },
  data() {
    return {
      activeContributionsTab: null,
      totalArcs: 0,
      eprAggs: [],
      arcCounts: [],
      eprStats: [],
    };
  },
  watch: {
    instCode() {
      this.init();
    },
  },
  computed: {
    eprItems() {
      var items = [];
      for (var agg of this.eprAggs) {
        var item = agg;
        var stat = this.eprStats.find((e) => e.year == item.year);
        if (stat != null) {
          Object.assign(item, stat);
        }
        item["epr_dues"] = item["due_applicants"] + item["due_authors"];
        item["epr_ratio"] = item["aggregate_value"] / item["epr_dues"];
        items.push(item);
      }
      return items;
    },
    arcContributors() {
      // it used to be necessary to fill the names but now they are coming directly from the arcCounts API callback
      return this.arcCounts.map((e) => ({
        year: e.id.year,
        cmsId: e.id.cmsId,
        arcsCount: e.arcsCount,
        memberName: e.memberName,
      }));
    },
    arcsTabTitle() {
      return "ARC members [" + this.totalArcs + "]";
    },
    eprHeaders() {
      return [
        { text: "Year", value: "year", sortable: true },
        { text: "Member Authors", value: "authors", sortable: true },
        { text: "EPR Dues", value: "epr_dues", sortable: true },
        {
          text: "EPR Contribution",
          value: "aggregate_value",
          sortable: true,
        },
        { text: "EPR Due Coverage", value: "epr_ratio", sortable: true },
      ];
    },

    arcContribHeaders() {
      return [
        { text: "Year", value: "year" },
        { text: "CMS ID", value: "cmsId" },
        { text: "Name", value: "memberName" },
        { text: "ARCs", value: "arcsCount" },
      ];
    },
    pagination() {
      return {
        eprStats: {
          sortBy: ["year"],
          sortDesc: [true],
        },

        arcContribs: {
          sortBy: ["year"],
          sortDesc: [true],
        },
      };
    },
  },
  methods: {
    init() {
      new api.EprAggregatesCall({
        cmsId: null,
        instCode: this.instCode,
        projectCode: null,
        year: null,
      })
        .get()
        .then((data) => (this.eprAggs = data));

      new api.ArcCountsCall()
        .setSuccessCallback((data) => (this.arcCounts = data))
        .setInstCode(this.instCode)
        .get();

      new api.EprInstStatsCall()
        .setCode(this.instCode)
        .get()
        .then((data) => (this.eprStats = data));

      this.totalArcs = 0;
    },

    setArcCounts(data) {
      this.arcCounts = data;
    },

    updateArcsCounter(contribs) {
      // triggered by an event from the datatable
      this.totalArcs = contribs.reduce(function (total, currentValue) {
        return total + currentValue.arcsCount;
      }, 0);
    },
  },
  mounted() {
    this.init();
  },
};
</script>
