<template>
  <v-card>
    <v-card-title class="subheading">EPR Time Lines</v-card-title>
    <v-card-text>
      <v-data-table
        :headers="timeLineHeaders"
        :items="eprTimeLines"
        :options="pagination"
      >
        <template v-slot:item="props">
          <tr>
            <td>
              {{
                new Date(props.item.timestamp).toISOString().substring(0, 10)
              }}
            </td>
            <td>{{ props.item.year }}</td>
            <td>{{ props.item.status }}</td>
          </tr>
        </template>
      </v-data-table>
    </v-card-text>
  </v-card>
</template>

<script>
import api from "@/api";

export default {
  props: {
    instCode: { type: String },
  },
  data() {
    return {
      eprTimeLines: [],
      pagination: {
        sortBy: ["timestamp"],
        sortDesc: [true],
      },
    };
  },
  watch: {
    instCode() {
      this.init();
    },
  },
  computed: {
    timeLineHeaders() {
      return [
        { text: "Date", value: "timestamp", sortable: true },
        { text: "Year", value: "year", sortable: true },
        { text: "CMS Membership", value: "status", sortable: true },
      ];
    },
  },
  methods: {
    init() {
      new api.EprTimeLinesCall()
        .setInstCode(this.instCode)
        .get()
        .then((data) => (this.eprTimeLines = data));
    },
  },
  mounted() {
    this.init();
  },
};
</script>
