<template>
  <div>
    <base-page>
      <template v-slot:toolbar-title
        >Institute Profile of {{ instCode }}</template
      >
      <template v-slot:header>
        <inst-picker
          ref="instPicker"
          label="Choose another institute"
          v-model="chosenInstCode"
          required
        ></inst-picker>
      </template>
      <template v-slot:toolbar-right>
        <inst-epr-link :instCode="instCode" label="EPR" />
        &emsp;
        <div class="pr-2">
          <v-dialog v-model="infoDialog" persistent max-width="600px">
            <template v-slot:activator="{ on }">
              <!-- Forwarding / shadowing the parent's slot here -->
              <v-btn color="primary" dark v-on="on">
                <v-icon medium style="cursor: pointer">{{ icon.info }}</v-icon>
              </v-btn>
            </template>
            <v-card>
              <v-card-title>Overview</v-card-title>
              <v-card-text>
                This page offers an overview of institute profiles and its
                members.<br />
                By default, your current institute is shown, but, if you want to
                view a different institute you can select it from the top-most
                search box <i>Choose another institute</i>.<br />
              </v-card-text>
              <v-card-title>Updating project assignments</v-card-title>
              <v-card-text>
                If you are a (Deputy) Team Leader, then this page allows you to
                update your members' project assignments.<br />
                To do so, please
                <ul>
                  <li>scroll down to the <i>Members</i> table</li>
                  <li>
                    find the row corresponding to the member whose projects you
                    wish to update (by optionally filtering the table using the
                    column filters at the bottom of the table)
                  </li>
                  <li>
                    click on the pencil icon on the right-most end of the
                    corresponding row to bring up the assignment interface
                  </li>
                  <li>
                    add or remove assignments by using the + and bin icons,
                    respectively
                  </li>
                  <li>
                    fill in the project for each assignment using the drop-down
                    menu and an integer in (0, 100] for the corrsponding
                    percentage of time devoted to that project
                  </li>
                  <li>
                    click on <i>Save</i> to apply the assignment changes or
                    <i>Cancel</i>&nbsp; to discard your changes
                  </li>
                </ul>
                <b>Notes</b>
                <ul>
                  <li>
                    A member can be assigned to zero or more projects for a
                    fraction of their time
                  </li>
                  <li>
                    If there is at least one project, the sum of all assignment
                    percentages must equal 100%
                  </li>
                </ul>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="infoDialog = false"
                  >Close</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-dialog>
        </div>
      </template>
      <template v-slot:body>
        <v-row>
          <v-col class="text-left" cols="3">
            <profile-info :instCode="instCode" />
          </v-col>
          <v-col cols="9">
            <contributions-table :instCode="instCode" />
          </v-col>
          <v-col>
            <members-table :instCode="instCode" />
          </v-col>
          <v-col class="text-left" cols="12">
            <epr-timelines :instCode="instCode" />
          </v-col>
        </v-row>
      </template>
    </base-page>
  </div>
</template>

<script>
import InstitutePicker from "@/components/common/inputs/InstitutePicker";
import InstEprLink from "@/components/common/links/InstEprLink";
import { mapGetters } from "vuex";
import { icon } from "@/utils/constants";
import ProfileInfo from "./ProfileInfo";
import ContributionsTable from "./ContributionsTable";
import MembersTable from "./MembersTable";
import EprTimeLines from "./EPRTimeLines";

export default {
  name: "InstProfile",
  components: {
    "inst-picker": InstitutePicker,
    "inst-epr-link": InstEprLink,

    "profile-info": ProfileInfo,
    "contributions-table": ContributionsTable,
    "members-table": MembersTable,
    "epr-timelines": EprTimeLines,
  },
  props: {
    urlInstCode: null,

    timeLineHeaders: {
      type: Array,
      default() {
        return [
          { text: "Date", value: "timestamp", sortable: true },
          { text: "Year", value: "year", sortable: true },
          { text: "CMS Membership", value: "status", sortable: true },
        ];
      },
    },

    peopleHeaders: {
      type: Array,
      default() {
        return [
          { text: "CMS ID", value: "cmsId", sortable: true },
          { text: "First name", value: "firstName", sortable: true },
          { text: "Last name", value: "lastName", sortable: true },
          { text: "Status", value: "status" },
          { text: "Activity", value: "activity" },
          { text: "Author?", value: "isAuthor" },
          { text: "Project", value: "project" },
          {
            text: "Has Physics Access",
            value: "physicsAccess",
            sortable: true,
          },
        ];
      },
    },

    arcContribHeaders: {
      type: Array,
      default() {
        return [
          { text: "Year", value: "year" },
          { text: "CMS ID", value: "cmsId" },
          { text: "Name", value: "memberName" },
          { text: "ARCs", value: "arcsCount" },
        ];
      },
    },
  },
  data() {
    return {
      chosenInstCode: null,
      infoDialog: false,
    };
  },
  computed: {
    ...mapGetters("user", ["userInstCode"]),
    instCode() {
      return this.chosenInstCode || this.urlInstCode || this.userInstCode;
    },
  },
  watch: {
    instCode(newCode, oldCode) {
      if (newCode != oldCode) {
        this.$router
          .push({
            name: "institute-profile",
            params: { urlInstCode: this.instCode },
          })
          .catch(() => {});
      }
    },
  },
  created() {
    this.icon = icon;
  },
};
</script>
