<template>
  <v-card height="100%">
    <v-card-title class="subheading">Institute Info</v-card-title>
    <v-divider></v-divider>
    <v-container fluid>
      <v-row>
        <v-col cols="3" class="grey--text">Full Name</v-col>
        <v-col cols="9">{{ instInfo.name }}</v-col>
        <v-col cols="3" class="grey--text">Membership Status</v-col>
        <v-col cols="9">{{ instInfo.status }}</v-col>
        <v-col cols="3" class="grey--text">Country</v-col>
        <v-col cols="9">{{ instInfo.country_code }}</v-col>
        <v-col cols="3" v-if="addressData.state" class="grey--text"
          >State</v-col
        >
        <v-col cols="9" v-if="addressData.state">{{ addressData.state }}</v-col>
        <v-col cols="3" class="grey--text">Town</v-col>
        <v-col cols="9">{{ addressData.town }}</v-col>
        <v-col cols="3" class="grey--text">Address</v-col>
        <v-col cols="9">
          <pre>{{ addressData.fullAddress }}</pre>
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <v-row v-for="manager in management" :key="'manager' + manager.cms_id">
        <v-col cols="3" class="grey--text">{{
          toTitleCase(manager.role)
        }}</v-col>
        <v-col cols="9">
          <user-profile-link
            :cmsId="manager.cms_id"
            :label="manager.first_name + ' ' + manager.last_name"
          ></user-profile-link>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
import api from "@/api";
import UserProfileLink from "@/components/common/links/UserProfileLink";

export default {
  props: {
    instCode: { type: String },
  },
  components: {
    "user-profile-link": UserProfileLink,
  },
  data() {
    return {
      instInfo: {},
      addressData: {},
    };
  },
  watch: {
    instCode() {
      this.init();
    },
  },
  computed: {
    management() {
      return (
        (this.instInfo &&
          this.instInfo.management &&
          this.instInfo.management) ||
        []
      ).sort((a, b) => {
        if (a.role == b.role) {
          return new Date(a.start_date) - new Date(b.start_date);
        } else {
          var lkp = { deputy: 10, leader: 1 };
          return (
            (lkp[a.role.toLowerCase()] || 99) -
            (lkp[b.role.toLowerCase()] || 99)
          );
        }
      });
    },
  },
  methods: {
    init() {
      new api.InstInfoCall()
        .setCode(this.instCode)
        .get()
        .then(this.setInstInfo);

      new api.InstAddressesCall(this.instCode)
        .setSuccessCallback(this.setInstAddress)
        .get();
    },
    setInstInfo(data) {
      if (data["status"] == "Yes") {
        data["status"] = "Full Member";
      }

      // Filter out null values in management field
      this.instInfo = {
        ...data,
        management: data.management.filter((m) => !!m),
      };
    },
    setInstAddress(data) {
      this.addressData = data;
    },
    toTitleCase(text) {
      return text.charAt(0).toUpperCase() + text.substring(1);
    },
  },
  mounted() {
    this.init();
  },
};
</script>
