<template>
  <div>
    <base-page>
      <template v-slot:toolbar-middle>
        <v-toolbar-title>ARC Members</v-toolbar-title>
      </template>
      <template v-slot:header>
        <v-select
          v-model="selectedStatuses"
          label="States qualifying a CADI-line as active"
          :items="Array.from(cadiLinesStatuses).sort()"
          @blur="refilterDebouncer.reset(40)"
          multiple
        ></v-select>
      </template>
      <template v-slot:body>
        <div>
          <v-skeleton-loader
            v-if="pending"
            type="table: table-heading, table-thead, table-tbody, table-tfoot"
          ></v-skeleton-loader>
          <data-table
            v-else
            :headers="tableHeaders"
            :items="tableRows"
            :enableEgroupExport="false"
            :rowsPerPageItems="[-1]"
            dense
          >
            <template v-slot:[`item.person`]="{ item }">
              <user-link :cmsId="item.cmsId" :label="item.person"></user-link>
            </template>
            <template v-slot:[`item.activeRoles`]="{ item }">
              <ul>
                <li v-for="role in item.activeRoles" v-bind:key="role.id">
                  <span :class="role.role">{{ role.role }}</span> of
                  {{ role.code }} ({{ role.lineStatus }})
                </li>
              </ul>
            </template>
            <template v-slot:[`item.inactiveRoles`]="{ item }">
              <ul>
                <li v-for="role in item.inactiveRoles" v-bind:key="role.id">
                  <span :class="role.role">{{ role.role }}</span> of
                  {{ role.code }} ({{ role.lineStatus }})
                </li>
              </ul>
            </template>
          </data-table>
        </div>
      </template>
    </base-page>
  </div>
</template>

<script>
import api from "@/api";
import Hateoas from "@/api/core/Hateoas";
import { Debouncer } from "@/utils/helpers.js";

import UserProfileLink from "@/components/common/links/UserProfileLink";

export default {
  name: "ArcMembers",
  components: {
    "user-link": UserProfileLink,
  },
  data() {
    return {
      tableHeaders: [
        { text: "Person", value: "person" },
        { text: "Active ARCs", value: "activeArcsCount" },
        { text: "Active roles", value: "activeRoles" },
        { text: "Inactive ARCs", value: "inactiveArcsCount" },
        { text: "Inactive roles", value: "inactiveRoles" },
      ],
      arcs: {},
      cadiLines: {},
      rolesByCmsId: {},
      cmsIdLabels: {},
      cadiLinesStatuses: new Set(),
      // inputs
      selectedStatuses: [],
      tableRows: [],
      pending: true,
      refilterDebouncer: new Debouncer(this.refilter, -1),
    };
  },
  props: {
    skipStatuses: {
      type: Set,
      default() {
        return new Set([
          "PUB",
          "PAS-only-PUB",
          "PAS-PUB",
          "Completed",
          "SUPERSEDED",
          "Inactive",
          "Thesis-Approved",
        ]);
      },
    },
  },
  watch: {
    "triggers.refilter"(nv) {
      console.debug("Trigger fired with value " + nv);
      this.$nextTick(this.filterAndPrepareTableRows);
    },
  },
  computed: {
    selectedStatusesSet() {
      var set = new Set();
      this.selectedStatuses.forEach((e) => set.add(e));
      return set;
    },
  },
  methods: {
    refilter() {
      this.$nextTick(this.filterAndPrepareTableRows);
    },
    filterAndPrepareTableRows() {
      console.time("filterAndPrepareTableRows");
      var compo = this;
      compo.pending = true;
      var newRows = [];
      Object.keys(this.cmsIdLabels).forEach((k) => {
        var activeRoles = [];
        var inactiveRoles = [];

        (compo.rolesByCmsId[k] || []).forEach((r) => {
          (compo.selectedStatusesSet.has(r.lineStatus)
            ? activeRoles
            : inactiveRoles
          ).push(r);
        });

        if (activeRoles.length > 0 || inactiveRoles.length > 0) {
          newRows.push({
            cmsId: k,
            person: compo.cmsIdLabels[k],
            activeArcsCount: activeRoles.length,
            inactiveArcsCount: inactiveRoles.length,
            activeRoles: activeRoles,
            inactiveRoles: inactiveRoles,
          });
        }
      });
      compo.tableRows = newRows;
      compo.pending = false;
      console.timeEnd("filterAndPrepareTableRows");
    },
    requestData() {
      new api.CadiLinesCall()
        .setSuccessCallback(this.receiveCadiLinesData)
        .get();
      // ARCs to be fetched from the success callback - to have everything in place
    },
    receiveCadiLinesData(response) {
      console.time("cadiLinesData");
      var compo = this;
      new Hateoas.ResponseProcessor(response)
        .setEntityCollectionHandler((label, arr) => {
          arr.forEach(compo.processIncomingCadiLineData);
        })
        .process();
      // only requesting the ARCs info now, that the CADI lines have been fetched
      new api.ArcsCall().setSuccessCallback(this.receiveArcsData).get();
      // initialize the selector
      var statusesToPreset = [];

      this.cadiLinesStatuses.forEach((e) => {
        if (!compo.skipStatuses.has(e)) {
          statusesToPreset.push(e);
        }
      });
      this.$data.selectedStatuses = statusesToPreset;
      console.timeEnd("cadiLinesData");
    },
    receiveArcsData(response) {
      console.time("arcsData");
      var compo = this;
      new Hateoas.ResponseProcessor(response)
        .setEntityCollectionHandler((label, arr) => {
          arr.forEach(compo.processIncomingArcData);
        })
        .process();
      this.refilter();
      console.timeEnd("arcsData");
    },
    processIncomingArcData(arc) {
      this.arcs[arc.analysisCode] = arc;
      if (Array.isArray(arc.members)) {
        arc.members.forEach((e) =>
          this.processIncomingArcMembershipData(e, arc.analysisCode)
        );
      }
    },
    processIncomingArcMembershipData(membership, analysisCode) {
      if (membership.status === "Accepted") {
        if (this.$data.rolesByCmsId[membership.cmsId] === undefined) {
          this.$data.rolesByCmsId[membership.cmsId] = [];
        }
        var membershipInfo = {
          id: membership.id,
          role: membership.role,
          code: analysisCode,
          lineStatus: this.cadiLines[analysisCode].status,
        };

        this.$data.rolesByCmsId[membership.cmsId].push(membershipInfo);
        if (
          this.$data.cmsIdLabels[membership.cmsId] === undefined ||
          this.$data.cmsIdLabels[membership.cmsId] === null
        ) {
          this.$data.cmsIdLabels[membership.cmsId] = membership.name.substring(
            0,
            membership.name.indexOf("(")
          );
        }
      }
    },
    processIncomingCadiLineData(cadiLine) {
      this.$data.cadiLines[cadiLine.code] = cadiLine;
      this.$data.cadiLinesStatuses.add(cadiLine.status);
    },
  },
  mounted() {
    this.requestData();
  },
};
</script>

<style>
span.Chair {
  color: red;
}
span.LE {
  color: blue;
}
</style>
