<template>
  <div>
    <base-page>
      <template v-slot:toolbar-middle>
        <v-toolbar-title>Analysis Working Groups</v-toolbar-title>
      </template>
      <template v-slot:header> </template>
      <template v-slot:body>
        <data-table
          :headers="tableHeaders"
          :items="tableRows"
          :enableEgroupExport="false"
          :rowsPerPageItems="[-1]"
          dense
        >
          <template v-slot:[`item.conveners`]="{ item }">
            <ul>
              <li v-for="convener in item.conveners" v-bind:key="convener.id">
                <user-link
                  :cmsId="convener.cmsid"
                  :label="convener.name"
                ></user-link>
              </li>
            </ul>
          </template>
          <template v-slot:[`item.created`]="{ item }">
            {{ (item.creationInfo || {}).date || "" }}
          </template>
        </data-table>
      </template>
    </base-page>
  </div>
</template>

<script>
import api from "@/api";
import Hateoas from "@/api/core/Hateoas";
import UserProfileLink from "@/components/common/links/UserProfileLink";

export default {
  name: "Awgs",
  components: {
    "user-link": UserProfileLink,
  },
  data() {
    return {
      tableHeaders: [
        { text: "Name", value: "name" },
        { text: "Full name", value: "fullName" },
        { text: "Type", value: "type" },
        { text: "Created", value: "created" },
        { text: "Status", value: "status" },
        { text: "Conveners", value: "conveners" },
      ],
      awgs: [],
    };
  },
  computed: {
    tableRows() {
      return this.awgs;
    },
  },
  methods: {
    receiveAwgsData(response) {
      var compo = this;
      new Hateoas.ResponseProcessor(response)
        .setEntityCollectionHandler((label, arr) => {
          compo.awgs = arr;
        })
        .process();
    },
  },
  mounted() {
    new api.AwgsCall().setSuccessCallback(this.receiveAwgsData).get();
  },
};
</script>
