<template>
  <div>
    <base-page>
      <template v-slot:toolbar-left></template>
      <template v-slot:toolbar-middle>
        <v-toolbar-title>CADI Publications Committee Dashboard</v-toolbar-title>
      </template>
      <template v-slot:toolbar-right></template>
      <template v-slot:header>
        <v-row>
          <v-col cols="3">
            <v-text-field
              type="date"
              v-model="criteria.date.min"
              label="Starting date"
            ></v-text-field>
          </v-col>
          <v-col cols="3">
            <v-text-field
              type="date"
              v-model="criteria.date.max"
              label="Ending date"
            ></v-text-field>
          </v-col>
          <v-col cols="6">
            <v-row no-gutters>
              <v-col cols="3">
                <v-btn @click="setTimeRange(7)">Last 7 days</v-btn>
              </v-col>
              <v-col cols="3">
                <v-btn @click="setTimeRange(14)">Last 14 days</v-btn>
              </v-col>
              <v-col cols="3">
                <v-btn @click="setTimeRange('month')">This month</v-btn>
              </v-col>
              <v-col cols="3">
                <v-btn @click="setTimeRange('year')">This year</v-btn>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </template>
      <template v-slot:body>
        <v-card>
          <v-card-title>
            Activity between {{ criteria.date.min }} and {{ criteria.date.max }}
          </v-card-title>
          <v-card-subtitle class="text-left">
            Based on CADI's state transition data.
          </v-card-subtitle>
          <v-data-table
            :headers="recentActivityHeaders"
            :items="recentActivityRows"
            :options.sync="recentActivityOptions"
          >
            <template
              v-for="awg in filtered.awgs"
              v-slot:[cellSlotName(awg)]="{ item }"
            >
              <v-btn
                @click="showDetails(item.status, awg)"
                text
                v-bind:key="item.status + '-' + item[awg]"
              >
                {{ item[[awg]] }}
              </v-btn>
            </template>
          </v-data-table>
        </v-card>
        <v-divider></v-divider>
        <v-card>
          <v-card-title>XEB Report</v-card-title>
          <v-card-subtitle class="text-left"
            >Based on CADI's state transitions data as well as on the CDS
            submissions information.</v-card-subtitle
          >
          <div v-for="key in ['ACCEPT', 'SUB', 'CWR']" v-bind:key="'xeb' + key">
            <div v-if="raw.xebReport[key] !== undefined">
              <v-card-subtitle class="text-h6 text-left text--secondary">
                <span v-if="key != 'CWR'"
                  >Items that reached the «{{ key }}» state within the last
                  {{ raw.xebReport.period }} days:</span
                >
                <span v-else
                  >Items currently in CWR (that entered the state no longer than
                  {{ raw.xebReport.period }} days ago):</span
                >
              </v-card-subtitle>
              <v-card-text>
                <v-row
                  v-for="e in raw.xebReport[key]"
                  :key="'xeb' + key + e.code"
                  class="text-left"
                >
                  <v-col cols="1"> {{ e.code }} </v-col>
                  <v-col cols="1"> {{ e.journals }} </v-col>
                  <v-col cols="1">
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on }">
                        <v-icon v-on="on">mdi-calendar-start</v-icon>
                      </template>
                      <span>Date of entering CADI state.</span>
                    </v-tooltip>
                    {{ e.change_date }}
                  </v-col>
                  <v-col cols="1" v-if="key !== 'ACCEPT'">
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on }">
                        <v-icon
                          v-on="on"
                          :color="e.days_left > 0 ? 'orange' : 'green'"
                          >mdi-calendar-end</v-icon
                        >
                      </template>
                      <span v-if="e.days_left > 0"
                        >CDS step date is in {{ e.days_left }} day(s).</span
                      >
                      <span v-else
                        >CDS step date was {{ Math.abs(e.days_left) }} day(s)
                        ago.</span
                      >
                    </v-tooltip>
                    {{ e.cds_step_date }}
                  </v-col>
                  <v-col cols="1" v-else></v-col>
                  <v-col cols="8">
                    {{ e.title }}
                  </v-col>
                </v-row>
              </v-card-text>
            </div>
          </div>
        </v-card>
        <v-divider></v-divider>
        <v-card>
          <v-card-title class="text-right">CDS Records</v-card-title>
          <v-card-subtitle class="text-left">
            Based on the data fetched from CDS as well as on the data used to
            generate the CMS results page.
          </v-card-subtitle>
          <v-data-table
            :headers="papersOverviewHeaders"
            :items="papersOverviewData"
            :options="{
              sortBy: ['cds_record'],
              sortDesc: [true],
            }"
          >
            <template v-slot:[`item.sources`]="{ item }">
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-icon
                    :attrs="attrs"
                    v-on="on"
                    color="green"
                    v-if="item.sources.length == 0"
                    >mdi-check-circle-outline</v-icon
                  >
                  <v-icon
                    v-else
                    :attrs="attrs"
                    v-on="on"
                    slot="activator"
                    color="orange"
                    >mdi-alert-circle-outline</v-icon
                  >
                </template>
                <span v-if="item.sources.length == 0"
                  >Data sources appear consistent for
                  {{ item.cds_record }}</span
                >
                <span v-else>
                  Record {{ item.cds_record }} does not appear in the list
                  fetched from {{ item.sources[0] }}
                </span>
              </v-tooltip>
            </template>
          </v-data-table>
        </v-card>
      </template>
      <template v-slot:actions></template>
    </base-page>
    <details-dialog
      :maxWidth="'700px'"
      :isInline="false"
      v-model="dialogs.activityDetails"
    >
      <template v-slot:title>
        <span class="text-center">
          {{ criteria.activity.awg }} items to reach
          {{ criteria.activity.status }} bewteen {{ criteria.date.min }} and
          {{ criteria.date.max }}
        </span>
      </template>
      <template v-slot:body>
        <v-list
          v-if="
            criteria.activity.awg !== null && criteria.activity.status !== null
          "
        >
          <v-row
            v-for="e in filtered.changesByStatusAndAwg[
              criteria.activity.status
            ][criteria.activity.awg]"
            :key="e.id"
          >
            <v-col cols="2">{{ e.changeDate }}</v-col>
            <v-col cols="3">{{ e.code }}</v-col>
            <v-col cols="3">{{ e.oldState }}</v-col>
            <v-col cols="1"> <v-icon>mdi-arrow-right</v-icon> </v-col>
            <v-col cols="3">{{ e.newState }}</v-col>
          </v-row>
        </v-list>
      </template>
    </details-dialog>
  </div>
</template>

<script>
import api from "@/api";
import moment from "moment";
import { Debouncer } from "@/utils/helpers.js";
import DetailsDialog from "@/components/common/DetailsDialog";

export default {
  name: "PubCommDashboard",
  components: {
    "details-dialog": DetailsDialog,
  },
  data: () => ({
    raw: {
      stateChanges: [],
      codes: [],
      cdsPaperData: [],
      xebReport: {},
    },
    criteria: {
      date: {
        min: moment().subtract(14, "days").format("YYYY-MM-DD"),
        max: moment().format("YYYY-MM-DD"),
      },
      activity: { awg: null, status: null },
    },
    filtered: {
      mostRecentByCode: {},
      changes: [],
      changesByStatusAndAwg: {},
      awgs: [],
    },
    recentActivityOptions: {
      sortBy: ["status"],
    },
    dialogs: {
      activityDetails: false,
    },
    debouncers: {
      typeset: null,
      xebReport: null,
    },
    mathJaxHandle: null,
  }),
  props: {
    relevantStates: {
      type: Array,
      default: () => ["PRE-APP", "PHYS-APP", "CWR", "SUB", "ACCEPT"],
    },
  },
  computed: {
    papersOverviewHeaders() {
      return [
        "Year",
        "WG",
        "Cadi code",
        "Title",
        "CDS Record",
        "Sources",
      ].map((e) => ({ value: e.toLowerCase().replace(" ", "_"), text: e }));
    },
    papersOverviewData() {
      return this.raw.cdsPaperData.map((e) => ({
        ...e,
        title: e.results_title,
        "in_graph?": e.found_in_cms_results_paperdata,
        wg: e.cadi_code !== null ? e.cadi_code.substring(0, 3) : null,
        year:
          e.cadi_code !== null
            ? Number(e.cadi_code.substring(4, 6)) + 2000
            : null,
        sources: [
          e.found_in_cms_results_paperdata !== true ? "CMS results" : null,
          e.found_in_cds_paperdata !== true ? "CDS" : null,
        ].filter((element) => element !== null),
      }));
    },
    recentActivityHeaders() {
      let compo = this;
      let headers = [
        {
          text: "Status",
          value: "status",
          sort: function (a, b) {
            return compo.relevantStates.indexOf(a) >
              compo.relevantStates.indexOf(b)
              ? 1
              : -1;
          },
        },
      ];
      let awgs = this.filtered.awgs;
      awgs.sort();
      awgs.forEach((e) => {
        headers.push({
          text: e,
          value: e,
        });
      });
      return headers.sort();
    },
    recentActivityRows() {
      return Object.entries(this.filtered.changesByStatusAndAwg).map((e) => ({
        status: e[0],
        ...Object.entries(e[1]).reduce((acc, cur) => {
          acc[cur[0]] = cur[1].length;
          return acc;
        }, {}),
      }));
    },
  },
  methods: {
    cellSlotName: function (header) {
      //helper for dynamically named slots that we need to make clickable
      return "item." + header;
    },
    showDetails: function (status, awg) {
      this.criteria.activity.awg = awg;
      this.criteria.activity.status = status;
      console.debug(
        "Need to pop up some details on " +
          awg +
          " entries in " +
          status +
          " state"
      );
      this.dialogs.activityDetails = true;
    },
    setTimeRange: function (value) {
      let dates = {
        min: this.criteria.date.min,
        max: moment().format("YYYY-MM-DD"),
      };
      if (Number.isInteger(value)) {
        dates.min = moment().subtract(value, "days").format("YYYY-MM-DD");
      } else {
        dates.min = moment().startOf(value).format("YYYY-MM-DD");
      }
      this.criteria.date = dates;
    },
    requestStateChanges: async function () {
      let stateChanges = await new api.CadiLineStateChangesCall()
        .setTargetStates(this.relevantStates)
        .setMinDate("2010-01-01")
        .get();
      this.raw.stateChanges = stateChanges.filter(
        (e) => e.code !== null && e.code !== undefined
      );
      let codeSet = new Set();
      this.raw.codes = stateChanges.forEach((e) => {
        codeSet.add(e.code);
      });
      this.raw.codes = Array.from(codeSet);
    },
    requestXebReport: async function () {
      let compo = this;
      let days = moment().diff(
        moment(this.criteria.date.min, "YYYY-MM-DD"),
        "days"
      );
      console.debug("Requesting XEB report for the last " + days + " days");
      new api.XebReportCall()
        .setLookbackPeriod(days)
        .get()
        .then(function (data) {
          console.debug("Retrieved XEB report data");
          Object.values(data)
            .flatMap((e) => (Array.isArray(e) ? e : []))
            .forEach((e) => {
              console.debug(e);
              let date = e?.cds_step_date || null;
              if (date !== null) {
                e["days_left"] = Math.ceil(
                  moment(e.cds_step_date, "DD/MM/YYYY").diff(
                    moment(),
                    "days",
                    true
                  )
                );
              }
            });
          compo.raw.xebReport = data;
        });
    },
    requestOtherData: async function () {
      let compo = this;
      new api.PaperExternalDataCall().get().then((data) => {
        compo.raw.cdsPaperData = data;
      });
    },
    refilterResults: function () {
      console.debug(
        "Filtering results against the time range " +
          JSON.stringify(this.criteria.date)
      );
      this.filtered.mostRecentByCode = {};
      this.filtered.changes = [];
      this.filtered.changesByStatusAndAwg = {};
      let compo = this;
      let awgSet = new Set();
      this.raw.stateChanges.forEach((e) => {
        if (
          e.changeDate >= compo.criteria.date.min &&
          e.changeDate <= compo.criteria.date.max
        ) {
          compo.filtered.changes.push(e);
          if ((compo.mostRecentByCode || "1900-01-01") < e.changeDate) {
            compo.filtered.mostRecentByCode[e.code] = e;
          }
          let awg = e.code.substring(0, 3);
          awgSet.add(awg);
          let status = e.newState;
          compo.filtered.changesByStatusAndAwg[status] =
            compo.filtered.changesByStatusAndAwg[status] || {};
          compo.filtered.changesByStatusAndAwg[status][awg] =
            compo.filtered.changesByStatusAndAwg[status][awg] || [];
          compo.filtered.changesByStatusAndAwg[status][awg].push(e);
        }
      });
      this.filtered.awgs = Array.from(awgSet);
    },
    debounceTypeset() {
      if (window.MathJax !== undefined) {
        this.mathJaxHandle = window.MathJax;
      }
      this.debouncers.typeset.reset(100);
    },
  },
  watch: {
    "criteria.date.max": function () {
      this.refilterResults();
    },
    "criteria.date.min": function () {
      this.refilterResults();
      this.debouncers.xebReport.reset(100);
    },
    mathJaxHandle(newVal, formerVal) {
      if (formerVal === null || formerVal === undefined) {
        newVal.Hub.Config({
          tex2jax: {
            inlineMath: [["$", "$"]],
            processClass: "e-mathjax",
          },
          TeX: { extensions: ["autobold.js"] },
          "HTML-CSS": {
            fonts: ["TeX"],
            noReflows: false,
          },
        });
        console.debug("MathJax configured?");
      }
    },
    "raw.cdsPaperData"() {
      this.debounceTypeset();
    },
    "raw.xebReport"() {
      this.debounceTypeset();
    },
  },
  async mounted() {
    this.debouncers.xebReport = new Debouncer(this.requestXebReport, -1);
    this.debouncers.typeset = new Debouncer(() => {
      if (window.MathJax !== undefined) {
        window.MathJax.Hub.Typeset();
      }
    }, -1);

    let externalScript = document.createElement("script");
    externalScript.setAttribute(
      "src",
      "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    );
    document.head.appendChild(externalScript);

    this.requestOtherData();
    this.requestXebReport();
    await this.requestStateChanges();
    this.refilterResults();
  },
};
</script>

<style></style>
