<template>
  <app-bar>
    <template v-slot:logo>
      <div class="d-flex cursor-pointer" @click="goToDashboard">
        <v-icon color="grey darken-4" class="mr-4">mdi-tools</v-icon>
        <v-toolbar-title class="text--primary mr-6"
          >iCMS toolkit</v-toolbar-title
        >
      </div>
    </template>
    <template v-slot:items-left>
      <app-menu :items="userMenu.collaboration" :width="220">
        Collaboration
      </app-menu>
      <app-menu :items="userMenu.institute"> Institute </app-menu>
      <app-menu :items="userMenu.administration"> Administration </app-menu>
      <app-menu :items="userMenu.publications" :width="240">
        Publications
      </app-menu>
    </template>

    <template v-slot:items-right>
      <app-menu
        :items="
          isImpersonating
            ? [
                ...userMenu.user,
                {
                  title: 'Stop Impersonating ' + username,
                  action: 'stopImpersonating',
                },
              ]
            : userMenu.user
        "
        :width="isAdmin ? 240 : 120"
        @stopImpersonating="stopImpersonating"
      >
        <v-icon left>
          {{ isImpersonating ? icon.incognito : icon.account }}
        </v-icon>
        {{ username }}
      </app-menu>
    </template>
  </app-bar>
</template>

<script>
import api from "@/api";
import { icon } from "@/utils/constants";
import menu from "@/utils/menu";
import { mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters("user", [
      "isAdmin",
      "username",
      "isImpersonating",
      "ledInstitutes",
    ]),
    userMenu() {
      // If user is not admin remove admin section and all unfinished pages
      if (this.isAdmin) return menu;
      let userMenu = {
        ...menu,
        user: menu.user.filter((item) => item.title !== "Admin"),
      };

      return Object.entries(userMenu).reduce(
        (acc, [sectionName, section]) => ({
          ...acc,
          [sectionName]: section
            .map((item) => {
              if (item.guard && !item.guard()) {
                return null;
              }
              if (item.items) {
                return {
                  ...item,
                  items: item.items.filter((item) =>
                    (item.guard || (() => true))()
                  ),
                };
              } else {
                return (item.guard || (() => true))() ? item : null;
              }
            })
            .filter((item) => !!item),
        }),
        {}
      );
    },
  },
  methods: {
    goToDashboard() {
      this.$router.push({ name: "dashboard" }).catch(() => {});
    },
    stopImpersonating() {
      new api.ImpersonateUserCall().delete().then(() => location.reload());
    },
  },
  created() {
    this.icon = icon;
    this.menu = menu;
  },
};
</script>

<style lang="scss" scoped>
.cursor-pointer {
  cursor: pointer;
}
</style>
