<template>
  <app-footer>
    <div>
      Contact information:
      <a href="mailto:icms-support@cern.ch" class="text-lowercase"
        >icms-support@cern.ch</a
      >.
    </div>
    <div class="cursor-pointer" @click="reportIssue">Report an Issue</div>
  </app-footer>
</template>

<script>
import api from "@/api";
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters("user", ["userId", "username", "userFlags"]),
  },
  methods: {
    async reportIssue() {
      // Perform a call to collect info from the API :
      const data = await new api.DeploymentInfoCall().get();

      let details = [
        {
          title: "SPA Version",
          content: process.env.VUE_APP_VERSION,
        },
        {
          title: "Last Commit Hash",
          content: process.env.VUE_APP_LAST_COMMIT_HASH,
        },
        {
          title: "Current path",
          content: window.location.pathname,
        },
        {
          title: "User ID",
          content: this.userId,
        },
        {
          title: "Username",
          content: this.username,
        },
        {
          title: "User Flags",
          content: JSON.stringify(this.userFlags),
        },
        {
          title: "API Hostname",
          content: data.hostname,
        },
        {
          title: "API git tag",
          content: data["git describe --tags"],
        },
        {
          title: "API Last commit",
          content: data["git log -n 1"],
        },
      ];

      const debugMessage = this.createDebugMessage(details);
      window.location.href = "mailto:icms-support@cern.ch?body=" + debugMessage;
    },

    createDebugMessage(details) {
      let msg = "Please describe the problem you encountered : %0D%0A%0D%0A";
      msg +=
        "-----------------------------------------------------------------------------%0D%0A%0D%0A";
      msg += "Debug Info : %0D%0A%0D%0A";
      msg += details.reduce(
        (acc, detail) => acc + `${detail.title} : ${detail.content}%0D%0A`,
        ""
      );
      return msg;
    },
  },
};
</script>
