<template>
  <div class="timeline">
    <template v-if="slots.length">
      <div v-for="(row, i) in slots" :key="i" class="timeline-row">
        <template v-if="showGridLines">
          <div
            v-for="quarter in quarters"
            :key="quarter"
            class="tick"
            :style="`width:${durationToWidth(15)}%;`"
          />
        </template>
        <div 
          v-for="(meeting, j) in row"
          :key="j"
          :class="`cell meeting clickable tooltip`"
          :style="`
                        width:${durationToWidth(meeting.duration)}%; 
                        left:${durationToWidth(
                          meeting.durationFromStartOfDay
                        )}%; 
                        background: ${getColorForType(meeting.state)};
                    `"
          @click="handleClick(meeting, $event)"
        >
          <div class="meeting-time">
            {{ meeting.start_time }} - {{ meeting.end_time }}
          </div>
          <div class="meeting-title">
            {{ meeting.title }}
          </div>
          <div class="tooltiptext">{{ meeting.start_time }} - {{ meeting.end_time }} <br> {{ meeting.title }}</div>
        </div>
      </div>
    </template>
    <template v-else>
      <div class="timeline-row">
        <template v-if="showGridLines">
          <div
            v-for="quarter in quarters"
            :key="quarter"
            class="tick"
            :style="`width:${durationToWidth(15)}%;`"
          />
        </template>
      </div>
    </template>
  </div>
</template>

<style scoped>
.timeline {
  flex-grow: 1;
}

.timeline-row {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  min-height: 50px;
}

.tick {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 50px;
  border-right: 1px solid #e0e0e0;
}

.tick:last-child {
  border-right: none;
}

.meeting {
  position: absolute;
  font-size: 12px;
  top: 0;
  z-index: 1;
  height: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 3px;
  padding-right: 3px;
  color: white;
  text-align: center;
  cursor: default;

  border-right: 1px solid white;
  border-left: 1px solid white;
}

.clickable {
  cursor: pointer;
}
.clickable:hover {
  opacity: 0.8;
  z-index:2;
}

.meeting-time {
  font-size: 10px;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 2px;
}
.meeting-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 9999999;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  z-index: 9999999;
}
</style>

<script>
import moment from "moment";

export default {
  name: "Timeline",
  props: {
    dayStartTime: { type: String },
    dayEndTime: { type: String },
    bookings: { type: Array },
    states: { type: Array },
    showGridLines: { type: Boolean },
  },
  computed: {
    totalMinutes() {
      const { dayStartTime, dayEndTime } = this.$props;
      const dayStart = moment(dayStartTime, "HH:mm:ss");
      const dayEnd =
        dayStartTime !== dayEndTime
          ? moment(dayEndTime, "HH:mm:ss")
          : dayStart.clone().add(1, "day");
      return moment.duration(dayEnd.diff(dayStart)).asMinutes();
    },
    quarters() {
      return new Array(this.totalMinutes / 15).map((_, index) => index);
    },
    meetingsSortedByStartTime() {
      return [...this.bookings].sort((a, b) => {
        a.start_time < b.start_time ? -1 : 1;
      });
    },
    slots() {
      const startOfDay = moment(`${this.$props.dayStartTime}`, "HH:mm");
      const endOfDay = moment(`${this.$props.dayEndTime}`, "HH:mm");
      const meetings = this.meetingsSortedByStartTime.map((meeting) => {
        let start = moment(meeting.start_time, "HH:mm");
        if (start.isBefore(startOfDay)) start = startOfDay;

        let end = moment(meeting.end_time, "HH:mm");
        if (end.isAfter(endOfDay)) end = endOfDay;

        return {
          ...meeting,
          // day: start.format("YYYY-MM-DD"),
          startTime: moment(meeting.start_time).format("HH:mm"),
          endTime: moment(meeting.end_time).format("HH:mm"),
          duration: moment.duration(end.diff(start)).asMinutes(),
          durationFromStartOfDay: moment
            .duration(start.diff(startOfDay))
            .asMinutes(),
        };
      });
      // We split bookings to rows so that they don't overlap
      let slots = [];
      let unassignedBookings = [...meetings];

      while (unassignedBookings.length > 0) {
        let row = [];

        for (let i = 0; i < unassignedBookings.length; i++) {
          const booking = unassignedBookings[i];
          // Check if the booking already overlaps with others in the current row
          let overlaps = false;
          for (const assignedBooking of row) {
            if (this.meetingsOverlap(booking, assignedBooking)) {
              overlaps = true;
            }
          }
          // If no overlaps exist insert the booking in the row and remove it from the unassined pile
          if (!overlaps) {
            row = [...row, booking];
            unassignedBookings.splice(i, 1);
            i--;
          }
        }
        slots = [...slots, row];
      }
      return slots;
    },
  },
  methods: {
    durationToWidth(duration) {
      // 780 mins = 100% of the width -> 1 minute = 0.1282% of the width
      return duration * (100 / this.totalMinutes);
    },
    meetingsOverlap(a, b) {
      if (a.start_time <= b.start_time && b.start_time < a.end_time)
        return true; // b starts in a
      if (a.start_time < b.end_time && b.end_time <= a.end_time) return true; // b ends in a
      if (b.start_time < a.start_time && a.end_time < b.end_time) return true; // a in b
      return false;
    },
    getColorForType(meetingState) {
      const state = this.states.find((s) => s.name === meetingState.toLowerCase());
      return state ? state.color : "#757575";
    },
    handleClick(meeting, event) {
      this.$emit("meetingselect", { meeting, event });
    },
  },
  mounted() {
  }
};
</script>
