<template>
  <v-dialog
    :value="value"
    @input="$emit('input', $value)"
    maxWidth="600px"
    class="zindex-modal"
  >
    <v-card>
      <v-card-title class="headline">
        <div class="dotted-text">
          {{ meeting.title }}
        </div>
      </v-card-title>
      <v-card-text>
        <v-row no-gutters class="mb-4 mt-4" style="line-height: 24px">
          <div class="dotted-text">
            <strong>
              {{ meeting.day_of_week.toUpperCase() }}
              {{ meeting.start_time }} - {{ meeting.end_time }}
            </strong>
          </div>
        </v-row>
        <v-row no-gutters style="line-height: 24px">
          <v-col>
            Week: <strong>{{ meeting.odd_even_weekly.toUpperCase() }}</strong>
          </v-col>
          <v-col>
            Room: <strong>{{ meeting.room.toUpperCase() }}</strong>
          </v-col>
          <v-col>
            Primary contact:
            <strong>{{ meeting.primary_contact || "-" }}</strong>
          </v-col>
        </v-row>
        <v-row no-gutters style="line-height: 24px">
          Conveners:
          <template
            v-if="
              !(
                meeting.weekly_meeting_conveners &&
                meeting.weekly_meeting_conveners.length > 0
              )
            "
          >
            -
          </template>
        </v-row>
        <v-row
          no-gutters
          style="line-height: 24px"
          v-if="
            meeting.weekly_meeting_conveners &&
            meeting.weekly_meeting_conveners.length > 0
          "
        >
          <ul id="convener-list">
            <li
              v-for="convener in meeting.weekly_meeting_conveners"
              :key="convener.cms_id"
            >
              <strong>
                {{ convener.first_name }} {{ convener.last_name }} ({{
                  convener.cms_id
                }})
              </strong>
            </li>
          </ul>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-row no-gutters class="ml-3">
          <v-btn
            :disabled="!canEdit"
            color="primary darken-1"
            text
            class="mr-2"
            @click="handleActionSelect('edit')"
          >
            <v-icon left dark> mdi-pencil </v-icon>
            Edit
          </v-btn>
          <v-btn
            :disabled="!canApprove || isOverlap"
            color="green darken-1"
            text
            class="mr-2"
            @click="handleActionSelect('approved')"
          >
            <v-icon left dark> mdi-check </v-icon>
            Approve
          </v-btn>
          <v-btn
            :disabled="!canCancel"
            color="red darken-1"
            text
            class="mr-2"
            @click="handleActionSelect('cancelled')"
          >
            <v-icon left dark> mdi-cancel </v-icon>
            Cancel
          </v-btn>
        </v-row>
        <v-spacer></v-spacer>
        <v-btn color="primary darken-1" text @click="close"> Close </v-btn>
      </v-card-actions>
      <v-row no-gutters class="ml-3">
        <small style="color: red; margin-bottom: 10px">{{
          approveBtnInfo
        }}</small>
      </v-row>
    </v-card>
  </v-dialog>
</template>

<style>
.dotted-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
</style>

<script>
export default {
  props: {
    value: { type: Boolean, default: false },
    meeting: { type: Object },
    catalog: { type: Object },
  },
  data() {
    return {
      status: null,
      approveBtnInfo: "",
    };
  },

  computed: {
    canEdit() {
      this.setInfo();
      const allowed_actions = this.meeting["_allowed_actions"];
      return allowed_actions.includes("edit") ? true : false;
    },
    canApprove() {
      const allowed_actions = this.meeting["_allowed_actions"];
      return allowed_actions.includes("approve") ? true : false;
    },
    canCancel() {
      const allowed_actions = this.meeting["_allowed_actions"];
      return allowed_actions.includes("cancel") ? true : false;
    },
    isOverlap() {
      let overlap = false;
      let oe = this.meeting["odd_even_weekly"];
      let ovrlp;
      if (oe === "weekly") {
        let odd_ovrlp = this.overlapControl("odd", overlap);
        if (odd_ovrlp) {
          ovrlp = odd_ovrlp;
        } else {
          ovrlp = this.overlapControl("even", overlap);
        }
      } else {
        ovrlp = this.overlapControl(oe, overlap);
      }

      return ovrlp;
    },
  },
  methods: {
    overlapControl(oe, overlap) {
      let mid = this.meeting["id"];
      let d = this.meeting["day_of_week"];
      let r = this.meeting["room"];
      let st = this.meeting["start_time"];
      let et = this.meeting["end_time"];
      let filteredCatalog = this.catalog[oe][d];
      filteredCatalog.forEach((m) => {
        if (
          r !== "Virtual" &&
          r === m.room &&
          !(et <= m.start_time || st >= m.end_time) &&
          m.state === "approved" &&
          m.id !== mid
        ) {
          overlap = true;
        }
      });
      if (overlap) {
        this.approveBtnInfo =
          "Can't be approved. There is an overlap with another meeting.";
      } else {
        this.approveBtnInfo = "";
      }
      return overlap;
    },
    setInfo() {
      this.approveBtnInfo = "";
    },
    close() {
      this.$emit("input", false);
    },
    handleActionSelect(action) {
      this.$emit("selectaction", action);
      this.close();
    },
  },
  watch: {},
  mounted() {},
};
</script>
