<template>
  <v-dialog v-model="value" maxWidth="340px" class="zindex-modal">
    <v-card>
      <v-card-title class="headline">{{
        meeting ? meeting.title : ""
      }}</v-card-title>
      <v-card-text>
        <div class="mb-2">
          Meeting set between {{ meeting ? meeting.start_time : "" }} - {{ meeting ? meeting.end_time : "" }}, is ready to be 
          <b>{{ action === "approved" ? "approved" : "cancelled" }}</b>.
        </div>
        <div>Are you sure you want to continue ?</div>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn color="red darken-1" text @click="close"> Close </v-btn>

        <v-btn color="green darken-1" text @click="submit"> Continue </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import api from "@/api";

export default {
  name: "WeeklyMeetingsActionDialog",
  props: {
    value: { type: Boolean, required: true, default: false },
    meeting: { type: Object },
    action: { default: null },
  },
  computed: {
  },
  methods: {
    close() {
      this.$emit("input", false);
    },
    async submit() {
      const res = await new api.WeeklyMeetingsCall()
        .setId(this.meeting.id)
        .setState(this.action === "approved" ? "approved" : "cancelled")
        .setTitle(this.meeting.title)
        .setOddEvenWeekly(this.meeting.odd_even_weekly)
        .setDayOfWeek(this.meeting.day_of_week.toLowerCase())
        .setStartTime(this.meeting.start_time)
        .setEndTime(this.meeting.end_time)
        .setRoom(this.meeting.room)
        .setPrimaryContact(this.meeting.primary_contact)
        .setConveners(this.meeting.weekly_meeting_conveners.map(({ cms_id }) => ({ cms_id })))
        .put();

      // this.$store.dispatch(
      //   "notification/infoMessage",
      //   `Booking ${res.state === "done" ? "Approved" : "Removed"}!`
      // );
      this.$emit("meetingstatechange", res.state);
      this.close();
    },
  },
};
</script>
