<template>
  <base-page>
    <template v-slot:toolbar-title>Applicant dues overview</template>
    <template v-slot:body>
      <v-divider></v-divider>
      <data-table
        :no-autoformat="true"
        :headers="headers"
        :items="data.people"
        :options="pagination"
        :isColumnEditable="() => false"
      />
    </template>
  </base-page>
</template>

<script>
import api from "@/api";

export default {
  name: "ApplicantDues",
  data() {
    return {
      data: {
        people: []
      },
      pagination: {
        sortBy: ["cms_id"],
        sortDesc: [false],
      },
    };
  },
  computed: {
    headers() {
      return [
        { text: "CMS ID", value: "cms_id", sortable: true },
        { text: "Name", value: "name", sortable: true },
        { text: "Institute", value: "institute", sortable: true },
        { text: "Status", value: "status", sortable: true },
        { text: "Activity", value: "activity", sortable: true },
        {
          text: "Never susp. since",
          value: "never_susp_since",
          sortable: true,
        },
        { text: "Due start year", value: "due_start_year", sortable: true },
        { text: "Due last year", value: "due_last_year", sortable: true },
        { text: "Due this year", value: "due_this_year", sortable: true },
        { text: "∑ due", value: "total_due", sortable: true },
        { text: "∑ due correct", value: "sum_due_correct", sortable: true },
        { text: "Worked in advance", value: "worked_in_advance", sortable: true },
        { text: "Errors", value: "errors", sortable: true },
      ];
    },
  },
  async mounted() {
    const data = await new api.ApplicantDuesCall().get();
    this.data = { ...data };
  },
};
</script>