<template>
  <base-page>
    <template v-slot:toolbar-title>Date end sign</template>
    <template v-slot:body>
      <div v-for="entry in entries" :key="entry.key" class="py-8">
        <h4>{{ entry.header }}</h4>
        <v-divider></v-divider>
        <data-table
          :no-autoformat="true"
          :headers="headers"
          :loading="loading"
          :items="data[entry.key]"
          :options="pagination"
          :isColumnEditable="() => false"
        />
      </div>
    </template>
  </base-page>
</template>

<script>
import api from "@/api";

export default {
  name: "DateEndSign",
  data() {
    return {
      data: {
        fixable: [],
        outdated: [],
        not_signing: [],
        correct: []
      },
      entries: [
        { header: "Fixable", key: "fixable" },
        { header: "Outdated", key: "outdated" },
        { header: "Not signing", key: "not_signing" },
        { header: "Correct", key: "correct" },
      ],
      pagination: {
        sortBy: ["cms_id"],
        sortDesc: [false],
      },
      loading: false
    };
  },
  computed: {
    headers() {
      return [
        { text: "CMS ID", value: "cms_id", sortable: true },
        { text: "HR ID", value: "hr_id", sortable: true },
        { text: "First name", value: "first_name", sortable: true },
        { text: "Last name", value: "last_name", sortable: true },
        { text: "Status", value: "status", sortable: true },
        { text: "Remarks", value: "remarks", sortable: true },
        {
          text: "Remarks by secretariat",
          value: "remarks_secr",
          sortable: true,
        },
        { text: "Is author", value: "is_author", sortable: true },
        { text: "Date end sign", value: "date_end_sign", sortable: true },
        { text: "Date creation", value: "date_creation", sortable: true },
        { text: "Exit date", value: "exit_date", sortable: true },
        { text: "Last sign date", value: "last_sign_date", sortable: true },
        { text: "Days before", value: "days_before", sortable: true },
        { text: "Computed end", value: "computed_end", sortable: true },
        { text: "Extra months", value: "extra_months", sortable: true },
        { text: "Discrepancy", value: "discrepancy", sortable: true },
        { text: "Egroups", value: "egroups", sortable: true },
      ];
    },
  },
  async mounted() {
    this.loading = true;
    const data = await new api.DateEndSignCall().get();
    this.data = { ...data };
    this.loading = false;
  },
};
</script>
