<template>
  <div>
    <v-container fluid>
      <v-row class="mb-4 text-center">
        <v-col sm="12">
          <h3 class="headline">Markdown Editor</h3>
        </v-col>
      </v-row>

      <v-row class="mb-4 text-center">
        <v-col sm="12">
          <v-card>
            <v-card-title primary-title>
              <div class="title">Load Note from DB</div>
            </v-card-title>
            <v-card-text>
              <v-col sm="12">
                <v-autocomplete
                  :items="markdownList"
                  :item-text="'name'"
                  :item-value="'id'"
                  label="Pick an existing one to edit"
                  v-model="noteId"
                  required
                ></v-autocomplete>
              </v-col>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <v-row class="mb-4 text-center">
        <v-col sm="12">
          <v-card>
            <v-card-title primary-title>
              <div class="title">Edit Note</div>
            </v-card-title>
            <v-card-text>
              <v-text-field
                v-model="noteName"
                label="Note name"
                hint="For storage and retrieval purposes"
                v-on="on"
              ></v-text-field>
              <v-textarea
                v-model="noteBody"
                name="body"
                label="Note content"
                hitn="Insert markdown here"
              ></v-textarea>
            </v-card-text>
            <v-card-actions>
              <v-autocomplete
                :items="imagesList"
                :item-text="'name'"
                :item-value="'id'"
                label="Choose image to insert"
                v-model="imageId"
                required
              ></v-autocomplete>
              <v-btn text color="secondary" @click="insertImage"
                >Insert image</v-btn
              >
              <v-btn text color="secondary" @click="startNewNote"
                >Start fresh</v-btn
              >
              <v-btn text color="primary" @click="submitNote">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>

      <v-row class="mb-4">
        <v-col sm="12">
          <v-card>
            <v-card-title primary-title
              ><div class="title">Markdown Preview</div></v-card-title
            >
            <v-card-text>
              <div v-html="compiledMarkdown"></div>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
/* eslint-disable no-undef */
import api from "@/api";
import marked from "marked";

export default {
  name: "MarkdownEditor",
  data: function () {
    return {
      noteId: null,
      imageId: null,
      noteName: "",
      noteBody: "",
      markdownList: [],
      imagesList: [],
    };
  },
  methods: {
    async getImagesList() {
      this.imagesList = await new api.ImagesListCall().get();
    },
    async getMarkdownList() {
      this.markdownList = await new api.MarkdownListCall().get();
    },
    async getMarkdownBody(id) {
      const data = await new api.MarkdownCall().setId(id).get();
      this.noteName = data["name"];
      this.noteBody = data["body"];
      this.noteId = data["id"];
    },
    startNewNote() {
      this.noteName = "";
      this.noteBody = "";
      this.noteId = null;
    },
    async submitNote() {
      const data = await new api.MarkdownCall()
        .setId(this.noteId)
        .setName(this.noteName)
        .setBody(this.noteBody)
        .post();
      this.noteId = data["id"];
      this.getMarkdownList();
    },
    insertImage() {
      if (this.imageId != null) {
        this.noteBody += "![image](" + this.imageId + ")";
      }
    },
  },
  watch: {
    noteId: function (value) {
      if (value != null) {
        this.getMarkdownBody(value);
      }
    },
  },
  computed: {
    sanitizedBody: function () {
      return JSON.stringify(this.noteBody);
    },
    desanitizedBody: function () {
      return JSON.parse(this.sanitizedBody);
    },
    compiledMarkdown: function () {
      return marked(this.noteBody, {
        sanitize: true,
        renderer: this.markedRenderer,
      });
    },
    markedRenderer: function () {
      // this code should get centralized somewhere as soon as it's needed anywhere else than here
      var renderer = new marked.Renderer();
      var backupRenderer = new marked.Renderer();

      renderer.image = function (href, title, text) {
        if (!/^http.{0,1}:\/\//i.test(href)) {
          href =
            process.env.VUE_APP_API_URL +
            "/restplus/general/image?" +
            (isNaN(href) ? "name=" : "id=") +
            href;
        }
        return backupRenderer.image(href, title, text);
      };

      renderer.link = function (href, title, text) {
        if (!/^http.{0,1}:\/\//i.test(href)) {
          href = $SCRIPT_ROOT + href;
        }
        return backupRenderer.link(href, title, text);
      };
      return renderer;
    },
  },
  mounted: function () {
    this.getMarkdownList();
    this.getImagesList();
  },
};
</script>
