<template>
  <div>
    <base-page
      @info="dialogs.info = true"
      @resource="
        resetEditors();
        dialogs.resources = true;
      "
      @role="
        resetEditors();
        dialogs.classes = true;
      "
      @rule="
        resetEditors();
        dialogs.permissions = true;
      "
      :toolbar-actions="[
        {
          name: 'info',
          icon: 'mdi-information-outline',
          tooltip: 'Additional information',
        },
        {
          name: 'resource',
          icon: 'mdi-file-plus',
          tooltip: 'Define new resource',
        },
        {
          name: 'role',
          icon: 'mdi-account-plus',
          tooltip: 'Define new role (access class)',
        },
        {
          name: 'rule',
          icon: 'mdi-key-plus',
          tooltip: 'Define new access rule (permission)',
        },
      ]"
    >
      <template v-slot:toolbar-title>Permissions Management</template>
      <template v-slot:body>
        <v-tabs v-model="activeTab" background-color="white">
          <v-tab>Access rules (permissions)</v-tab>
          <v-tab>Access classes</v-tab>
          <v-tab>Restricted resources</v-tab>
        </v-tabs>

        <data-table
          :headers="headers"
          :items="tableRows"
          :rows-per-page-items="[-1]"
        >
          <template v-slot:[`item.access_class_rules`]="{ item }">
            <pre>{{ item.access_class_rules }}</pre>
          </template>
          <template v-slot:[`item.rules`]="{ item }">
            <pre>{{ item.rules }}</pre>
          </template>
          <template v-slot:[`item.filters`]="{ item }">
            <pre>{{ item.filters }}</pre>
          </template>
          <template v-slot:[`item.actions`]="{ item }">
            <v-btn color="green" icon @click="activateEditor(item.id)"
              ><v-icon>mdi-tooltip-edit</v-icon></v-btn
            >
          </template>
        </data-table>
      </template>
    </base-page>
    <div class="pr-2">
      <edit-dialog
        :is-inline="false"
        v-model="dialogs.resources"
        ref="resourcesEditor"
        @reset="resetResourceForm"
        @submit="submitResourceData"
      >
        <template v-slot:header>Resources Editor</template>
        <template v-slot:fields>
          <v-autocomplete
            v-model="editors.resources.key"
            label="Route"
            :items="Object.values(routes)"
            item-value="rule"
            item-text="rule"
            clearable
          ></v-autocomplete>
          <v-text-field
            v-model="editors.resources.filters"
            label="Filters"
            clearable
          ></v-text-field>
        </template>
      </edit-dialog>
    </div>
    <div class="pr-2">
      <edit-dialog
        :is-inline="false"
        v-model="dialogs.classes"
        ref="classesEditor"
        @reset="resetClassForm"
        @submit="submitClassData"
      >
        <template v-slot:header>Access Classes Editor</template>
        <template v-slot:fields>
          <v-text-field
            v-model="editors.classes.name"
            label="Name"
            clearable
          ></v-text-field>
          <v-text-field
            v-model="editors.classes.rules"
            label="Rules"
            clearable
          ></v-text-field>
        </template>
      </edit-dialog>
    </div>
    <div class="pr-2">
      <edit-dialog
        :is-inline="false"
        v-model="dialogs.permissions"
        ref="permissionsEditor"
        @reset="resetPermissionForm"
        @submit="submitPermissionData"
      >
        <template v-slot:header>Permissions Editor</template>
        <template v-slot:fields>
          <v-autocomplete
            v-model="editors.permissions.resource_id"
            label="Resource"
            :items="Object.values(resources)"
            item-value="id"
            item-text="key"
            clearable
          ></v-autocomplete>
          <v-autocomplete
            v-model="editors.permissions.access_class_id"
            label="Access Class"
            :items="Object.values(classes)"
            item-value="id"
            item-text="name"
            clearable
          ></v-autocomplete>
          <v-select
            label="Method"
            v-model="editors.permissions.action"
            :items="actionOptions"
            item-value="value"
            item-text="label"
            clearable
          ></v-select>
        </template>
      </edit-dialog>
      <details-dialog
        v-model="dialogs.info"
        :is-inline="false"
        :max-width="'1000px'"
      >
        <template v-slot:title>
          <v-spacer></v-spacer>
          Permissions Management Help
          <v-spacer><pre></pre></v-spacer>
        </template>
        <template v-slot:body>
          <h4>Basics</h4>
          <ul>
            <li>
              The default (yet configurable) access level enforced by the
              backend (for API) is that everyone can read anything and only
              admins can delete or write.
            </li>
            <li>
              Derogations can be configured using:
              <ul>
                <li>
                  a restricted resource definition: an endpoint and a filtering
                  expression
                </li>
                <li>
                  an access class definition: a name and membership criteria
                  expression
                </li>
                <li>
                  a permission combining a resource, an access class and an
                  operation type
                </li>
              </ul>
            </li>
          </ul>
          <h4>Expressions</h4>
          <ul>
            <li>
              The expressions to be evaluated by the server are written in JSON.
              <ul>
                <li>
                  A list evaluates to <code>true</code> as soon as any of its elements evaluates to
                  <code>true</code> (<code>false</code> if none does).
                  <ul>
                    <li>thus <code>[]</code> evaluates to <code>false</code></li>
                  </ul>
                </li>
                <li>
                  An object evaluates to <code>false</code> as soon as any of its key-value pairs
                  evaluates to <code>false</code> (<code>true</code> if none does).
                  <ul>
                    <li>thus <code>{}</code> evaluates to <code>true</code></li>
                  </ul>
                </li>
                <li>
                  A key-value pair evaluates to <code>true</code> if both sides evaluate to
                  the same value or, should the value be an array, if a result of key's
                  evaluation can be found in that array.
                </li>
              </ul>
            </li>
            <li>
              Certain substitutions are performed on the server side so that
              such assertions can be made against some user-specific or
              request-specific information.
            </li>
            <li>
              Substitutions replace a matching string literal with a value
              extracted from one of the pre-defined parameter stores, eg.
              <code>u.cms_id</code>
              would be replaced with the
              <code>cms_id</code>
              value obtained from the parameter store prefixed as
              <code>u</code>.
            </li>
            <li>Expression can be used:</li>
            <ul>
              <li>
                To define the criteria of access class membership, eg.
                <code>[{"ICMS_root":"u.flags"}]</code> will be satisfied for
                <code>ICMS_root</code> flag holders.
              </li>
              <li>
                To refine the process of matching the incoming request against
                defined resources, eg:
                <code>[{"p.cms_id":"u.cms_id"}]</code> will match the resource
                only if the <code>cms_id</code> path variable (view arg) is the
                same as the current user's CMS ID. Access class associated with
                this resource can tighten the access requirements, but cannot
                relax them.
              </li>
            </ul>
          </ul>
          <h4>Parameter stores</h4>
          <p>
            Available parameter stores, along with their prefixes and some
            python code involved in providing them, are listed below:
          </p>
          <v-list>
            <v-list-item v-for="store in stores" :key="store.prefix">
              <v-list-item-avatar
                ><code>{{ store.prefix }}</code></v-list-item-avatar
              >
              <v-list-item-content>
                <pre>  {{ store.source }}</pre>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </template>
      </details-dialog>
    </div>
  </div>
</template>

<script>
import api from "@/api";
import EditDialog from "@/components/common/inputs/EditDialog";
import DetailsDialog from "@/components/common/DetailsDialog.vue";

export default {
  name: "Permissions",
  components: {
    "details-dialog": DetailsDialog,
    "edit-dialog": EditDialog,
  },
  data() {
    return {
      activeTab: null,
      routes: {},
      resources: {},
      classes: {},
      permissions: {},
      stores: {},
      editors: {
        permissions: {
          id: null,
          action: null,
          resource_id: null,
          access_class_id: null,
        },
        resources: {
          id: null,
          key: null,
          filters: "{}",
        },
        classes: {
          id: null,
          name: null,
          rules: "[]",
        },
      },
      activeEditorType: null,
      dialogs: {
        info: false,
        resources: false,
        classes: false,
        permissions: false,
      },
    };
  },
  watch: {
    activeTab: function (newVal) {
      this.activeEditorType = ["permissions", "classes", "resources"][newVal];
    },
  },
  computed: {
    headers() {
      if (this.activeTab == 1) {
        return [
          { text: "Name", value: "name" },
          { text: "Rules", value: "rules" },
          { text: "Actions", value: "actions" },
        ];
      } else if (this.activeTab == 2) {
        return [
          { text: "Route", value: "route" },
          { text: "Filters", value: "filters" },
          { text: "Actions", value: "actions" },
        ];
      }
      return [
        { text: "Route", value: "route" },
        { text: "Filters", value: "filters" },
        { text: "Action", value: "action" },
        { text: "Access Class Name", value: "access_class_name" },
        { text: "Access Class Rules", value: "access_class_rules" },
        { text: "Actions", value: "actions" },
      ];
    },
    tableRows() {
      var stuff = [];
      if (this.activeTab == 1) {
        Object.values(this.classes).forEach((e) => {
          stuff.push({
            id: e.id,
            name: e.name,
            rules: JSON.stringify(e.rules),
          });
        });
      } else if (this.activeTab == 2) {
        Object.values(this.resources).forEach((e) => {
          stuff.push({
            id: e.id,
            route: e.key,
            filters: JSON.stringify(e.filters),
          });
        });
      } else {
        Object.keys(this.permissions).forEach((key) => {
          var element = this.permissions[key];
          var resource = this.resources[element.resource_id];
          var access_class = this.classes[element.access_class_id];
          if (resource !== undefined && access_class !== undefined) {
            var entry = {
              id: element.id,
              action: element.action,
              route: resource.key,
              filters: JSON.stringify(resource.filters),
              access_class_name: access_class.name,
              access_class_rules: JSON.stringify(access_class.rules),
            };
            stuff.push(entry);
          }
        });
      }
      return stuff;
    },
    actionOptions() {
      var actions = [];
      if (this.editors.permissions.resource_id !== null) {
        var resource = this.resources[this.editors.permissions.resource_id];
        var route = this.routes[resource.key];
        var methodActionMap = {
          GET: "read",
          DELETE: "delete",
          PUT: "write",
          POST: "write",
          PATCH: "write",
        };
        route.methods.forEach((e) => {
          if (methodActionMap[e.toUpperCase()]) {
            actions.push({ label: e, value: methodActionMap[e.toUpperCase()] });
          }
        });
      }
      return actions;
    },
    editableOptions() {
      var editables = [];
      if (this.activeEditorType !== null) {
        var pool = Object.values(this[this.activeEditorType]);
        pool.forEach((e) => {
          editables.push({
            v: e.id,
            l: e.name ? e.name : e.key ? e.key : e.id,
          });
        });
      }
      return editables;
    },
  },
  methods: {
    resetEditors() {
      this.editors.permissions = {
        id: null,
        action: null,
        resource_id: null,
        access_class_id: null,
      };
      this.editors.resources = {
        id: null,
        key: null,
        filters: "{}",
      };
      this.editors.classes = {
        id: null,
        name: null,
        rules: "[]",
      };
    },
    requestData() {
      new api.RoutesCall().get().then((data) => {
        this.storeData(data, "routes", "rule");
      });
      new api.ResourcesCall().get().then((data) => {
        this.storeData(data, "resources", "id");
      });
      new api.AccessClassesCall().get().then((data) => {
        this.storeData(data, "classes", "id");
      });
      new api.AuthorizationsCall().get().then((data) => {
        this.storeData(data, "permissions", "id");
      });
      new api.ParamStoresCall().get().then((data) => {
        this.storeData(data, "stores", "prefix");
      });
    },
    storeData(payload, label, mapBy) {
      console.debug("Got " + label + " to be mapped by " + mapBy);
      var reduced = payload.reduce((acc, cur) => {
        acc[cur[mapBy]] = cur;
        return acc;
      }, {});
      this.$set(this.$data, label, reduced);
      console.debug(reduced);
    },
    resetResourceForm() {
      this.editors.resources.id = null;
      this.editors.resources.key = null;
      this.editors.resources.filters = "{}";
    },
    submitResourceData() {
      var call = new api.ResourcesCall()
        .setKey(this.editors.resources.key)
        .setType("endpoint")
        .setFilters(JSON.parse(this.editors.resources.filters));

      this.editors.resources.id !== null
        ? call
            .setId(this.editors.resources.id)
            .put()
            .then((data) => {
              this.updateData(data, "resources", "id");
            })
        : call.post().then((data) => {
            this.updateData(data, "resources", "id");
          });
    },
    resetClassForm() {
      this.editors.classes.id = null;
      this.editors.classes.name = null;
      this.editors.classes.rules = null;
    },
    submitClassData() {
      var call = new api.AccessClassesCall().setName(this.editors.classes.name);
      call.setRules(JSON.parse(this.editors.classes.rules));
      var handler = this.updateData;
      (this.editors.classes.id !== null
        ? call.setId(this.editors.classes.id).put()
        : call.post()
      ).then((data) => {
        handler(data, "classes", "id");
      });
    },
    resetPermissionForm() {
      this.editors.permissions.id = null;
      this.editors.permissions.resource_id = null;
      this.editors.permissions.access_class_id = null;
      this.editors.permissions.action = null;
    },
    submitPermissionData() {
      var call = new api.AuthorizationsCall()
        .setAction(this.editors.permissions.action)
        .setAccessClassId(this.editors.permissions.access_class_id)
        .setResourceId(this.editors.permissions.resource_id);

      this.editors.permissions.id != null
        ? call
            .setId(this.editors.permissions.id)
            .put()
            .then((data) => {
              this.updateData(data, "permissions", "id");
            })
        : call.post().then((data) => {
            this.updateData(data, "permissions", "id");
          });
    },
    updateData(payload, label, mapBy) {
      console.debug("Received payload labelled" + label + "for update:");
      console.debug(payload);
      // inserting returned data into the appropriate bucket
      this.$set(this.$data[label], payload[mapBy], payload);
      this.$store.dispatch(
        "notification/infoMessage",
        label + " entry #" + payload[mapBy] + " saved successfully"
      );
      this.$set(this.$data["dialogs"], label, false);
    },
    activateEditor(forId) {
      this.$refs[this.activeEditorType + "Editor"].dialog = true;
      console.debug(
        "Populating editor with data for #" +
          forId +
          " of " +
          this.activeEditorType
      );
      var source = this[this.activeEditorType][forId];
      console.debug(source);
      Object.keys(this.editors[this.activeEditorType]).forEach((k) => {
        this.editors[this.activeEditorType][k] =
          typeof source[k] === "object" ? JSON.stringify(source[k]) : source[k];
      });
    },
  },
  mounted() {
    this.requestData();
  },
};
</script>
