<template>
  <base-page>
    <template v-slot:toolbar-title>Free Text History</template>
    <template v-slot:body>
      <div class="mx-2">
        <div class="mb-4">
          <person-picker
            v-model="searchPerson"
            @change="selectId"
          ></person-picker>
        </div>
        <text-history :cmsId="selectedId" />
      </div>
    </template>
  </base-page>
</template>

<script>
import PersonPicker from "@/components/common/inputs/PersonPicker.vue";
import TextHistory from "@/components/common/TextHistory.vue";

export default {
  name: "TextHistoryPage",
  components: {
    "person-picker": PersonPicker,
    "text-history": TextHistory,
  },
  data() {
    return {
      searchPerson: "",
      selectedId: null,
    };
  },
  methods: {
    selectId(cmsId) {
      this.selectedId = cmsId;
    },
  },
};
</script>

<style scoped>
.text-box > .v-input {
  font-family: monospace;
}
.text-box > .v-input > .v-input__control {
  margin-bottom: 0 !important;
}
</style>
