<template>
  <v-dialog
    :value="value"
    @input="$emit('input', false)"
    max-width="600px"
    @keydown.esc="close"
    tabindex="0"
  >
    <v-card>
      <v-card-title>
        {{ modalTitle }}
      </v-card-title>
      <v-card-text>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-container>
            <v-row>
              <v-col cols="8">
                <v-select
                  v-model="typeId"
                  label="Type"
                  :items="typeOptions"
                  :rules="awardTypeRules"
                  class="required"
                />
              </v-col>
              <v-col>
                <v-text-field
                  v-model="year"
                  label="Year"
                  :rules="awardYearRules"
                  class="required"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <date-input
                  label="Nominations Open Date"
                  v-model="nominationsOpenDate"
                  :rules="nominationsOpenDateRules"
                  required-class
                />
              </v-col>
              <v-col>
                <date-input
                  label="Nominations Deadline"
                  v-model="nominationsDeadline"
                  :rules="nominationsDeadlineRules"
                  required-class
                />
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <date-input
                  label="Awardee Publication Date (can be specified later)"
                  v-model="awardeePublicationDate"
                />
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-container>
          <v-row style="align-items: center; justify-content: center">
            <v-col cols="3">
              <span class="red--text">* required</span>
            </v-col>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="close"> Close </v-btn>
            <v-btn color="blue darken-1" text @click="submit"> Save </v-btn>
          </v-row>
        </v-container>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import api from "@/api";
import DateInput from "@/components/common/inputs/DateInput";
import { mapActions } from "vuex";
import { fieldRequiredRule } from "@/utils/validation";

export default {
  components: {
    "date-input": DateInput,
  },
  props: {
    value: { type: Boolean, required: true, default: false },
    item: { type: Object, default: () => null },
  },
  data() {
    return {
      types: [],
      typeId: null,
      year: null,
      nominationsOpenDate: null,
      nominationsDeadline: null,
      awardeePublicationDate: null,
      valid: true,
      awardTypeRules: [fieldRequiredRule("The generic award type")],
      awardYearRules: [
        fieldRequiredRule("The award year"),
        (value) => {
          const year = Number(value);
          return (
            (Number.isSafeInteger(year) && Number(year) > 0) || "Invalid year!"
          );
        },
      ],
      nominationsOpenDateRules: [
        fieldRequiredRule("The date when nominations open"),
      ],
      nominationsDeadlineRules: [fieldRequiredRule("The nomination deadline")],
    };
  },
  computed: {
    isEdit() {
      return !!this.item;
    },
    modalTitle() {
      return this.isEdit ? "Edit Award" : "Create Award";
    },
    typeOptions() {
      return this.types.map((type) => ({
        value: type.id,
        text: type.type,
      }));
    },
  },
  watch: {
    item(newValue) {
      if (!newValue) {
        this.$refs.form.resetValidation();
      }
      this.typeId = newValue?.award_type_id;
      this.year = newValue?.year;
      this.nominationsOpenDate = newValue?.nominations_open_date;
      this.nominationsDeadline = newValue?.nominations_deadline;
      this.awardeePublicationDate = newValue?.awardee_publication_date;
    },
  },
  methods: {
    ...mapActions("notification", ["infoMessage"]),
    close() {
      this.$emit("input", false);
    },
    async submit() {
      if (!this.$refs.form?.validate()) return;
      const awardsCall = new api.AwardsCall()
        .setAwardTypeId(this.typeId)
        .setYear(Number(this.year))
        .setNominationsOpenDate(this.nominationsOpenDate)
        .setNominationsDeadline(this.nominationsDeadline)
        .setAwardeePublicationDate(this.awardeePublicationDate);
      if (this.isEdit) {
        const data = await awardsCall.setId(this.item.id).put();
        this.$emit("updated", data);
      } else {
        const data = await awardsCall.post();
        this.$emit("created", data);
      }
      this.displaySuccessMessage();
      this.close();
    },
    displaySuccessMessage() {
      this.infoMessage(
        this.isEdit
          ? "Award Edited Successfully."
          : "Award Created Successfully."
      );
    },
    async fetchTypes() {
      this.types = await new api.AwardTypesCall().get();
    },
  },
  mounted() {
    this.fetchTypes();
  },
};
</script>

<style scoped>
.v-input.required >>> .v-label::after {
  content: " *";
  color: red;
}
</style>
