<template>
  <div>
    <base-page>
      <template v-slot:toolbar-title>Awards</template>
      <template v-slot:header>
        <v-container class="text-center" fluid>
          <v-row style="align-items: center; justify-content: center">
            <template v-if="canCreateAward">
              <v-btn color="primary" @click="launchEditor"> New award </v-btn>
            </template>
            <v-spacer />
            <v-col cols="3">
              <v-text-field
                v-model="search"
                :append-icon="icon.search"
                label="Search"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </template>
      <template v-slot:body>
        <data-table
          :headers="headers"
          :loading="loading"
          :items="tableData"
          :search="search"
        >
          <template v-slot:[`item.actions`]="props">
            <div>
              <v-row no-gutters>
                <template v-if="props.item._permissions.includes('edit-award')">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                        @click="launchEditor(props.item.id)"
                        v-bind="attrs"
                        v-on="on"
                        >{{ icon.edit }}</v-icon
                      >
                    </template>
                    Edit award
                  </v-tooltip>
                </template>
                <template
                  v-if="props.item._permissions.includes('delete-award')"
                >
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                        @click="launchSoftDelete(props.item.id)"
                        v-bind="attrs"
                        v-on="on"
                        >{{ icon.delete }}</v-icon
                      >
                    </template>
                    Cancel Award
                  </v-tooltip>
                </template>
              </v-row>
            </div>
          </template>
        </data-table>
      </template>
    </base-page>
    <award-editor
      v-model="isEditorOpen"
      :item="selectedItem"
      @created="itemCreated"
      @updated="itemUpdated"
    />
    <soft-delete
      v-model="isSoftDeleteOpen"
      :item="selectedItem"
      @updated="itemDeleted"
    />
  </div>
</template>

<script>
import api from "@/api";
import { icon } from "@/utils/constants";
import AwardEditor from "./Editor.vue";
import SoftDelete from "./SoftDelete.vue";

export default {
  components: {
    "award-editor": AwardEditor,
    "soft-delete": SoftDelete,
  },
  data() {
    return {
      loading: false,
      items: [],
      search: "",
      selectedItem: null,
      isEditorOpen: false,
      isSoftDeleteOpen: false,
      canCreateAward: false,
    };
  },
  computed: {
    headers() {
      return [
        { text: "ID", value: "id", sortable: true },
        { text: "Type", value: "type", sortable: true },
        { text: "Year", value: "year", sortable: true },
        {
          text: "Nominations Open Date",
          value: "nominations_open_date",
          sortable: true,
        },
        {
          text: "Nominations Deadline",
          value: "nominations_deadline",
          sortable: true,
        },
        {
          text: "Awardee Publication Date",
          value: "awardee_publication_date",
          sortable: true,
        },
        { text: "Actions", value: "actions", sortable: true },
      ];
    },
    tableData() {
      return this.items;
    },
  },
  methods: {
    fetchData() {
      this.loading = true;
      new api.AwardsCall().get().then((data) => {
        this.items = data?.awards?.sort((a, b) =>
          a.nominations_open_date < b.nominations_open_date ? 1 : -1
        );
        this.canCreateAward = !!data?._collection_permissions?.includes(
          "create-award"
        );
        this.loading = false;
      });
    },
    launchEditor(id) {
      this.closeAllModals();
      if (id) {
        this.selectedItem = this.items.find((n) => n.id == id);
      } else {
        this.selectedItem = null;
      }
      this.isEditorOpen = true;
    },
    launchSoftDelete(id) {
      this.closeAllModals();
      let item = null;
      if (id) {
        item = this.items.find((n) => n.id == id);
      }
      this.selectedItem = item;
      this.isSoftDeleteOpen = true;
    },
    itemCreated(data) {
      this.items = [data, ...this.items];
    },
    itemUpdated(data) {
      const index = this.items.findIndex((n) => n.id === data.id);
      if (index >= 0) {
        this.$set(this.items, index, data);
      }
    },
    itemDeleted(itemId) {
      const index = this.items.findIndex((n) => n.id === itemId);
      if (index >= 0) {
        this.items.splice(index, 1);
      }
    },
    closeAllModals() {
      this.isSoftDeleteOpen = false;
      this.isEditorOpen = false;
    },
  },
  mounted() {
    this.fetchData();
  },
  created() {
    this.icon = icon;
  },
};
</script>
