<template>
  <v-dialog
    :value="value"
    @input="$emit('input', false)"
    max-width="600px"
    @keydown.esc="close"
  >
    <v-card>
      <v-card-title>
        Do you really wish to cancel award "{{ awardTitle }}"?
      </v-card-title>
      <v-card-text>
        Nominations already submitted for this award will be kept and they will
        remain visible to the respective nominators.
        <br />
        If you wish to re-activate a canceled award, please contact iCMS
        support.
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
        <v-btn color="blue darken-1" text @click="submit">Confirm</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import api from "@/api";
import { mapActions } from "vuex";

export default {
  props: {
    value: { type: Boolean, required: true, default: false },
    item: { type: Object, default: () => null },
  },
  data() {
    return {
      status: null,
    };
  },
  computed: {
    awardTitle() {
      return this.item?.title;
    },
  },
  methods: {
    ...mapActions("notification", ["infoMessage"]),
    close() {
      this.$emit("input", false);
    },
    async submit() {
      await new api.AwardsCall().setId(this.item.id).delete();
      this.$emit("updated", this.item.id);
      this.infoMessage("Award Canceled");
      this.close();
    },
  },
};
</script>
