<template>
  <div>
    <base-page
      :toolbar-actions="
        canEdit
          ? [
              {
                name: 'newEntry',
                icon: icon.add,
                tooltip: 'Define a new CMS position...',
              },
            ]
          : []
      "
      @newEntry="summonEditor(null)"
    >
      <template v-slot:toolbar-left></template>
      <template v-slot:toolbar-title>CMS Positions</template>
      <template v-slot:header>
        <v-text-field
          v-model="searchTerm"
          :append-icon="icon.search"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </template>
      <template v-slot:body>
        <v-data-table
          :search="searchTerm"
          :items="positions"
          :headers="headers"
          :footer-props="{ 'items-per-page-options': [-1] }"
        >
          <template v-if="canEdit" v-slot:[`item.actions`]="{ item }">
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn icon v-bind="attrs" v-on="on">
                  <v-icon @click="summonEditor(item.id)">{{
                    icon.edit
                  }}</v-icon>
                </v-btn>
              </template>
              <span>Edit this position...</span>
            </v-tooltip>
          </template>
        </v-data-table>
      </template>
      <template v-slot:actions></template>
    </base-page>
    <position-editor
      ref="editor"
      :item-id="editedId"
      v-model="editorDialog"
      @updated="afterPositionSaved"
    >
      <template v-slot:activator><p></p></template>
    </position-editor>
  </div>
</template>
<script>
import api from "@/api";
import { mapState } from "vuex";
import { icon } from "@/utils/constants";
import OrgPositionEditor from "./OrgPositionEditor";

export default {
  name: "OrgPositions",
  components: {
    "position-editor": OrgPositionEditor,
  },
  data() {
    return {
      searchTerm: null,
      positions: [],
      editedId: null,
      editorDialog: false,
    };
  },
  computed: {
    ...mapState("user", { user: "data" }),
    canEdit() {
      var flags = this.user.flags;
      return (
        flags != null && flags != "undefined" && flags.includes("ICMS_rootsecr")
      );
    },
    headers() {
      var headers = [
        { text: "Name", value: "name" },
        { text: "Unit type", value: "unit_type" },
        { text: "Position level", value: "level" },
        { text: "Is active", value: "is_active" },
      ];
      if (this.canEdit) {
        headers.push({ text: "Actions", value: "actions" });
      }
      return headers;
    },
  },
  methods: {
    loadUnitTypes() {
      new api.OrgUnitTypesCall().get().then(this.storeUnitTypes);
    },
    loadPositions() {
      new api.OrgChartPositionsCall().get().then(this.storePositions);
    },
    storeUnitTypes(data) {
      this.unitTypes = data;
    },
    storePositions(data) {
      this.positions = data;
    },
    summonEditor(positionId) {
      console.debug("About to launch editor for unit id: " + positionId);
      this.editedId = positionId;
      this.editorDialog = true;
    },
    afterPositionSaved(positionData) {
      var idx = this.positions.findIndex((e) => e.id == positionData.id);
      this.$set(
        this.positions,
        idx > -1 ? idx : this.positions.length,
        positionData
      );
    },
  },
  mounted() {
    this.loadPositions();
    this.loadUnitTypes();
  },
  created() {
    this.icon = icon;
  },
};
</script>
