<template>
  <edit-dialog
    v-model="state"
    ref="dialog"
    @reset="resetForm"
    @submit="submitData"
  >
    <template v-slot:activator="{ on }">
      <slot name="activator" :on="on"> </slot>
    </template>
    <template v-slot:header>{{
      editId == null ? "New Position" : "Edit Position"
    }}</template>
    <template v-slot:fields>
      <v-text-field v-model="editName" label="Position's name"></v-text-field>
      <v-autocomplete
        v-model="editUnitTypeId"
        :items="unitTypes"
        label="Unit type"
        item-value="id"
        item-text="name"
      ></v-autocomplete>
      <v-text-field
        v-model="editLevel"
        label="Position's level"
        class="mt-0"
        type="number"
      ></v-text-field>
      <v-checkbox v-model="editIsActive" label="Is active?"></v-checkbox>
    </template>
  </edit-dialog>
</template>

<script>
import api from "@/api";
import EditDialog from "@/components/common/inputs/EditDialog";

export default {
  name: "OrgPositionEditor",
  components: {
    "edit-dialog": EditDialog,
  },
  props: {
    value: { type: Boolean, default: false },
    itemId: { type: Number, default: null },
  },
  data() {
    return {
      editId: null,
      editName: null,
      editUnitTypeId: null,
      editLevel: null,
      editIsActive: null,
      //
      existingPosition: null,
      unitTypes: [],
    };
  },
  computed: {
    state: {
      get: function () {
        return this.value;
      },
      set: function (newValue) {
        this.$emit("input", newValue);
      },
    },
  },
  watch: {
    itemId(newVal) {
      if (newVal == null || newVal == undefined) {
        this.existingPosition = null;
        this.resetForm();
      } else {
        this.loadPosition(newVal);
      }
    },
  },
  methods: {
    async loadUnitTypes() {
      this.unitTypes = await new api.OrgUnitTypesCall().get();
    },
    async loadPosition(id) {
      let positionData = await new api.OrgChartPositionsCall().setId(id).get();
      this.storePosition(positionData);
    },
    storePosition(data) {
      this.existingPosition = data[0];
      this.resetForm();
    },
    resetForm() {
      if (this.existingPosition == null || this.existingPosition == undefined) {
        this.editId = null;
        this.editName = null;
        this.editUnitTypeId = null;
        this.editLevel = null;
        this.editIsActive = null;
      } else {
        this.editId = this.existingPosition.id;
        this.editName = this.existingPosition.name;
        this.editUnitTypeId = this.existingPosition.unit_type_id;
        this.editLevel = this.existingPosition.level;
        this.editIsActive = this.existingPosition.is_active;
      }
    },
    submitData() {
      new api.OrgChartPositionsCall()
        .setId(this.editId)
        .setName(this.editName)
        .setUnitTypeId(this.editUnitTypeId)
        .setLevel(this.editLevel)
        .setIsActive(this.editIsActive)
        .post()
        .then(this.afterSubmitted);
    },
    afterSubmitted(data) {
      this.$store.dispatch(
        "notification/infoMessage",
        data["name"] +
          " of " +
          data["unit_type"] +
          " position saved successfully!"
      );
      this.$emit("updated", data);
      this.state = false;
    },
  },
  mounted() {
    this.loadUnitTypes();
  },
};
</script>
