<template>
  <div>
    <base-page>
      <template v-slot:toolbar-title>CMS Awardees</template>
      <template v-slot:header>
        <v-container class="text-center" fluid>
          <v-row>
            <v-col cols="3">
              <v-select
                v-model="selectedAwardId"
                label="Select Award"
                :items="awardOptions"
                :loading="loadingAwards"
                @change="fetchAwardees"
              />
            </v-col>
            <v-spacer />
            <v-col cols="3">
              <v-text-field
                v-model="search"
                :append-icon="icon.search"
                label="Search"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </template>
      <template v-slot:body>
        <data-table
          :headers="headers"
          :loading="loadingAwardees"
          :items="tableData"
          :search="search"
        >
          <template v-slot:[`item.awardees`]="props">
            v-for="awardee in props.item.awardees"
            <div
              v-for="awardee in props.items"
              :key="awardee.cms_id"
            >
              {{ awardee.award_id }}
            </div>
          </template>
        </data-table>
      </template>
    </base-page>
  </div>
</template>

<script>
import api from "@/api";
import { icon } from "@/utils/constants";

export default {
  data() {
    return {
      loadingAwardees: false,
      items: [],
      search: "",
      awards: [],
      loadingAwards: false,
      selectedAwardId: null,
    };
  },
  computed: {
    headers() {
        return [
          { text: "Award Title", value: "award_title", sortable: true },
          { text: "Project", value: "project", sortable: true },
          { text: "Awardee", value: "awardee_name", sortable: true },
          { text: "Institute", value: "institute", sortable: true },
          { text: "Year", value: "award_year", sortable: true },
          { text: "Citation", value: "citation", sortable: true },
        ];
      },
    tableData() {
      return this.items.map((item) => {
        return {
          ...item,
          awardee_name:
            `${item.first_name} ${item.last_name}`
          };
      });
     },
     awardOptions() {
      return this.awards.map((award) => ({
        value: award.id,
        text: award.title,
      }));
    },
  },
  methods: {
    // fetchAwardees() {
    //   this.loadingAwardees = true;
    //   new api.AwardeesCall().get().then((data) => {
    //     this.items = data;
    //     this.loadingAwardees = false;
    //   });
    // },
    fetchAwards() {
      this.loadingAwards = true;
      new api.AwardsCall().get().then((data) => {
        this.awards = data?.awards?.sort((a, b) =>
          a.nominations_deadline > b.nominations_deadline ? -1 : 1
        );
        this.loadingAwards = false;
      });
    },
    async fetchAwardees() {
      this.loadingAwardees = true;
      // fetch nominations for review after an award is specified
      // this.selectedAwardId
      if (this.selectedAwardId !== null) {
        this.items = await new api.AwardeesCall()
          .setAwardId( this.selectedAwardId )
          .get()
      } else {
        this.items = await new api.AwardeesCall()
          .get()
      }
      this.loadingAwardees = false;
    },
  },

  mounted() {
    this.fetchAwards();
    this.fetchAwardees();
  },
  created() {
    this.icon = icon;
  },
};
</script>
