<template>
  <v-dialog v-model="value" maxWidth="340px" class="zindex-modal">
    <v-card>
      <v-card-title class="headline">{{
        booking ? booking.title : ""
      }}</v-card-title>
      <v-card-text>
        <div class="mb-2">
          You are about to
          <b>{{ action === "approve" ? "approve" : "remove" }}</b> the booking
          set at ({{ startTime }} - {{ endTime }}).
        </div>
        <div>Are you sure you want to continue ?</div>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn color="green darken-1" text @click="close"> Close </v-btn>

        <v-btn color="green darken-1" text @click="submit"> Continue </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import moment from "moment";
import api from "@/api";

export default {
  name: "BookingFormDialog",
  props: {
    value: { type: Boolean, required: true, default: false },
    booking: { default: null },
    action: { default: null },
  },
  computed: {
    startTime() {
      return this.booking
        ? moment(this.booking.time_start).format("HH:mm")
        : null;
    },
    endTime() {
      return this.booking
        ? moment(this.booking.time_start)
            .add(this.booking.duration, "minutes")
            .format("HH:mm")
        : null;
    },
  },
  methods: {
    close() {
      this.$emit("input", false);
    },
    async submit() {
      const res = await new api.BookingStatusesCall()
        .setId(this.booking.id)
        .setStatus(this.action === "approve" ? "done" : "deleted")
        .put();

      this.$store.dispatch(
        "notification/infoMessage",
        `Booking ${res.status === "done" ? "Approved" : "Removed"}!`
      );
      this.$emit("bookingstatuschange", res.status);
      this.close();
    },
  },
};
</script>
