<template>
  <v-dialog
    :value="value"
    @input="$emit('input', $value)"
    maxWidth="600px"
    class="zindex-modal"
  >
    <v-card>
      <v-card-title class="headline">{{
        isEdit ? "Edit Booking" : "Create Booking"
      }}</v-card-title>
      <v-card-text>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-container>
            <v-row no-gutters>
              <v-col class="mr-2">
                <v-text-field
                  label="Title"
                  v-model="formState.title"
                  :rules="titleRules"
                />
              </v-col>
              <v-col :cols="3">
                <v-select
                  label="Room"
                  v-model="formState.room_id"
                  :items="availableRooms"
                />
              </v-col>
            </v-row>
            <v-row no-gutters>
              <v-col :cols="6" class="mr-2">
                <v-select
                  label="Date"
                  v-model="formState.date"
                  :items="dayOptions"
                />
              </v-col>
              <v-col class="mr-2">
                <time-input
                  label="Starts At"
                  v-model="formState.timeStart"
                  :rules="timeStartRules"
                />
              </v-col>
              <v-col>
                <time-input
                  label="Ends At"
                  v-model="formState.timeEnd"
                  :rules="timeEndRules"
                />
              </v-col>
            </v-row>
            <v-row no-gutters>
              <v-col class="mr-2">
                <v-checkbox label="Official" v-model="formState.official" />
              </v-col>
              <v-col class="mr-2">
                <v-checkbox label="Webcast" v-model="formState.webcast" />
              </v-col>
              <v-col class="mr-2">
                <v-text-field
                  prepend-icon="mdi-account-multiple"
                  label="Capacity"
                  v-model="formState.capacity"
                  :rules="capacityRules"
                />
              </v-col>
              <v-col>
                <v-text-field
                  prepend-icon="mdi-key"
                  label="Password"
                  v-model="formState.password"
                />
              </v-col>
            </v-row>
            <v-select
              label="Project"
              v-model="formState.project"
              :items="projectOptions"
              :rules="projectRules"
            />
            <v-textarea label="Reason" rows="2" v-model="formState.reason" />
            <v-textarea label="Remarks" rows="2" v-model="formState.remarks" />
            <v-text-field label="Agenda Url" v-model="formState.agendaUrl" />
            <person-picker
              label="Make the booking on behalf of another person"
              clearable
              placeholder
              v-model="formState.cmsIdFor"
            ></person-picker>
            <div v-if="isEdit === false">
              <h3>Meeting conveners</h3>
              <div>
                <v-row no-gutters>
                  <v-col class="mr-2">
                    <person-picker
                      label="Specify a meeting convener"
                      clearable
                      placeholder
                      v-model="formState.tempConvenerCmsId"
                    ></person-picker>
                  </v-col>
                  <v-col :cols="3">
                    <v-btn color="primary" large @click="addConvener">
                      Add convener
                    </v-btn>
                  </v-col>
                </v-row>
                <div v-if="formState.conveners.length > 0">
                  <ul>
                    <li
                      v-for="convener in formState.conveners"
                      :key="convener.cmsId"
                    >
                      <v-btn
                        color="red"
                        x-small
                        @click="removeConvener(convener)"
                      >
                        x
                      </v-btn>
                      {{ convener.convener_first_name }}
                      {{ convener.convener_last_name }}
                      ({{ convener.convener_cms_id }})
                    </li>
                  </ul>
                </div>
                <div v-else>No conveners selected.</div>
              </div>
            </div>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn color="green darken-1" text @click="close"> Close </v-btn>

        <v-btn color="green darken-1" text @click="submit"> Submit </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style scoped>
.li {
  font-size: 18px;
}
</style>

<script>
import moment from "moment";
import api from "@/api";
import { fieldRequiredRule } from "@/utils/validation";

import TimeInput from "@/components/common/inputs/TimeInput";
import PersonPicker from "@/components/common/inputs/PersonPicker";
import { mapGetters } from "vuex";

export default {
  name: "BookingFormDialog",
  components: {
    "time-input": TimeInput,
    "person-picker": PersonPicker,
  },
  props: {
    value: { type: Boolean, required: true, default: false },
    booking: { default: null },
    weekId: { default: null },
    roomId: { default: null },
    date: { default: null },
    rooms: { type: Array, default: () => [] },
    days: { type: Array, default: () => [] },
    reservedRooms: { default: null },
  },
  data() {
    return {
      formState: this.getInitialFormState(),

      valid: true,
      titleRules: [fieldRequiredRule("Title")],
      projectRules: [fieldRequiredRule("Project")],
      timeStartRules: [fieldRequiredRule("Starts At"), this.timeIsAfterRule],
      timeEndRules: [fieldRequiredRule("Ends At"), this.timeIsAfterRule],
      capacityRules: [fieldRequiredRule("Capacity"), this.capacityIsInteger],

      projects: [],
    };
  },
  watch: {
    booking() {
      this.initialize();
    },
    roomId() {
      this.initialize();
    },
    date() {
      this.initialize();
    },
  },
  computed: {
    ...mapGetters("user", ["userId"]),
    isEdit() {
      return !!this.booking;
    },
    dayOptions() {
      return this.days.map((day) => ({
        value: day,
        text: moment(day).format("ddd DD MMMM YYYY"),
      }));
    },
    projectOptions() {
      return this.projects.map(({ code, name }) => ({
        value: code,
        text: name,
      }));
    },
    availableRooms() {
      return this.rooms.filter(({ value }) => this.reservedRooms.has(value));
    },
  },
  methods: {
    initialize() {
      if (this.$refs.form) this.$refs.form.reset();
      this.$nextTick(() => {
        this.formState = this.booking
          ? this.getFormStateFromBooking(this.booking)
          : this.getInitialFormState();
      });
    },
    getInitialFormState() {
      const { roomId, date } = this.$props;

      return {
        room_id: roomId,
        date: date,

        cmsIdFor: null,
        title: null,
        timeStart: null,
        timeEnd: null,
        project: null,
        password: null,
        capacity: "0",
        agendaUrl: null,
        remarks: null,
        reason: null,
        webcast: false,
        official: true,
        conveners: [],
        tempConvenerCmsId: null,
      };
    },
    getFormStateFromBooking(booking) {
      const timeStart = moment(booking.time_start);
      return {
        room_id: booking.room_id,
        date: timeStart.format("YYYY-MM-DD"),

        cmsIdFor: booking.cms_id_for,
        title: booking.title,
        timeStart: timeStart.format("HH:mm"),
        timeEnd: timeStart.add(booking.duration, "minutes").format("HH:mm"),
        project: booking.project,
        password: booking.password,
        capacity: booking.capacity,
        agendaUrl: booking.agenda_url,
        remarks: booking.remarks,
        reason: booking.reason,
        webcast: booking.webcast,
        official: booking.official,
        conveners: booking.conveners,
        tempConvenerCmsId: null,
      };
    },
    getBookingFieldsFromFormState() {
      const { date, timeStart, timeEnd } = this.formState;
      const startDate = moment(`${date} ${timeStart}`);
      const dateEnd = moment(`${date} ${timeEnd}`);
      const duration = moment.duration(dateEnd.diff(startDate)).asMinutes();
      return {
        ...this.formState,
        duration,
        timeStart: startDate.format("YYYY-MM-DDTHH:mm:ss"),
      };
    },
    timeIsAfterRule() {
      const { timeStart, timeEnd } = this.formState;
      if (timeStart && timeEnd && timeEnd <= timeStart)
        return "The starting time must be before the ending time.";
      return true;
    },
    capacityIsInteger() {
      const { capacity } = this.formState;
      if (capacity % 1 == 0) return true;
      return "The capacity has to be an integer.";
    },
    close() {
      this.$emit("input", false);
    },
    async addConvener() {
      const cmsId = this.formState.tempConvenerCmsId;
      if (cmsId) {
        const userData = await new api.UserInfoCall().setCmsId(cmsId).get();
        let { cms_id, first_name, last_name } = userData;
        this.formState.conveners.push({
          convener_cms_id: cms_id,
          convener_first_name: first_name,
          convener_last_name: last_name,
        });
      }
    },
    removeConvener(convener) {
      let cmsIdToRemove = convener.convener_cms_id;
      this.formState.conveners = this.formState.conveners.filter(
        (form_convener) => form_convener.convener_cms_id != cmsIdToRemove
      );
    },
    async submit() {
      if (!this.$refs.form.validate()) return;

      const {
        room_id,
        cmsIdFor,
        title,
        project,
        webcast,
        official,
        timeStart,
        duration,
        capacity,
        password,
        agendaUrl,
        remarks,
        reason,
        conveners,
      } = this.getBookingFieldsFromFormState();

      const call = new api.BookingRequestsCall()
        .setWeekId(this.weekId)
        .setCmsRoomId(room_id)
        .setPreferredRoomId(room_id)
        .setCmsIdFor(cmsIdFor || this.userId)
        .setTitle(title)
        .setProject(project)
        .setStatus("pending")
        .setWebcast(webcast)
        .setOfficial(official)
        .setTimeStart(timeStart)
        .setDuration(duration)
        .setCapacity(parseInt(capacity))
        .setPassword(password || "")
        .setAgendaUrl(agendaUrl || "")
        .setRemarks(remarks || "")
        .setReason(reason || "")
        .setConveners(
          conveners.map(({ convener_cms_id }) => ({ convener_cms_id }))
        );
      let data;
      if (this.isEdit) data = await call.setId(this.booking.id).put();
      else data = await call.post();

      this.$store.dispatch(
        "notification/infoMessage",
        `Booking ${this.isEdit ? "Updated" : "Created"}!`
      );
      this.$emit(this.isEdit ? "bookingupdated" : "bookingcreated", data);
      this.close();
    },
    async loadProjects() {
      this.projects = await new api.BookingProjectsCall().get();
    },
  },
  mounted() {
    this.loadProjects();
  },
};
</script>
