<template>
  <div>
    <base-page>
      <template v-slot:toolbar-title>CMS Week Bookings</template>
      <template v-slot:header>
        <v-select
          v-model="selectedWeekId"
          :items="cmsWeekOptions"
          label="CMS Week"
        />
      </template>
      <template v-slot:body>
        <scheduler
          v-if="selectedWeekId"
          :bookings="bookings"
          :rooms="filteredRooms"
          :days="days"
          :types="[
            { name: 'indico', color: '#3096F3' },
            { name: 'pending', color: '#F19733' },
            { name: 'done', color: '#55BDD5' },
          ]"
          :showRoomsWithNoBookings="false"
          :showGridLines="false"
          dayStartTime="08:00"
          dayEndTime="21:00"
          @bookingadd="openBookingCreationForm"
          @bookingselect="handleBookingSelect"
        />
      </template>
    </base-page>
    <booking-info-dialog
      v-if="selectedRequest"
      v-model="showInfo"
      :booking="selectedRequest"
      @selectaction="handleBookingAction"
    />
    <booking-form-dialog
      v-model="showBookingForm"
      :booking="selectedRequest"
      :weekId="selectedWeekId"
      :roomId="selectedRoomId"
      :rooms="filteredRooms"
      :date="selectedDay"
      :days="days"
      :reservedRooms="reservedRooms"
      @bookingcreated="handleBookingCreation"
      @bookingupdated="handleBookingUpdate"
    />
    <booking-action-dialog
      v-model="showBookingActionModal"
      :booking="selectedRequest"
      :action="selectedAction"
      @bookingstatuschange="handleBookingStatusChange"
    />
  </div>
</template>

<script>
import moment from "moment";
import api from "@/api";
import { sortAlphabeticallyBy } from "@/utils/helpers";

import Scheduler from "@/components/common/scheduler";
import BookingInfoDialog from "./BookingInfoDialog";
import BookingFormDialog from "./BookingFormDialog";
import BookingActionDialog from "./BookingActionDialog";

export default {
  name: "Bookings",
  components: {
    scheduler: Scheduler,
    "booking-info-dialog": BookingInfoDialog,
    "booking-form-dialog": BookingFormDialog,
    "booking-action-dialog": BookingActionDialog,
  },
  data() {
    return {
      selectedWeekId: null,
      cmsWeeks: [],
      rooms: [],
      slots: [],
      requests: [],
      reservedRooms: new Map(),

      selectedRequest: null,
      showInfo: false,

      showBookingForm: false,
      selectedRoomId: null,
      selectedDay: null,

      showBookingActionModal: false,
      selectedAction: null,
    };
  },
  computed: {
    cmsWeekOptions() {
      const sortedWeeks = sortAlphabeticallyBy(
        this.cmsWeeks,
        (week) => week.date
      ).reverse();
      return sortedWeeks.map(({ id, title, date, date_end }) => ({
        value: id,
        text: `${title} (${date} - ${date_end})`,
      }));
    },
    filteredRooms() {
      const week = this.cmsWeeks.find((w) => w.id === this.selectedWeekId);

      const filteredRooms = week
        ? this.rooms.filter((room) => !week.is_external === room.at_cern)
        : this.rooms;

      const sortedRooms = filteredRooms.sort((a, b) => {
        const aBuilding = parseInt(a.building);
        const bBuilding = parseInt(b.building);
        if (aBuilding < bBuilding) return -1;
        if (aBuilding > bBuilding) return 1;
        return 0;
      });

      return sortedRooms.map((room) => ({
        value: room.id,
        text: room.at_cern
          ? `${room.building}-${room.floor}-${room.room_nr}`
          : room.custom_name,
      }));
    },
    days() {
      const week = this.cmsWeeks.find((w) => w.id === this.selectedWeekId);
      if (!week) return [];

      let days = [];
      const endDate = moment(week.date_end);
      const currentDay = moment(week.date);
      do {
        days.push(currentDay.format("YYYY-MM-DD"));
        currentDay.add(1, "day");
      } while (currentDay.isSameOrBefore(endDate));
      return days;
    },
    bookings() {
      const activeRequests = this.requests.filter(
        (r) => r.status !== "deleted"
      );
      return [
        ...this.slots.map((slot) => ({
          room: slot.roomId,
          from: moment(slot.startTime).format("YYYY-MM-DD HH:mm:ss"),
          to: moment(slot.endTime).format("YYYY-MM-DD HH:mm:ss"),
          title: "Reserved by CMS secretariat",
          type: "indico",
          clickable: false,
        })),
        ...activeRequests.map((request) => ({
          id: request.id,
          room: request.room_id,
          from: moment(request.time_start).format("YYYY-MM-DD HH:mm:ss"),
          to: moment(request.time_start)
            .add(request.duration, "minutes")
            .format("YYYY-MM-DD HH:mm:ss"),
          title: request.title,
          type: request.status,
          clickable: true,
        })),
      ];
    },
  },
  watch: {
    days() {
      if (!this.selectedWeekId) return [];

      const week = this.cmsWeeks.find((w) => w.id === this.selectedWeekId);

      const days = [];
      const currentDay = moment(week.date_start);
      const endDay = moment(week.date_end);
      do {
        days.push(currentDay.format("YYYY-MM-DD"));
        currentDay.add(1, "day");
      } while (endDay.isSameOrAfter(currentDay));
      return days;
    },
    cmsWeekOptions(value) {
      if (!this.selectedWeekId && value.length > 0) {
        this.selectedWeekId = value[0].value;
      }
    },
    selectedWeekId(value) {
      this.loadRooms(value);
      this.loadBookings(value);
    },
  },
  methods: {
    async loadCmsWeeks() {
      this.cmsWeeks = await new api.BookingWeeksCall().get();
    },
    async loadRooms(cmsWeekId) {
      this.rooms = await new api.BookingRoomsCall().setWeekId(cmsWeekId).get();
    },
    loadBookings(cmsWeekId) {
      new api.BookingSlotsCall()
        .setWeekId(cmsWeekId)
        .get()
        .then((data) => {
          this.slots = data;
          this.reservedRooms.clear();
          this.slots.forEach((slot) => {
            const slotObj = {
              startTime: slot.startTime,
              endTime: slot.endTime,
            };
            if (!this.reservedRooms.has(slot.roomId)) {
              this.reservedRooms.set(slot.roomId, [slotObj]);
            } else {
              this.reservedRooms.get(slot.roomId).push(slotObj);
            }
          });
        });

      new api.BookingRequestsCall()
        .setWeekId(cmsWeekId)
        .get()
        .then((data) => {
          this.requests = data;
        });
    },

    handleBookingSelect({ booking }) {
      this.selectedRequest = this.requests.find((req) => req.id === booking.id);

      this.showInfo = true;
    },

    handleEditBooking() {
      this.showBookingForm = true;
    },

    handleBookingAction(action) {
      if (action == "edit") {
        this.showBookingForm = true;
      } else {
        this.showBookingActionModal = true;
        this.selectedAction = action;
      }
    },

    openBookingCreationForm({ room, day }) {
      this.selectedRoomId = room;
      this.selectedDay = day;
      this.selectedRequest = null;
      this.showBookingForm = true;
    },

    handleBookingCreation(request) {
      new api.BookingRequestsCall()
        .setId(request.id)
        .get()
        .then((data) => {
          this.requests.push(data);
        });
    },

    handleBookingUpdate(updatedRequest) {
      new api.BookingRequestsCall()
        .setId(updatedRequest.id)
        .get()
        .then((data) => {
          this.requests = this.requests.map((request) =>
            request.id === updatedRequest.id ? data : request
          );
        });
    },

    handleBookingStatusChange(newStatus) {
      this.selectedRequest.status = newStatus;
    },
  },
  mounted() {
    const { weekId } = this.$route.params;
    if (weekId) this.selectedWeekId = parseInt(weekId);
    this.loadCmsWeeks();
  },
};
</script>
