<template>
  <div>
    <base-page
      :toolbar-actions="
        canEdit
          ? [
              {
                name: 'newEntry',
                tooltip: 'Add new entry...',
                icon: icon.add_circle,
              },
            ]
          : []
      "
      @newEntry="launchEditor"
    >
      <template v-slot:toolbar-title>CMS Tenures</template>

      <template v-slot:header>
        <tenures-filter ref="filter" @change="onFilterChange"></tenures-filter>
      </template>
      <template v-slot:body>
        <data-table
          :headers="headers"
          :items="filteredTenures"
          :search="search"
          :footer-props="{
            'items-per-page-options': [25, 50, 200, { text: 'All', value: -1 }],
          }"
        >
          <template v-slot:[`item.actions`]="props">
            <div v-if="canEdit && props.item.ex_officio_rule_id === null">
              <v-row no-gutters>
                <v-col cols="4">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                        @click.stop="launchEditor(props.item.id)"
                        v-bind="attrs"
                        v-on="on"
                        >{{ icon.edit }}</v-icon
                      >
                    </template>
                    <span>Edit this tenure</span>
                  </v-tooltip>
                </v-col>
                <v-col cols="4">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                        @click.stop="deleteTenureId = props.item.id"
                        v-bind="attrs"
                        v-on="on"
                        >{{ icon.delete }}</v-icon
                      >
                    </template>
                    <span>Delete this tenure</span>
                  </v-tooltip>
                </v-col>
              </v-row>
            </div>
            <div v-else>ex-officio</div>
          </template>
        </data-table>
      </template>
    </base-page>

    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">{{ editorTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <person-picker
                  ref="personPicker"
                  label="CMS Member"
                  v-model="editPerson"
                  required
                ></person-picker>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-autocomplete
                  :items="unitOpts"
                  :item-text="'label'"
                  :item-value="'id'"
                  label="Unit"
                  v-model="editUnit"
                  required
                ></v-autocomplete>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-autocomplete
                  :items="positionOpts"
                  :item-text="'label'"
                  :item-value="'id'"
                  label="Position"
                  v-model="editPosition"
                  required
                ></v-autocomplete>
              </v-col>
              <v-dialog
                ref="dialogStartDate"
                v-model="modalStartDate"
                :return-value.sync="editStartDate"
                persistent
                full-width
                width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="editStartDate"
                    label="Start Date"
                    :prepend-icon="icon.calendar"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="editStartDate" scrollable>
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="modalStartDate = false"
                    >Cancel</v-btn
                  >
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.dialogStartDate.save(editStartDate)"
                    >OK</v-btn
                  >
                </v-date-picker>
              </v-dialog>
              <v-dialog
                ref="dialogEndDate"
                v-model="modalEndDate"
                :return-value.sync="editEndDate"
                persistent
                full-width
                width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="editEndDate"
                    label="End Date"
                    :prepend-icon="icon.event"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="editEndDate" scrollable>
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="modalEndDate = false"
                    >Cancel</v-btn
                  >
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.dialogEndDate.save(editEndDate)"
                    >OK</v-btn
                  >
                </v-date-picker>
              </v-dialog>
              <v-col cols="12" sm="6" md="6"> </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false"
            >Close</v-btn
          >
          <v-btn color="blue darken-1" text @click="postTenure">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <confirm-dialog
      v-model="confirmDeletionDialog"
      @confirmed="deleteAfterAsking"
      @cancelled="deleteTenureId = null"
      max-width="600px"
    >
      <template v-slot:title>
        Are you sure you want to delete the tenure?
      </template>
      <template v-slot:message v-if="tenureToDelete">
        {{ tenureToDelete.first_name }} {{ tenureToDelete.last_name }} as
        {{ tenureToDelete.position }} of {{ tenureToDelete.domain }}
        {{ tenureToDelete.unit_type }}, starting on
        {{ tenureToDelete.start_date }}.
      </template>
    </confirm-dialog>
  </div>
</template>

<script>
import api from "@/api";
import { mapState } from "vuex";
import { icon } from "@/utils/constants";
import PersonPicker from "@/components/common/inputs/PersonPicker";
import TenuresFilter from "./TenuresFilter.vue";
import ConfirmDialog from "@/components/common/ConfirmDialog.vue";

export default {
  name: "Tenures",
  components: {
    "person-picker": PersonPicker,
    "tenures-filter": TenuresFilter,
    ConfirmDialog,
  },
  data() {
    return {
      tenures: [],
      search: "",
      dialog: false,
      confirmDeletionDialog: false,
      modalStartDate: false,
      modalEndDate: false,
      editorTitle: "New Tenure",
      showAsOfDate: new Date().toISOString().substring(0, 10),
      showExOfficio: true,
      modalAsOfDate: null,

      unitOpts: [],
      positionOpts: [],

      editTenureId: null,
      editPerson: null,
      editUnit: null,
      editPosition: null,
      editStartDate: null,
      editEndDate: null,

      deleteTenureId: null,
    };
  },
  async mounted() {
    this.refetchTenures();

    const data = await new api.OrgUnitsCall().get();

    this.unitOpts = [];
    for (var i in data) {
      var e = data[i];
      this.unitOpts.push({
        id: e["id"],
        label: e["domain"] + " " + e["type"],
      });
    }
  },
  watch: {
    editUnit(value) {
      console.debug("Now selected unitvalue is: " + value);
      this.fetchCompatiblePositions();
    },
    showAsOfDate(value) {
      console.debug("Changed the date as of to: " + value);
      this.refetchTenures();
    },
    deleteTenureId(value) {
      this.confirmDeletionDialog = value != null && value > 0;
    },
  },
  methods: {
    onFilterChange(data) {
      console.debug(data);
      this.showAsOfDate = data.date;
      this.showExOfficio = data.exOfficio;
      this.search = data.search;
    },
    async refetchTenures() {
      this.tenures = await api.getTenures({
        as_of: this.dateAsOf,
      });
    },
    launchEditor(id) {
      this.dialog = true;
      this.$nextTick(() => {
        if (!isNaN(id) && id > 0) {
          this.editTenureId = id;
          for (var idx in this.tenures) {
            // CRITICAL: make sure this is a primordial tenure (as opposed to derived through ex-officio rule), otherwise some garbage info might show up in the editor
            if (
              this.tenures[idx].id == id &&
              this.tenures[idx]["ex_officio_rule_id"] === null
            ) {
              var tenure = this.tenures[idx];
              console.debug("We found our tenure for id: " + id);
              this.editPerson = tenure["cms_id"];
              this.editUnit = tenure["unit_id"];
              this.editPosition = tenure["position_id"];
              this.editStartDate = tenure["start_date"];
              this.editEndDate = tenure["end_date"];
              this.editorTitle = "Edit Tenure #" + id;
              break;
            }
          }
        } else {
          this.editTenureId = null;
          this.editorTitle = "New Tenure";
          this.editPosition = null;
          this.editUnit = null;
          this.editEndDate = null;
          this.editStartDate = null;
          this.editPerson = null;
        }
      });
    },
    async fetchCompatiblePositions() {
      if (this.editUnit != null) {
        const data = await new api.OrgChartPositionsCall()
          .setUnitId(this.editUnit)
          .get();
        this.positionOpts = [];
        for (var i in data) {
          var e = data[i];
          this.positionOpts.push({
            id: e["id"],
            label: e["name"] + " of " + e["unit_type"],
          });
        }
      }
    },
    async postTenure() {
      // submits tenure data from the editor
      const data = await api.postTenure({
        id: this.editTenureId || undefined,
        cms_id: this.editPerson,
        unit_id: this.editUnit,
        position_id: this.editPosition,
        start_date: this.editStartDate,
        end_date: this.editEndDate || undefined,
      });
      this.dialog = data?.id == null;
      // because the API by convention will return the new (OR EDITED) object as if it was queried for
      // Brutal as it is, we'll reload the whole data upon every DB write because of the ex-officio tenures that might need update too.
      this.refetchTenures();

      this.$store.dispatch(
        "notification/infoMessage",
        "Tenure information saved successfully!"
      );
    },
    async deleteAfterAsking() {
      console.debug("So what do we delete actually?");
      await api.deleteTenure(this.deleteTenureId);
      this.tenures = this.tenures.filter((t) => t.id != this.deleteTenureId);
      this.deleteTenureId = null;
      this.$store.dispatch(
        "notification/infoMessage",
        "Tenure removed successfully."
      );
    },
  },
  computed: {
    ...mapState("user", {
      userInfo: "data",
    }),
    filteredTenures() {
      return this.tenures
        .filter(
          (t) =>
            this.showExOfficio ||
            [null, undefined].indexOf(t["ex_officio_rule_id"]) > -1
        )
        .map((t) => ({
          cms_id: t.cms_id,
          first_name: t.first_name,
          last_name: t.last_name,
          inst_code: t.inst_code,
          position: t.position,
          domain: t.domain,
          unit: t.domain + " " + t.unit_type,
          start_date: t.start_date,
          end_date: t.end_date,
          id:
            [null, undefined].indexOf(t["ex_officio_rule_id"]) > -1
              ? t.id
              : null,
          ex_officio_rule_id: t["ex_officio_rule_id"],
        }));
    },
    tenureToDelete() {
      if (this.deleteTenureId > 0) {
        return this.tenures.find((e) => e.id == this.deleteTenureId);
      }
      return null;
    },
    canEdit() {
      return (
        this.userInfo != null &&
        this.userInfo.flags != null &&
        (this.userInfo.flags.includes("ICMS_admin") ||
          this.userInfo.flags.includes("ICMS_rootsecr"))
      );
    },
    dateAsOf() {
      return this.showAsOfDate;
    },
    headers() {
      var headers = [
        { text: "CMS ID", value: "cms_id", sortable: true },
        { text: "First name", value: "first_name", sortable: true },
        { text: "Last name", value: "last_name", sortable: true },
        { text: "Inst code", value: "inst_code", sortable: true },
        { text: "Position", value: "position", sortable: true },
        { text: "Unit", value: "unit", sortable: true },
        { text: "Start date", value: "start_date", sortable: true },
        { text: "End date", value: "end_date", sortable: true },
      ];
      if (this.canEdit) {
        headers.push({ text: "Actions", value: "actions" });
      }
      return headers;
    },
  },
  created() {
    this.icon = icon;
  },
};
</script>
