<template>
  <v-dialog :value="value" maxWidth="800px" class="zindex-modal">
    <v-card tile>
      <v-toolbar flat dark color="primary">
        <v-toolbar-title>{{ id }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon dark @click="$emit('input', false)">
          <v-icon>close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card v-if="email">
        <v-container>
          <v-row>
            <v-col cols="3" class="text--secondary">Id</v-col>
            <v-col cols="9">
              {{ email.id || "---" }}
            </v-col>
          </v-row>
          <v-divider />
          <v-row>
            <v-col cols="3" class="text--secondary">Sender</v-col>
            <v-col cols="9">
              {{ email.sender || "---" }}
            </v-col>
          </v-row>
          <v-divider />
          <v-row>
            <v-col cols="3" class="text--secondary">Reply to</v-col>
            <v-col cols="9">
              {{ email.reply_to || "---" }}
            </v-col>
          </v-row>
          <v-divider />
          <v-row>
            <v-col cols="3" class="text--secondary">To</v-col>
            <v-col cols="9" style="word-wrap: break-word">
              {{ email.to || "---" }}
            </v-col>
          </v-row>
          <v-divider />
          <v-row>
            <v-col cols="3" class="text--secondary">Cc</v-col>
            <v-col cols="9">
              {{ email.cc || "---" }}
            </v-col>
          </v-row>
          <v-divider />
          <v-row>
            <v-col cols="3" class="text--secondary">Bcc</v-col>
            <v-col cols="9">
              {{ email.bcc || "---" }}
            </v-col>
          </v-row>
          <v-divider />
          <v-row>
            <v-col cols="3" class="text--secondary">Subject</v-col>
            <v-col cols="9">
              {{ email.subject || "---" }}
            </v-col>
          </v-row>
          <v-divider />
          <v-row>
            <v-col cols="3" class="text--secondary">Body</v-col>
            <v-col cols="9">
              <text-box :body="email.body" />
            </v-col>
          </v-row>
          <v-divider />
          <v-row>
            <v-col cols="3" class="text--secondary">Hash</v-col>
            <v-col cols="9">
              {{ email.hash || "---" }}
            </v-col>
          </v-row>
          <v-divider />
          <v-row>
            <v-col cols="3" class="text--secondary">Source Application</v-col>
            <v-col cols="9">
              {{ email.source_application || "---" }}
            </v-col>
          </v-row>
          <v-divider />
          <v-row>
            <v-col cols="3" class="text--secondary">Remarks</v-col>
            <v-col cols="9">
              {{ email.remarks || "---" }}
            </v-col>
          </v-row>
          <v-divider />
          <v-row>
            <v-col cols="3" class="text--secondary">Last Modified</v-col>
            <v-col cols="9">
              {{ email.last_modified || "---" }}
            </v-col>
          </v-row>
          <v-divider />
          <v-divider class="mb-0" />
          <v-data-table
            :headers="logHeaders"
            :items="email.logs"
            :hide-default-footer="true"
          />
        </v-container>
      </v-card>
    </v-card>
  </v-dialog>
</template>

<style scoped>
.zindex-modal {
  z-index: 1050;
}

.email-body-area > .v-input {
  font-family: monospace;
}
.email-body-area > .v-input > .v-input__control {
  margin-bottom: 0 !important;
}
</style>

<script>
import api from "@/api";
import TextBox from "@/components/common/TextBox";

export default {
  props: ["value", "id"],
  components: {
    "text-box": TextBox,
  },
  data: function () {
    return {
      email: null,
    };
  },
  watch: {
    id(value) {
      this.loadEmailDetails(value);
    },
  },
  computed: {
    logHeaders: () => [
      { text: "Id", value: "id", sortable: true },
      { text: "Email Id", value: "email_id", sortable: true },
      { text: "Timestamp", value: "timestamp", sortable: true },
      { text: "Action", value: "action", sortable: true },
      { text: "Status", value: "status", sortable: true },
      { text: "Details", value: "details", sortable: true },
    ],
  },
  methods: {
    async loadEmailDetails(id) {
      this.email = await new api.EmailCall().setId(id).get();
    },
  },
};
</script>
