<template>
    <div class='day-picker'>
        <v-btn fab text small color="grey darken-2" class='mr-1' @click="prev">
            <v-icon small>
                mdi-chevron-left
            </v-icon>
        </v-btn>
        <div class='day mr-1'>
            {{formatedDay}}
        </div>
        <v-btn fab text small color="grey darken-2" @click="next">
            <v-icon small>
                mdi-chevron-right
            </v-icon>
        </v-btn>
    </div>
</template>

<style scoped>
    .day-picker{
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 16px;
    }

    .day{
        font-size: 20px;
        font-weight: 500;
        width: 230;

    }
</style>

<script>
import moment from 'moment';

export default {
    name: 'DayPicker',
    props: {
        value: { type: String },
        days: { type: Array }
    },
    computed: {
        formatedDay(){
            return this.$props.value ? moment(this.$props.value).format('ddd DD MMMM YYYY') : 'No Date Selected';
        }
    },
    methods: {
        next(){
            const { days, value } = this.$props;
            const dayIndex = days.findIndex(d => d === value);
            if(dayIndex < days.length - 1){
                this.$emit('input', days[dayIndex + 1]);
            }
        },
        prev(){
            const { days, value } = this.$props;
            const dayIndex = days.findIndex(d => d === value);
            if(dayIndex > 0){
                this.$emit('input', days[dayIndex - 1]);
            }
        }
    }
}
</script>