<template>
    <a :href='"/epr/showUser/" + login'> {{fallbackLabel}} </a>
</template>

<script>
    export default {
        name: 'UserEprLink',
        props: {
            login: null,
            label: null,    
        },
        computed: {
            fallbackLabel: function(){
                return this.label || this.login;
            }
        }
    }
</script>