<template>
  <edit-dialog ref="dialog" @reset="resetForm" @submit="submitData">
    <template v-slot:activator="{ on }">
      <slot name="activator" :on="on"></slot>
    </template>
    <template v-slot:header>{{ headerMessage }}</template>
    <template v-slot:fields="{ values }">
      <v-select
        :items="[new Date().getFullYear(), new Date().getFullYear() + 1]"
        v-model="year"
        label="Year"
      ></v-select>
      <div v-if="year != null">
        <person-picker
          ref="personPicker"
          label="CMS Member"
          v-model="cmsId"
          required
        ></person-picker>
        <v-select
          :items="startingStatusValues"
          v-model="values.status"
          item-text="label"
          item-value="value"
          label="MO Status"
        ></v-select>
        <v-select
          v-if="values.status == 'APPROVED_LATE'"
          :items="computedPoolFaNames"
          label="Funding Agency"
        ></v-select>
        <v-select
          v-if="values.status == 'APPROVED_LATE'"
          :items="computedPoolMoInstCodes"
          label="MO Institute"
        ></v-select>
      </div>
    </template>
  </edit-dialog>
</template>

<script>
import api from "@/api";
import EditDialog from "@/components/common/inputs/EditDialog";
import PersonPicker from "@/components/common/inputs/PersonPicker";

export default {
  name: "MoEditor",
  components: {
    "person-picker": PersonPicker,
    "edit-dialog": EditDialog,
  },
  data() {
    return {
      cmsId: null,
      year: null,
      status: null,
      instCode: null,
      fundingAgency: null,
    };
  },
  props: {
    // todo: some value of something representing the edited entity
  },
  mounted() {},
  watch: {
    cmsId() {
      console.debug("CMS ID changed");
      new api.MoStepsCall()
        .setCmsId(this.cmsId)
        .setYear(this.year)
        .then(this.storeCurrentStepsData);
    },
  },
  computed: {
    headerMessage() {
      return "MO Record Editor";
    },
  },
  methods: {
    resetForm() {},
    storeCurrentStepsData(data) {
      console.debug("Received MO data for CMS ID " + this.cmsId);
      console.debug(data);
    },
    submitData() {
      // todo: post the data
    },
    afterSavedRecord() {
      // todo: some processing, anything
    },
    loadRecord() {
      // loads the existing data
    },

    show() {
      this.$refs.dialog.show();
    },
  },
};
</script>
