<template>
  <v-dialog v-model="dialog" persistent :max-width="maxWidth">
    <v-card>
      <v-card-title class="text-h5">
        <slot name="title">Are you sure...?</slot>
      </v-card-title>
      <v-card-text>
        <slot name="message">
          Please confirm that you really want to perform the action...
        </slot>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="green darken-1" text @click.stop="cancel">Cancel</v-btn>
        <v-btn color="green darken-1" text @click.stop="confirm">Confirm</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "ConfirmDialog",
  data() {
    return {
      dialog: null,
    };
  },
  props: {
    value: { type: Boolean, default: false },
    maxWidth: { type: String, default: "500px" },
  },
  watch: {
    dialog(newValue) {
      this.$emit("input", newValue);
    },
    value(newValue) {
      this.dialog = newValue;
    },
  },
  methods: {
    show() {
      this.dialog = true;
    },
    hide() {
      this.dialog = false;
    },
    confirm() {
      this.$emit("confirmed", this.value);
      this.dialog = false;
    },
    cancel() {
      this.$emit("cancelled");
      this.dialog = false;
    },
  },
};
</script>
