<template>
  <v-row justify="center">
    <v-dialog v-model="state" scrollable :max-width="maxWidth">
      <template v-slot:activator="{ on }">
        <slot v-if="isInline" name="activator" :on="on">
          <v-btn color="primary" dark v-on="on">Open Dialog</v-btn>
        </slot>
      </template>

      <v-card>
        <v-card-title class="subheading">
          <slot name="title"></slot>
        </v-card-title>
        <v-card-text>
          <slot name="body"> </slot>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="clickClose">Dismiss</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  name: "DetailsDialog",
  props: {
    value: { type: Boolean, default: false },
    // controls whether the activator button should show up
    isInline: { type: Boolean, default: true },
    maxWidth: { type: String, default: "500px" },
  },
  computed: {
    state: {
      get: function () {
        return this.value;
      },
      set: function (newValue) {
        console.debug(
          "Computed setter in action, about to dispatch the «input» event with value: " +
            newValue
        );
        this.$emit("input", newValue);
      },
    },
  },
  methods: {
    clickClose() {
      console.debug("DetailsDialog «dismiss» pressed");
      // should translate to emitting the event
      this.state = false;
    },
  },
};
</script>
