<template>
  <div>
    <div v-for="field in fields" :key="field.name">
      <v-checkbox
        v-if="field.type == 'boolean'"
        :label="field.label"
        v-model="fieldValues[field.name]"
        @change="$emit('input', fieldValues)"
      >
      </v-checkbox>

      <inst-picker
        v-else-if="['inst', 'institute', 'instcode'].indexOf(field.type) > -1"
        :label="field.label"
        v-model="fieldValues[field.name]"
        @change="$emit('input', fieldValues)"
      ></inst-picker>

      <v-select
        v-else-if="field.type == 'select'"
        :items="field.items"
        :multiple="field.multiple"
        :label="field.label"
        v-model="fieldValues[field.name]"
        @change="$emit('input', fieldValues)"
      ></v-select>

      <v-text-field
        v-else
        :type="field.type"
        :label="field.label"
        v-model="fieldValues[field.name]"
        @change="$emit('input', fieldValues)"
      >
      </v-text-field>
    </div>
  </div>
</template>

<script>
import InstitutePicker from "@/components/common/inputs/InstitutePicker";

export default {
  name: "HateoasEditor",
  components: {
    "inst-picker": InstitutePicker,
  },
  props: {
    template: Object,
    fieldsMeta: Object,
  },
  data() {
    return {
      fieldValues: {},
    };
  },
  watch: {
    template(newVal) {
      console.debug("We got a new template: " + JSON.stringify(newVal));
    },
  },
  computed: {
    fields() {
      if ([null, undefined].indexOf(this.template) > -1) {
        return [];
      }
      if ([null, undefined].indexOf(this.template.properties) > -1) {
        return [];
      }
      var compo = this;
      return this.template.properties
        .map((e) => ({
          name: e.name,
          regex: e["regex"],
          readOnly:
            e.readOnly || compo.getFieldMetaAttr(e.name, "readOnly") || false,
          sortVal: compo.getFieldMetaAttr(e.name, "sortVal") || 0,
          label: compo.getFieldMetaAttr(e.name, "label") || "Field " + e.name,
          type: compo.getFieldMetaAttr(e.name, "type") || "text",
          items: compo.getFieldMetaAttr(e.name, "items") || null,
          multiple: compo.getFieldMetaAttr(e.name, "multiple") || null,
        }))
        .filter((e) => [undefined, null, false].indexOf(e["readOnly"]) > -1)
        .sort((a, b) => a.sortVal - b.sortVal);
    },
  },
  methods: {
    getFieldMetaAttr(fieldName, attrName) {
      return fieldName in (this.fieldsMeta || {})
        ? this.fieldsMeta[fieldName][attrName]
        : null;
    },
  },
};
</script>

<style></style>
