<template>
  <div class="text-box">
    <v-textarea
      :readonly="true"
      :value="body"
      filled
      :auto-grow="true"
      :style="{ 'font-size': fontSize }"
    />
  </div>
</template>

<style scoped>
.text-box > .v-input {
  font-family: monospace;
}
.text-box > .v-input > .v-input__control {
  margin-bottom: 0 !important;
}
</style>

<script>
export default {
  name: "TextBox",
  props: {
    body: {
      type: String,
      default: "",
    },
    fontSize: {
      type: String,
      default: "14px",
    },
  },
};
</script>
