<template>
  <div>
    <div class="text-box">
      <v-textarea v-model="historyStr" filled :auto-grow="true" />
    </div>
    <div class="d-flex">
      <v-btn text color="primary" :disabled="!cmsId" @click="reset"
        >RESET</v-btn
      >
      <v-btn
        text
        color="primary"
        :disabled="!cmsId || originalHistoryStr == historyStr"
        @click="save"
        >SAVE</v-btn
      >
    </div>
  </div>
</template>

<script>
import api from "@/api";
import { mapActions } from "vuex";

export default {
  props: {
    cmsId: { default: null },
  },
  data() {
    return {
      originalHistoryStr: "",
      historyStr: "",
    };
  },
  watch: {
    cmsId(value) {
      this.fetchHistory(value);
    },
  },
  methods: {
    ...mapActions("notification", ["successMessage"]),
    async fetchHistory(cmsId) {
      this.selectId = cmsId;
      const data = await new api.TextHistoryCall().setId(cmsId).get();
      const historyStr = JSON.stringify(data.history, null, 4);
      this.originalHistoryStr = historyStr;
      this.historyStr = historyStr;
    },
    reset() {
      this.historyStr = this.originalHistoryStr;
    },
    async save() {
      const history = JSON.parse(this.historyStr);
      await new api.TextHistoryCall()
        .setId(this.selectId)
        .setHistory(history)
        .post();
      this.successMessage("Text history updated Successfully!");
    },
  },
  mounted: function () {
    if (this.cmsId != null) {
      this.fetchHistory(this.cmsId);
    }
  },
};
</script>

<style scoped>
.text-box > .v-input {
  font-family: monospace;
}
.text-box > .v-input > .v-input__control {
  margin-bottom: 0 !important;
}
</style>
