<template>
  <v-dialog
    :value="value"
    @input="$emit('input', false)"
    max-width="800px"
    @keydown.esc="close"
  >
    <v-card>
      <v-card-title> Nomination Details </v-card-title>
      <v-card-text>
        <h3>Award</h3>
        {{ awardTitle }}
        <br />
        <br />
        <h3>Nominee</h3>
        {{ nominee }}
        <br />
        <br />
        <h3>Projects</h3>
        {{ nominationProjects }}
        <br />
        <br />
        <h3>Nominator</h3>
        {{ nominator }}
        <br />
        <br />
        <h3>Working relationship</h3>
        {{ workingRelationship }}
        <br />
        <br />
        <h3>Justification</h3>
        {{ justification }}
        <br />
        <br />
        <h3>Proposed citation</h3>
        {{ proposedCitation }}
        <br />
        <br />
        <h3>Remarks</h3>
        {{ remarks }}
        <br />
        <br />
        <h3>Last updated by (CMS ID)</h3>
        {{ lastupdatedBy }}
        <br />
        <br />
        <h3>Last updated at</h3>
        {{ lastUpdatedAt }}
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="close">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    value: { type: Boolean, required: true, default: false },
    item: { type: Object, default: () => {} },
  },

  computed: {
    nominee() {
      return (
        `${this.item?.nominee_first_name} ${this.item?.nominee_last_name}` +
        ` (${this.item?.nominee_cms_id}, ${this.item?.nominee_institute},` +
        ` ${this.item?.nominee_activity})`
      );
    },
    nominator() {
      return (
        `${this.item?.nominator_first_name} ${this.item?.nominator_last_name}` +
        ` (${this.item?.nominator_cms_id})`
      );
    },
    nominationProjects() {
      return this.item?.nomination_projects.replaceAll(";", "; ");
    },
    awardTitle() {
      return this.item?.award_title;
    },
    workingRelationship() {
      return this.item?.working_relationship;
    },
    justification() {
      return this.item?.justification;
    },
    proposedCitation() {
      return this.item?.proposed_citation;
    },
    remarks() {
      return this.item?.remarks;
    },
    lastupdatedBy() {
      return this.item?.last_updated_by;
    },
    lastUpdatedAt() {
      if (!this.item) return "";
      const [date, time] = this.item.last_updated_at.split("T");
      return `${date} ${time.split(".")[0]} UTC`;
    },
  },
  methods: {
    close() {
      this.$emit("input", false);
    },
  },
};
</script>
