<template>
  <v-dialog
    :value="value"
    @input="$emit('input', false)"
    max-width="600px"
    persistent
  >
    <v-card>
      <v-card-title> {{ modalTitle }} </v-card-title>
      <v-card-text>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-container>
            <v-select
              v-model="awardId"
              label="Award"
              :items="awardOptions"
              :rules="awardRules"
              class="required"
            />
            <person-picker
              label="Nominee"
              v-model="nomineeCmsId"
              clearable
              :rules="nomineeRules"
              class="required"
            />
            <v-select
              v-model="nominationProjects"
              label="Project"
              :items="projectOptions"
              :rules="projectRules"
              class="required"
              multiple
              clearable
              chips
              deletable-chips
              validate-on-blur
              :menu-props="{
                bottom: true,
                offsetY: true,
                openOnFocus: true,
                openOnHover: true,
              }"
            />
            <v-textarea
              rows="4"
              label="Justification"
              v-model="justification"
              :rules="justificationRules"
              class="required"
            />
            <v-textarea
              rows="2"
              label="Working relationship"
              v-model="workingRelationship"
              :rules="relationshipRules"
              class="required"
            />
            <v-textarea
              rows="2"
              label="Proposed citation"
              v-model="proposedCitation"
              :rules="proposedCitationRules"
            />
            <v-textarea
              rows="2"
              label="Remarks"
              v-model="remarks"
              :rules="remarksRules"
            />
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-container>
          <v-row style="align-items: center; justify-content: center">
            <v-col cols="3">
              <span class="red--text">* required</span>
            </v-col>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="close"> Close </v-btn>
            <v-btn color="blue darken-1" text @click="submit"> Save </v-btn>
          </v-row>
        </v-container>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import api from "@/api";
import { mapActions } from "vuex";
import PersonPicker from "@/components/common/inputs/PersonPicker";
import { fieldRequiredRule, charLimitRule } from "@/utils/validation";

export default {
  components: {
    "person-picker": PersonPicker,
  },
  props: {
    value: { type: Boolean, required: true, default: false },
    item: { type: Object, required: false, default: () => null },
    awards: { type: Array, required: true },
  },
  data() {
    return {
      projects: [],
      valid: true,
      nominationid: null,
      awardId: null,
      nomineeCmsId: null,
      remarks: null,
      justification: null,
      proposedCitation: null,
      nominationProjects: null,
      workingRelationship: null,
      awardRules: [
        fieldRequiredRule(
          "The award for which you are submitting a nomination"
        ),
      ],
      nomineeRules: [fieldRequiredRule("The nominee that you are nominating")],
      projectRules: [fieldRequiredRule("At least one project")],
      justificationRules: [
        fieldRequiredRule("A justification of why you nominate this nominee"),
        charLimitRule(1000),
      ],
      relationshipRules: [
        fieldRequiredRule("A description of your relationship to the nominee"),
        charLimitRule(1000),
      ],
      proposedCitationRules: [charLimitRule(1000)],
      remarksRules: [charLimitRule(1000)],
    };
  },
  watch: {
    item(newValue) {
      if (!newValue) {
        this.$refs.form.resetValidation();
      }
      this.awardId = this.item?.award_id;
      this.nomineeCmsId = this.item?.nominee_cms_id;
      this.remarks = this.item?.remarks;
      this.justification = this.item?.justification;
      this.proposedCitation = this.item?.proposed_citation;
      this.nominationProjects = this.item?.nomination_projects.split(";");
      this.workingRelationship = this.item?.working_relationship;
    },
  },
  computed: {
    isEdit() {
      return !!this.item;
    },
    modalTitle() {
      return this.isEdit ? "Edit Nomination" : "Submit New Nomination";
    },
    awardOptions() {
      return this.awards.map((award) => ({
        value: award.id,
        text: award.title,
      }));
    },
    projectOptions() {
      return this.projects?.projects?.map((project) => ({
        value: project,
        text: project === "Other" ? `${project} (specify in remarks)` : project,
      }));
    },
  },
  methods: {
    ...mapActions("notification", ["infoMessage"]),
    close() {
      this.$emit("input", false);
    },
    async submit() {
      if (!this.$refs.form?.validate()) return;
      const awardNominationsCall = new api.AwardNominationsCall()
        .setNomineeCmsId(this.nomineeCmsId)
        .setAwardId(this.awardId)
        .setJustification(this.justification)
        .setRemarks(this.remarks)
        .setProposedCitation(this.proposedCitation)
        .setNominationProjects(this.nominationProjects)
        .setWorkingRelationship(this.workingRelationship);
      if (this.isEdit) {
        const data = await awardNominationsCall
          .setId(this.item.nomination_id)
          .put();
        this.$emit("updated", data);
      } else {
        const data = await awardNominationsCall.post();
        this.$emit("created", data);
      }
      this.displaySuccessMessage();
      this.close();
    },
    displaySuccessMessage() {
      this.infoMessage(
        this.isEdit
          ? "Nomination Edited Successfully."
          : "Nomination Submitted Successfully."
      );
    },
    async fetchAwardProjects() {
      this.projects = await new api.AwardsProjectsCall().get();
    },
  },
  mounted() {
    this.fetchAwardProjects();
  },
};
</script>

<style scoped>
.v-input.required >>> .v-label::after {
  content: " *";
  color: red;
}
</style>
