<template>
  <div>
    <base-page>
      <template v-slot:toolbar-title>Award Nomination Submission</template>
      <template v-slot:header>
        <v-container class="text-center" fluid>
          <v-row dense style="align-items: center; justify-content: center">
            <template v-if="canCreateNominations">
              <v-btn color="primary" @click="launchEditor">
                Submit new nomination
              </v-btn>
            </template>
            <template v-else-if="loadingAwards">
              <v-btn style="visibility: hidden"> Submit new nomination </v-btn>
            </template>
            <template v-else>
              <v-chip outlined color="red" class="red--text">
                <v-icon icon="mdi-alert-circle-outline" color="red">
                  mdi-alert-circle-outline
                </v-icon>
                &nbsp;Not accepting nominations
              </v-chip>
            </template>
            <v-btn
              dark
              color="blue"
              style="margin-left: 5px"
              @click="showInstructions"
            >
              Show instructions
            </v-btn>
            <v-spacer />
            <v-col cols="3">
              <v-text-field
                v-model="search"
                :append-icon="icon.search"
                label="Search"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </template>
      <template v-slot:body>
        <data-table
          :headers="headers"
          :loading="loading"
          :items="tableData"
          :search="search"
        >
          <template v-slot:[`item.actions`]="props">
            <div>
              <v-row no-gutters>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon
                      @click="launchDetails(props.item.nomination_id)"
                      v-bind="attrs"
                      v-on="on"
                      >{{ icon.info }}</v-icon
                    >
                  </template>
                  <span>Details</span>
                </v-tooltip>
                <template
                  v-if="props.item._permissions.includes('edit-nomination')"
                >
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                        @click="launchEditor(props.item.nomination_id)"
                        v-bind="attrs"
                        v-on="on"
                      >
                        {{ icon.edit }}
                      </v-icon>
                    </template>
                    <span>Edit Nomination</span>
                  </v-tooltip>
                </template>
                <template
                  v-if="props.item._permissions.includes('cancel-nomination')"
                >
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                        @click="launchSoftDelete(props.item.nomination_id)"
                        v-bind="attrs"
                        v-on="on"
                      >
                        {{ icon.delete }}
                      </v-icon>
                    </template>
                    <span>Cancel Nomination</span>
                  </v-tooltip>
                </template>
              </v-row>
            </div>
          </template>
        </data-table>
      </template>
    </base-page>
    <nomination-editor
      v-model="isEditorOpen"
      :item="selectedItem"
      :awards="awardsAcceptingNominations"
      @created="itemCreated"
      @updated="itemUpdated"
    />
    <cancel-confirmation
      v-model="isSoftDelete"
      :item="selectedItem"
      @updated="itemDeleted"
    />
    <details-modal v-model="areDetailsOpen" :item="selectedItem" />
    <instructions-modal v-model="areInstructionsOpen" />
  </div>
</template>

<script>
import api from "@/api";
import { icon } from "@/utils/constants";
import NominationEditor from "./Editor";
import SoftDelete from "./SoftDelete";
import DetailsModal from "./DetailsModal";
import InstructionsModal from "./InstructionsModal";

export default {
  components: {
    "nomination-editor": NominationEditor,
    "cancel-confirmation": SoftDelete,
    "details-modal": DetailsModal,
    "instructions-modal": InstructionsModal,
  },
  data() {
    return {
      loading: false,
      loadingAwards: false,
      items: [],
      search: "",
      selectedItem: null,
      isEditorOpen: false,
      isSoftDelete: false,
      areDetailsOpen: false,
      awardsAcceptingNominations: [],
      areInstructionsOpen: false,
    };
  },
  computed: {
    headers() {
      return [
        { text: "Award", value: "award_title", sortable: true },
        { text: "Nominee", value: "nominee", sortable: true },
        { text: "Projects", value: "nominationProjects", sortable: true },
        { text: "Nominator", value: "nominator", sortable: true },
        {
          text: "Working relationship",
          value: "working_relationship",
          sortable: true,
        },
        { text: "Actions", value: "actions", sortable: false },
      ];
    },
    tableData() {
      return this.items.map((item) => {
        return {
          ...item,
          nominee:
            `${item.nominee_first_name} ${item.nominee_last_name}` +
            ` (${item.nominee_cms_id}, ${item.nominee_institute},` +
            ` ${item.nominee_activity})`,
          nominator:
            `${item.nominator_first_name} ${item.nominator_last_name}` +
            ` (${item.nominator_cms_id})`,
          nominationProjects: item.nomination_projects.replaceAll(";", "; "),
        };
      });
    },
    canCreateNominations() {
      return !!this.awardsAcceptingNominations?.length;
    },
  },
  methods: {
    async fetchNominations() {
      this.loading = true;
      this.items = await new api.AwardNominationsCall()
        .fetchOwnNominationsOnly()
        .get();
      this.loading = false;
    },
    async fetchAwardsForNomination() {
      this.loadingAwards = true;
      this.awardsAcceptingNominations = (
        await new api.AwardsCall().fetchOnlyAcceptingNominations().get()
      )?.awards;
      this.loadingAwards = false;
    },
    launchEditor(nomination_id) {
      this.closeAllModals();
      let item = null;
      if (nomination_id) {
        item = this.items.find((n) => n.nomination_id == nomination_id);
      }
      this.selectedItem = item;
      this.isEditorOpen = true;
    },
    launchSoftDelete(nomination_id) {
      this.closeAllModals();
      let item = null;
      if (nomination_id) {
        item = this.items.find((n) => n.nomination_id == nomination_id);
      }
      this.selectedItem = item;
      this.isSoftDelete = true;
    },
    launchDetails(nomination_id) {
      this.closeAllModals();
      let item = null;
      if (nomination_id) {
        item = this.items.find((n) => n.nomination_id == nomination_id);
      }
      this.selectedItem = item;
      this.areDetailsOpen = true;
    },
    showInstructions() {
      this.closeAllModals();
      this.areInstructionsOpen = true;
    },
    itemCreated(data) {
      this.items = [data, ...this.items];
    },
    itemUpdated(data) {
      const index = this.items.findIndex(
        (item) => item.nomination_id === data.nomination_id
      );
      if (index >= 0) {
        this.$set(this.items, index, data);
      }
    },
    itemDeleted(itemId) {
      const index = this.items.findIndex(
        (item) => item.nomination_id === itemId
      );
      if (index >= 0) {
        this.items.splice(index, 1);
      }
    },
    closeAllModals() {
      this.areInstructionsOpen = false;
      this.areDetailsOpen = false;
      this.isSoftDelete = false;
      this.isEditorOpen = false;
    },
  },
  mounted() {
    this.fetchNominations();
    this.fetchAwardsForNomination();
  },
  created() {
    this.icon = icon;
  },
};
</script>
