<template>
  <v-dialog
    :value="value"
    @input="$emit('input', false)"
    max-width="600px"
    @keydown.esc="close"
  >
    <v-card>
      <v-card-title> Cancel nomination? </v-card-title>
      <v-card-text>
        <br />
        <h3>Award</h3>
        {{ awardTitle }}
        <br />
        <br />
        <h3>Nominee</h3>
        {{ nominee }}
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
        <v-btn color="blue darken-1" text @click="submit">Confirm</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import api from "@/api";
import { mapActions } from "vuex";

export default {
  props: {
    value: { type: Boolean, required: true, default: false },
    item: { type: Object, default: () => null },
  },
  data() {
    return {
      status: null,
    };
  },
  computed: {
    awardTitle() {
      return this.item?.award_title;
    },
    nominee() {
      return (
        `${this.item?.nominee_first_name} ${this.item?.nominee_last_name}` +
        ` (${this.item?.nominee_cms_id}, ${this.item?.nominee_institute},` +
        ` ${this.item?.nominee_activity})`
      );
    },
  },
  methods: {
    ...mapActions("notification", ["infoMessage"]),
    close() {
      this.$emit("input", false);
    },
    async submit() {
      await new api.AwardNominationsCall()
        .setId(this.item.nomination_id)
        .delete();
      this.$emit("updated", this.item.nomination_id);
      this.infoMessage("Nomination Canceled");
      this.close();
    },
  },
};
</script>
