<template>
  <v-dialog v-model="value" max-width="1000px" :persistent="true">
    <v-card>
      <v-card-title>
        <span class="headline">{{ modalTitle }}</span>
      </v-card-title>
      <v-card-text>
        <v-text-field label="Questionaire title" v-model="title" />
        <Questionnaire
          :mode="mode === 'edit' ? 'create' : 'answer'"
          :questions="questions"
          :answers="answers"
          @edit-questions="editQuestions"
        />
        <v-alert
          class="mt-4"
          v-if="errors.length > 0"
          border="bottom"
          color="red lighten-2"
          dark
        >
          <ul>
            <li v-for="error in errors" :key="error">{{ error }}</li>
          </ul>
        </v-alert>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="close">Close</v-btn>
        <v-btn color="blue darken-1" text @click="toggle">{{
          mode === "edit" ? "Preview" : "Edit"
        }}</v-btn>
        <v-btn color="blue darken-1" text @click="handleSubmit()">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import api from "@/api";
import Questionnaire from "@/components/common/questionnaire";

export default {
  components: {
    Questionnaire,
  },
  props: {
    value: { type: Boolean, required: true, default: false },
    item: { type: Object, default: () => null },
  },
  data() {
    return {
      title: "",
      mode: "edit",
      questions: [],
      answers: [],
      errors: [],
    };
  },
  computed: {
    isEdit() {
      return !!this.item;
    },
    modalTitle() {
      return this.isEdit ? "Edit Questionnaire" : "Create Questionnaire";
    },
  },
  watch: {
    mode() {
      if (this.mode === "preview") {
        this.answers = this.questions.map((q) =>
          q.type !== "multiple" ? "" : []
        );
      }
    },
    item() {
      if (this.item) {
        this.title = this.item.title;
        this.questions = this.item.questions;
      }
    },
  },
  methods: {
    reset() {
      this.title = "";
      this.questions = [];
      this.errors = [];
    },
    toggle() {
      this.mode = this.mode == "edit" ? "preview" : "edit";
    },
    close() {
      this.reset();
      this.$emit("input", false);
    },
    editQuestions(edittedQuestions) {
      this.questions = edittedQuestions;
    },
    validate() {
      let errors = [];
      const addError = (error) => {
        if (!errors.includes(error)) {
          errors.push(error);
        }
      };
      if (!this.title) {
        addError("Questionnaire title can't be empty");
      }
      this.questions.forEach((question) => {
        const options = question.options || [];
        if (!question.title) {
          addError("Question titles can't be empty");
        }

        if (question.type !== "text" && options.length < 2) {
          addError("Choice questions must have at least 2 options");
        }
        options.forEach((option) => {
          if (!option) {
            addError("Choise can't be empty");
          }
        });
      });
      this.errors = errors;
      return this.errors.length === 0 ? true : false;
    },
    async handleSubmit() {
      const pass = this.validate();
      if (!pass) return;
      if (this.isEdit) {
        const data = await new api.JobQuestionnairesCall()
          .setId(this.item.id)
          .setTitle(this.title)
          .setQuestions(JSON.stringify(this.questions))
          .put();
        this.$emit("updated", data);
      } else {
        const data = await new api.JobQuestionnairesCall()
          .setTitle(this.title)
          .setQuestions(JSON.stringify(this.questions))
          .post();
        this.$emit("created", data);
      }
      this.close();
    },
  },
};
</script>
