<template>
  <base-page
    :toolbar-actions="
      canEdit
        ? [
            {
              name: 'newEntry',
              tooltip: 'Add new Questionare',
              icon: icon.add_circle,
            },
          ]
        : []
    "
    @newEntry="launchEditor"
  >
    <template v-slot:toolbar-title>Questionnaires</template>
    <template v-slot:header>
      <v-container class="text-center" fluid>
        <v-row>
          <v-spacer />
          <v-col cols="3">
            <v-text-field
              v-model="search"
              :append-icon="icon.search"
              label="Search"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-container>
    </template>
    <template v-slot:body>
      <data-table
        :headers="headers"
        :loading="loading"
        :items="tableData"
        :search="search"
      >
        <template v-slot:[`item.actions`]="props">
          <div v-if="canEdit">
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-icon
                  @click="launchEditor(props.item.id)"
                  v-bind="attrs"
                  v-on="on"
                  >{{ icon.edit }}</v-icon
                >
              </template>
              <span>Edit Questionnaire</span>
            </v-tooltip>
          </div>
        </template>
      </data-table>
      <Editor
        v-model="isEditorOpen"
        :item="selectedItem"
        @created="itemCreated"
        @updated="itemUpdated"
      />
    </template>
  </base-page>
</template>

<script>
import moment from "moment";
import { mapGetters } from "vuex";
import api from "@/api";
import { icon } from "@/utils/constants";
import Editor from "./Editor";

export default {
  components: {
    Editor,
  },
  data() {
    return {
      search: "",
      loading: false,
      items: [],
      selectedItem: null,
      isEditorOpen: false,
    };
  },
  computed: {
    ...mapGetters("user", [
      "userId",
      "isAdmin",
      "isJobCommittee",
      "isIcmsDev",
      "isJobOpAdmin",
    ]),
    canEdit() {
      return (
        this.isAdmin ||
        this.isIcmsDev ||
        this.isJobOpAdmin ||
        this.isJobCommittee
      );
    },
    headers() {
      return [
        { text: "Title", value: "title", sortable: true },
        { text: "Questions", value: "question_no", sortable: true },
        { text: "Date Created", value: "date_created", sortable: true },
        { text: "Last update", value: "date_updated", sortable: true },
        { text: "Actions", value: "actions", sortable: true },
      ];
    },
    tableData() {
      return this.items
        .slice()
        .reverse()
        .map((item) => ({
          ...item,
          question_no: item.questions.length,
          date_created: moment(item.date_created).format("YYYY-MM-DD HH:mm:ss"),
          date_updated: moment(item.date_updated).format("YYYY-MM-DD HH:mm:ss"),
        }));
    },
  },
  methods: {
    async fetchData() {
      this.loading = true;
      const data = await new api.JobQuestionnairesCall().get().then((data) =>
        data.map((row) => ({
          ...row,
          questions: JSON.parse(row.questions),
        }))
      );
      this.items = data;
      this.loading = false;
    },
    launchEditor(id) {
      let item = null;
      if (id) {
        item = this.items.find((n) => n.id == id);
      }
      this.selectedItem = item;
      this.isEditorOpen = true;
    },
    itemCreated() {
      this.fetchData();
    },
    itemUpdated() {
      this.fetchData();
    },
  },
  mounted() {
    this.fetchData();
  },
  created() {
    this.icon = icon;
  },
};
</script>
