<template>
  <v-autocomplete
    :v-model="model"
    :items="items"
    :loading="isLoading"
    :item-text="'label'"
    :item-value="'code'"
    :search-input.sync="search"
    @change="changeListener"
    :no-filter="true"
    :placeholder="'Please start typing analysis\'s code'"
    v-bind="$attrs"
    v-on="$listeners"
  >
  </v-autocomplete>
</template>

<script>
import api from "@/api";

export default {
  name: "CadiAnalysesPicker",

  data() {
    return {
      entries: [],
      isLoading: false,
      model: null,
      search: "",
      searchTerm: "",
      timeoutVar: null,
      placeholder: null,
    };
  },

  computed: {
    items() {
      var data = [];
      for (var i in this.entries) {
        data.push({
          label: this.labelFromData(this.entries[i]),
          code: this.valueFromData(this.entries[i]),
        });
      }
      return data;
    },
  },

  methods: {
    changeListener() {
      console.debug("Change listener invoked.");
    },

    labelFromData(data) {
      return data["code"];
    },

    valueFromData(data) {
      return data["code"];
    },

    suppressQuery(searchTerm) {
      // this is a prevention mechanism against user selection triggering another autocomplete search for the nicely formatted label
      // any attempt to use the events proved futile
      for (var i in this.entries) {
        if (this.labelFromData(this.entries[i]) == searchTerm) {
          console.debug(
            "Suppressing suggestions query for input: " + searchTerm
          );
          return true;
        }
      }
      return false;
    },

    fetchInstDataForValue() {},
  },
  watch: {
    search(term) {
      // suppress queries triggered by selection from drop-down (as ooposed to queries triggered by users typing something in)
      if (this.suppressQuery(term)) return;
      console.debug("Search callback in action");
      if (term == null || term.length == 0) return;
      console.debug("VuetifyAnalysisPicker, autocomplete, term is: " + term);
      if (this.timeoutVar != null) {
        window.clearTimeout(this.timeoutVar);
      }

      this.timeoutVar = window.setTimeout(() => {
        if (this.isLoading) return;
        this.isLoading = true;

        console.debug("Will re-fetch the list of suggestions");
        this.entries = [];
        new api.CadiAnalysisSuggestionsCall(term).get().then((data) => {
          this.entries = data;
          this.isLoading = false;
          console.debug(
            "VuetifyAnalaysisPicker received " +
              this.entries.length +
              " search suggestions."
          );
        });
      }, 433);
    },
  },
};
</script>
