<template>
  <v-dialog
    v-model="value"
    maxWidth="600px"
    class="zindex-modal"
    @input="$emit('input', $value)"
  >
    <v-card tile>
      <v-toolbar card dark color="primary">
        <v-toolbar-title v-if="student">
          Details for {{ student.student.first_name }}
          {{ student.student.last_name }}
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon dark @click="close()">
          <v-icon>{{ icon.close }}</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <br />
        <v-text-field label="Student" v-model="compact_info[0]" readonly />
        <v-text-field
          label="Thesis Title"
          v-model="student.thesis_title"
          readonly
        />
        <v-text-field
          label="Thesis Link"
          v-model="student.thesis_link"
          readonly
        />
        <v-row>
          <v-col>
            <v-text-field
              label="Enrollment Date"
              v-model="student.enrollment_date"
              readonly
            />
          </v-col>
          <v-col>
            <v-text-field
              label="Dissertation Defense Date"
              v-model="student.dissertation_defense_date"
              readonly
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-text-field
              label="Start Date"
              v-model="student.start_date"
              readonly
            />
          </v-col>
          <v-col>
            <v-text-field
              label="End Date"
              v-model="student.end_date"
              readonly
            />
          </v-col>
        </v-row>
        <v-text-field
          label="Physics Groups"
          v-model="student.physics_groups"
          readonly
        />
        <v-text-field
          label="CMS Projects"
          v-model="student.cms_projects"
          readonly
        />
        <v-text-field
          label="Analysis"
          v-model="student.cadi_analyses"
          readonly
        />
        <v-text-field label="Notes" v-model="student.cms_notes" readonly />
        <v-text-field label="Remarks" v-model="student.remarks" readonly />
        <br />
        <v-divider></v-divider>
        <v-row>
          <v-col>
            <v-text-field
              label="Last Updated At"
              v-model="student.last_updated_at"
              readonly
            />
          </v-col>
          <v-col>
            <v-text-field
              label="Last Updated By"
              :value="compact_info[1]"
              readonly
            />
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { icon } from "@/utils/constants";

export default {
  name: "DetailsDialog",
  props: ["value", "student", "compact_info"],
  data() {
    return {};
  },
  watch: {},
  methods: {
    close() {
      this.$emit("input", false);
    },
  },
  created() {
    this.icon = icon;
  },
};
</script>
