<template>
  <v-dialog
    v-model="value"
    maxWidth="340px"
    class="zindex-modal"
    @input="$emit('input', $value)"
  >
    <v-card>
      <v-card-title v-if="phdInfo" class="headline"
        >{{ phdInfo.student.first_name }} {{ phdInfo.student.last_name }} -
        {{ phdInfo.student.cms_id }}</v-card-title
      >
      <v-card-text>
        <div class="mb-2">
          The PhD info for the current student, is ready to be deleted.
        </div>
        <div>Are you sure?</div>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn color="grey darken-1" text @click="close"> Close </v-btn>

        <v-btn color="red darken-1" text @click="submit"> Delete </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import api from "@/api";

export default {
  name: "PhdInfoDeleteDialog",
  props: {
    value: { type: Boolean, required: true, default: false },
    phdInfo: { type: Object },
  },
  computed: {},
  methods: {
    close() {
      this.$emit("input", false);
    },
    async submit() {
      await new api.PhdInfoCall().setId(this.phdInfo.id).delete();
      this.$store.dispatch(
        "notification/infoMessage",
        "PhD student info removed successfully."
      );
      this.$emit("deletedInfo", this.phdInfo.id);
      this.close();
    },
  },
  mounted() {},
};
</script>
