<template>
  <v-menu
    ref="menu"
    v-model="isOpen"
    :close-on-content-click="false"
    transition="scale-transition"
    offset-y
    min-width="290px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-text-field
        :value="date"
        @input="handleChange"
        :disabled="disabled"
        :rules="rules"
        :label="label"
        prepend-icon="mdi-calendar"
        readonly
        v-bind="attrs"
        v-on="on"
        :class="{ required: requiredClass }"
        clearable
      ></v-text-field>
    </template>
    <v-date-picker :value="date" @input="handleChange" no-title scrollable>
      <v-btn text color="red" @click="handleChange(null)"> Clear </v-btn>
      <v-spacer />
      <v-btn text color="primary" @click="$refs.menu.save(date)"> OK </v-btn>
    </v-date-picker>
  </v-menu>
</template>

<script>
export default {
  name: "DateInput",
  props: {
    value: { default: null },
    label: { default: null },
    disabled: { type: Boolean, default: false },
    rules: { type: Array, default: () => [] },
    requiredClass: { type: Boolean, default: false },
  },
  data() {
    return {
      isOpen: false,
      date: this.value,
    };
  },
  methods: {
    handleChange(newValue) {
      this.date = newValue;
      this.$emit("input", newValue);
    },
  },
  watch: {
    value(newValue) {
      this.date = newValue;
    },
  },
};
</script>

<style scoped>
.v-text-field.required >>> .v-label::after {
  content: " *";
  color: red;
}
</style>
