<template>
  <v-autocomplete
    v-model="instCode"
    :items="items"
    :loading="isLoading"
    :item-text="'label'"
    :item-value="'code'"
    :search-input.sync="search"
    @change="changeListener"
    @input="$emit('input', $event)"
    :no-filter="true"
    :placeholder="'Please start typing institute\'s code or name.'"
    v-bind="$attrs"
    v-on="$listeners"
  >
  </v-autocomplete>
</template>

<script>
import api from "@/api";

export default {
  name: "InstitutePicker",

  props: {
    value: null,
  },

  data() {
    return {
      entries: [],
      isLoading: false,
      model: null,
      search: "",
      searchTerm: "",
      timeoutVar: null,
      placeholder: null,
    };
  },

  computed: {
    items() {
      var data = [];
      for (var i in this.entries) {
        data.push({
          label: this.labelFromData(this.entries[i]),
          code: this.valueFromData(this.entries[i]),
        });
      }
      return data;
    },
    instCode: {
      get: function () {
        return this.value;
      },
      set: function (newValue) {
        this.model = newValue;
      },
    },
  },

  methods: {
    changeListener(event) {
      console.debug("Change listener invoked.");
      console.debug(`Event value: ${event}`);
    },

    labelFromData(data) {
      return data["code"] + " (" + data["name"] + ")";
    },

    valueFromData(data) {
      return data["code"];
    },

    suppressQuery(searchTerm) {
      // this is a prevention mechanism against user selection triggering another autocomplete search for the nicely formatted label
      // any attempt to use the events proved futile
      for (var i in this.entries) {
        if (this.labelFromData(this.entries[i]) == searchTerm) {
          console.debug(
            `Suppressing suggestions query for input: ${searchTerm}`
          );
          return true;
        }
      }
      return false;
    },

    async fetchInstDataForValue(instCode) {
      /*
                Used to display correct data when the CMS ID is set externally (e.g. editing some entries).
                Ideally, it should be automatically invoked by the component whenever a value is enforced.
            */
      console.debug(
        `VuetifyInstitutePicker: Fetching display info for received CMS ID ${instCode}`
      );
      var component = this;
      // Ajax.getUserInfo(cmsId, function(userData){
      //     /*
      //         As long as the relevant fields are named identically between the relevant endpoints,
      //         we can just push the data to entries and rely on the computed property to transform it
      //         into a meaningful dropdown item
      //     */
      //     component.entries = [userData];
      // });
      if (instCode) {
        const instituteData = await new api.InstInfoCall()
          .setCode(instCode)
          .get();
        /*
        As long as the relevant fields are named identically between the relevant endpoints,
        we can just push the data to entries and rely on the computed property to transform it
        into a meaningful dropdown item
      */
        component.entries = [instituteData];
        component.model = instCode;
      }
    },
  },
  watch: {
    search(term) {
      // suppress queries triggered by selection from drop-down (as ooposed to queries triggered by users typing something in)
      if (this.suppressQuery(term)) return;
      console.debug("Search callback in action");
      if (term == null || term.length == 0) {
        this.entries = [];
        return;
      }
      console.debug(`VuetifyPersonPicker, autocomplete, term is: ${term}`);
      if (this.timeoutVar != null) {
        window.clearTimeout(this.timeoutVar);
      }

      this.timeoutVar = window.setTimeout(() => {
        if (this.isLoading) return;
        this.isLoading = true;

        console.debug("Will re-fetch the list of suggestions");
        this.entries = [];
        new api.InstSuggestionsCall(term).get().then((data) => {
          this.entries = data;
          this.isLoading = false;
          console.debug(
            `VuetifyPersonPicker received ${this.entries.length} search suggestions.`
          );
        });
      }, 433);
    },
    instCode(newValue) {
      if (newValue !== null) {
        this.fetchInstDataForValue(newValue);
      } else {
        this.model = null;
        this.entries = [];
      }
      console.debug(
        `InstitutePicker: institute got a new value of ${this.value}`
      );
    },
  },
  created: function () {
    if (this.instCode !== null) {
      this.fetchInstDataForValue(this.instCode);
      console.debug(
        `Institute-picker component created with code set to ${this.instCode}`
      );
    }
  },
};
</script>
