<template>
  <v-autocomplete
    :label="label"
    :messages="messages"
    v-model="cmsId"
    :items="items"
    :loading="isLoading"
    :item-text="'label'"
    :item-value="'cms_id'"
    :search-input.sync="search"
    :rules="rules"
    @input="$emit('input', $event)"
    :no-filter="true"
    :placeholder="'Please start typing a name, surname, CMS ID, login or any combination thereof'"
    v-bind="$attrs"
    v-on="$listeners"
  >
  </v-autocomplete>
</template>

<script>
import api from "@/api";

export default {
  name: "PersonPicker",

  props: {
    // pass it here for editing
    value: null,
    label: { default: null },
    rules: { type: Array, default: () => [] },
    messages: { type: Array, default: () => [] },
    team_only: { type: Boolean, default: false },
  },

  data() {
    return {
      entries: [],
      isLoading: false,
      model: null,
      search: "",
      searchTerm: "",
      timeoutVar: null,
      placeholder: null,
    };
  },

  computed: {
    items() {
      var data = [];
      for (var i in this.entries) {
        data.push({
          label: this.labelFromData(this.entries[i]),
          cms_id: this.valueFromData(this.entries[i]),
        });
      }
      return data;
    },
    cmsId: {
      get: function () {
        return this.value;
      },
      set: function (newValue) {
        this.model = newValue;
      },
    },
  },

  methods: {
    changeListener(event) {
      console.debug("VuetifyPersonPicker: Change listener invoked.");
      console.debug("EVENT VALUE: " + event);
    },

    labelFromData(data) {
      return (
        data["first_name"] +
        " " +
        data["last_name"] +
        " (" +
        data["inst_code"] +
        ", " +
        data["cms_id"] +
        ")"
      );
    },

    valueFromData(data) {
      return data["cms_id"];
    },

    suppressQuery(searchTerm) {
      // this is a prevention mechanism against user selection triggering another autocomplete search for the nicely formatted label
      // any attempt to use the events proved futile
      for (var i in this.entries) {
        if (this.labelFromData(this.entries[i]) == searchTerm) {
          console.debug(
            "Suppressing suggestions query for input: " + searchTerm
          );
          return true;
        }
      }
      return false;
    },

    async fetchPersonDataForValue(cmsId) {
      /*
                Used to display correct data when the CMS ID is set externally (e.g. editing some entries).
                Ideally, it should be automatically invoked by the component whenever a value is enforced.
            */
      console.debug(
        "VuetifyPersonPicker: Fetching display info for received CMS ID " +
          cmsId
      );
      var component = this;
      if (cmsId) {
        const userData = await new api.UserInfoCall().setCmsId(cmsId).get();
        /*
        As long as the relevant fields are named identically between the relevant endpoints,
        we can just push the data to entries and rely on the computed property to transform it
        into a meaningful dropdown item
      */
        component.entries = [userData];
        component.model = cmsId;
      }
    },
  },
  watch: {
    async search(term) {
      if (term === null) return;
      // suppress queries triggered by selection from drop-down (as opposed to queries triggered by users typing something in)
      if (this.suppressQuery(term)) return;
      console.debug(
        "PersonPicker: search callback in action for term: " + term
      );
      if (term == null || term.length == 0) {
        this.entries = [];
        return;
      }
      console.debug("VuetifyPersonPicker, autocomplete, term is: " + term);
      if (this.timeoutVar != null) {
        window.clearTimeout(this.timeoutVar);
      }

      this.timeoutVar = window.setTimeout(async () => {
        if (this.isLoading) return;
        this.isLoading = true;

        console.debug("Will re-fetch the list of suggestions");
        this.entries = [];
        let data;
        if (this.team_only) {
          data = await new api.PeopleSuggestionsCall(term)
            .setTeamOnly(true)
            .get();
        } else {
          data = await new api.PeopleSuggestionsCall(term).get();
        }
        this.entries = data;
        this.isLoading = false;
        console.debug(
          "VuetifyPersonPicker received " +
            this.entries.length +
            " search suggestions."
        );
      }, 433);
    },
    cmsId(newValue) {
      if (newValue !== null) {
        this.fetchPersonDataForValue(newValue);
      } else {
        this.model = null;
        this.entries = [];
      }
      console.debug("PersonPicker: cmsId got a new value of " + this.value);
    },
  },
  created: function () {
    if (this.cmsId !== null) {
      this.fetchPersonDataForValue(this.cmsId);
      console.debug(
        "Person-picker component created with CMS ID set to " + this.cmsId
      );
    }
  },
};
</script>
