<template>
  <base-page>
    <template v-slot:toolbar-title>Author Data Management</template>
    <template v-slot:toolbar-right>
      <v-btn v-if="canUpdate" icon @click.stop="openEditDialog(null)"
        ><v-icon>{{ icon.add_circle }}</v-icon></v-btn
      >
    </template>
    <template v-slot:header>
      <v-container class="text-center" fluid style="padding: 0">
        <v-row align="center">
          <v-spacer />
          <v-col cols="2">
            <v-text-field
              v-model="search"
              :append-icon="icon.search"
              label="Search"
            />
          </v-col>
        </v-row>
      </v-container>
    </template>
    <template v-slot:body>
      <data-table
        :headers="headers"
        :items="tableData"
        :loading="loading"
        :search="search"
        item-key="key"
      >
        <template v-slot:[`item.actions`]="{ item }">
          <div v-if="item.isEditable" class="w-100">
            <v-icon @click="openEditDialog(item)">{{ icon.edit }}</v-icon>
          </div>
        </template>
      </data-table>
      <edit-dialog
        v-model="showEditDialog"
        :item="selectedItem"
        @create="entryCreated"
        @update="entryUpdated"
      />
    </template>
  </base-page>
</template>

<script>
import Vue from "vue";
import api from "@/api";
import { icon } from "@/utils/constants";
import EditDialog from "./EditDialog";

export default {
  components: {
    EditDialog,
  },
  data() {
    return {
      data: [],
      loading: false,

      search: "",

      selectedItem: null,
      showEditDialog: false,
    };
  },
  computed: {
    editablesCount() {
      return this.tableData.filter((e) => e.isEditable).length;
    },
    canUpdate() {
      return (
        this.data.length > 0 &&
        this.data[0]["_links"] &&
        this.data[0]["_links"]["update"]
      );
    },
    headers() {
      const baseHeaders = [
        { text: "Name", value: "name", sortable: true },
        { text: "CMS ID", value: "cms_id", sortable: true },
        { text: "HR ID", value: "hr_id", sortable: true },
        { text: "Inspire ID", value: "inspire_id", sortable: true },
        { text: "Last Update", value: "last_update", sortable: true },
        { text: "Orc ID", value: "orc_id", sortable: true },
      ];
      const conditionalHeaders =
        this.editablesCount > 0
          ? [{ text: "Actions", value: "actions", sortable: false }]
          : [];
      return [...baseHeaders, ...conditionalHeaders];
    },
    tableData() {
      return this.data.map((d) => ({
        ...d,
        name: d.forename + " " + d.surname,
        isEditable: (d["_links"] || {})["update"] !== undefined,
      }));
    },
  },
  methods: {
    async fetchData() {
      this.loading = true;
      this.data = await new api.AuthorDataCall().get();
      this.loading = false;
    },
    openEditDialog(item) {
      this.selectedItem = item;
      this.showEditDialog = true;
    },
    entryCreated(item) {
      this.data.push(item);
    },
    entryUpdated(item) {
      const index = this.data.findIndex((d) => d.cms_id === item.cms_id);
      if (index) {
        Vue.set(this.data, index, item);
      }
    },
  },
  mounted() {
    this.fetchData();
  },
  created() {
    this.icon = icon;
  },
};
</script>
