<template>
  <base-page>
    <template v-slot:toolbar-title>{{ title }}</template>
    <template v-slot:header>
      <v-container class="text-center" fluid style="padding: 0">
        <v-row align="center">
          <v-spacer />
          <v-col cols="3">
            <v-text-field
              v-model="search"
              :append-icon="icon.search"
              label="Search"
            />
          </v-col>
        </v-row>
      </v-container>
    </template>
    <template v-slot:body>
      <data-table
        :headers="headers"
        :items="data"
        :loading="fetchingUserData"
        :search="search"
      >
      </data-table>
    </template>
  </base-page>
</template>

<script>
import api from "@/api";
import { icon } from "@/utils/constants";

export default {
  name: "ALMentions",
  props: {
    cmsId: { required: false, type: String, default: null },
    // overriding the mixin's prop to leverage DataTables
  },
  data() {
    return {
      search: "",
      userInfo: null,
      data: [],
      fetchingUserData: false,
    };
  },
  watch: {
    // whenever the cmsId changes we need to refetch the data, but first we invalidate it to trigger a repaint
    $route() {
      console.debug("value of cmsId prop changed!");
      this.tableData = null;
      this.refetch();
    },

    userInfo(val) {
      new api.AuthorListMentionsCall()
        .setCmsId(val["cms_id"])
        .get()
        .then((data) => (this.data = data));
    },
  },
  // we fetch the data for the first time once the component is mounted
  mounted() {
    this.refetch();
  },
  methods: {
    // our refetch method makes use of mixin's dataSuccess to repopulate the table
    refetch() {
      if (!this.fetchingUserData) {
        if (this.cmsId != null) {
          console.debug("Fetching user info for CMS ID " + this.cmsId);
          new api.UserInfoCall()
            .setCmsId(this.cmsId)
            .get()
            .then(this.setUserInfo);
        } else {
          console.debug("Fetching current user info");
          new api.UserInfoCall().get().then(this.setUserInfo);
        }
        this.fetchingUserData = true;
      }
    },
    setUserInfo(data) {
      console.debug("Setting user data");
      this.userInfo = data;
      this.fetchingUserData = false;
    },
  },
  computed: {
    title() {
      if (this.userName != null) {
        return "Author List mentions of " + this.userName;
      } else {
        return "Author List mentions";
      }
    },
    userName() {
      if (this.userInfo != null) {
        return this.userInfo["first_name"] + " " + this.userInfo["last_name"];
      }
      return null;
    },
  },
  created() {
    this.headers = [
      { text: "Code", value: "code", sortable: true },
      { text: "Title", value: "title", sortable: true },
      { text: "Journal", value: "journal", sortable: true },
      { text: "CDS upload date", value: "cds_upload_date", sortable: true },
      { text: "CADI Status", value: "cadi_status", sortable: true },
    ];
    this.icon = icon;
  },
};
</script>
